.card {
 border-radius: var(--corner);
 background-color: rgba(255, 255, 255, 0.8);
 -webkit-backdrop-filter: blur(0.5rem);
         backdrop-filter: blur(0.5rem);
 color: #213d85;
 --_theme_color-500: var(--theme_color-500);
}
.card[event-type=grass], [event-type=grass] .card, .card[event-type=Grass], [event-type=Grass] .card {
 --theme_color-500: #94d13d;
 --theme_color-200: #d1f095;
 --theme_color-900: #3b520e;
}
.card[event-type=indoor], [event-type=indoor] .card, .card[event-type=Indoor], [event-type=Indoor] .card {
 --theme_color-500: #f16122;
 --theme_color-200: #f0c4b5;
 --theme_color-900: #592817;
}
.card[event-type=beach], [event-type=beach] .card .card[event-type=Beach], [event-type=Beach] .card {
 --theme_color-500: #f9d452;
 --theme_color-200: #f0e6b5;
 --theme_color-900: #625619;
}
.card[event-type=clinic], [event-type=clinic] .card {
 --theme_color-500: #76affe;
 --theme_color-200: #a9bfeb;
 --theme_color-900: #192d62;
}
.card[event-type=sitting], [event-type=sitting] .card {
 --theme_color-500: #76affe;
 --theme_color-200: #a9bfeb;
 --theme_color-900: #192d62;
}

a.card {
 text-decoration: none;
 box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0);
 transition: 0.5s all;
 position: relative;
 top: 0;
}
a.card:hover {
 background-color: var(--_theme_color-500);
 box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0.08);
 color: var(--brand-900);
 top: -0.2em;
}