//compile button styles
@use "../../abstracts" as *;
@forward "icon_card";
@forward "resource_card";
@forward "location_card";

@forward "tournament_card";
@forward "event_card";
@forward "league_card";

.card {
	border-radius: calc(0.75 * var(--corner));
	background-color: rgba(255, 255, 255, 0.8);

	backdrop-filter: blur(0.5rem);
	color: $brand-700;
}

a.card {
	text-decoration: none;
	box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0);
	transition: 0.5s all;
	position: relative;
	top: 0;

	&:hover {
		background-color: var(--theme_color-500);
		box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0.08);
		color: $brand-900;
		top: -0.2em;
	}
}
