//compile button styles
@use "../../abstracts" as *;
@forward "icon_card";
@forward "resource_card";
@forward "location_card";

@forward "tournament_card";
@forward "event_card";
@forward "league_card";

.card {
	border-radius: calc(0.75 * var(--corner));
	background-color: var(--theme_color-700t);
	backdrop-filter: blur(0.5rem);
	color: var(--theme_color-200);
}

a.card {
	text-decoration: none;
	box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0);
	transition: 0.5s background-color, 0.5s color;

	&:hover {
		background-color: var(--theme_color-500);
		box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0.08);
		color: var(--theme_color-800);
		transform: translateY(-0.2em);

		&.theme_beach,
		.theme_beach & {
			box-shadow: 0px 10px 16px -4px rgba(255, 255, 200, 0.3);
		}
	}
}
