@use "sass:color";
@use "../../abstracts" as *;

// Event Item
// Visual: https://www.figma.com/file/oxtfUo8w4dRLkkJmcEBwpA/PHLVB---Website?type=design&node-id=974%3A87921&mode=design&t=R2KzsaKVTOGgvz6r-1
// Dependancy: none

//================================================
/*css/components/cards/event_card.scss*/
//================================================

.event_card {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 24/16 * 1rem;
	gap: 1rem;

	&-- {
		&date {
			font-size: 14/16 * 1rem;
			line-height: 100%;
			font-weight: $sans_font;
			text-transform: uppercase;
			display: flex;
			gap: 0;
			align-items: justify;
			align-items: center;
			@include sm {
				font-size: 12/16 * 1rem;
			}
			.date {
				font-weight: 500;
				display: flex;
				border-right: 1px solid currentColor;
				padding-right: 0.625em;
				margin-right: 0.625em;
				gap: inherit;
			}
			.type-indicator.dot {
				margin-right: 0.625em;
			}
			.comma {
				margin-right: 0.25em;
			}
		}

		&description {
			display: grid;
			gap: 0.75rem;
			grid-template-columns: 1fr auto;
			position: relative;
		}
		&title {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			grid-column: 1/-1;
			h4 {
				line-height: 110%;
				transition: 0.5s color;
				font-weight: 600;
				transition: 0.5s all;
				@include sm {
					font-size: 20/16 * 1rem;
				}
			}
		}
		&level {
			grid-column: 1;
			align-self: end;
			display: flex;
			gap: 0.5em;
			font-size: 14/16 * 1rem;
			line-height: 100%;
			.rank {
				font-weight: 600;
			}
		}
		&location {
			grid-column: 2;
			grid-row: 2;
			align-self: end;
		}
	}
}
