/*css/components/cards/event_card.scss*/
.event_card {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 padding: 1.5rem;
 gap: 1rem;
}
.event_card.has-media {
 display: grid;
 grid-template-rows: auto 1fr;
 border-radius: 0.625rem;
 padding: 0.625rem;
 background: var(--theme_color-500);
 color: #ffffff;
 gap: 0.625rem;
 aspect-ratio: 250/350;
 box-shadow: 0px 8px 12px -5px rgba(15, 0, 0, 0.5);
 container-type: inline-size;
 transition: 0.3s all;
}
.event_card.has-media:hover {
 color: #ffffff;
 box-shadow: 0px 8px 20px -5px rgba(15, 0, 0, 0.8);
}
.event_card--date {
 font-size: 0.875rem;
 line-height: 100%;
 font-weight: "roc-grotesk", Helvetica, sans-serif;
 text-transform: uppercase;
 display: flex;
 gap: 0.625rem;
 align-items: justify;
}
.event_card--date .date {
 font-weight: 500;
 display: flex;
 gap: inherit;
 color: var(--theme_color-100);
}
.has-media .event_card--date .date {
 color: var(--theme_color-900);
 font-weight: 400;
 font-size: 7.5cqi;
}
a:hover .event_card--date .date {
 color: var(--theme_color-900);
}
.event_card--date .date::after {
 content: "";
 display: block;
 height: 100%;
 border-right: 1px solid currentColor;
}
.has-media .event_card--date .date::after {
 display: none;
}
.event_card--date .time {
 color: var(--theme_color-200);
}
a:hover .event_card--date .time {
 color: var(--theme_color-800);
}
.has-media .event_card--media_area {
 grid-column: 1;
 grid-row: 2;
 border-radius: 0.5rem;
 overflow: hidden;
 box-shadow: 0px 8px 12px -5px rgba(15, 0, 0, 0.3);
}
.has-media .event_card--media_area img {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 -o-object-fit: cover;
    object-fit: cover;
 transition: 0.3s all;
}
.has-media .event_card--media_area::after {
 content: "";
 display: block;
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 -o-object-fit: cover;
    object-fit: cover;
 --color_start: rgba(0, 0, 0, 0.6);
 --color_end: rgba(0, 0, 0, 0);
 --direction: 0deg;
 background: linear-gradient(var(--direction), var(--color_start) 20%, var(--color_end) 80%);
}
a.has-media:hover .event_card--media_area {
 box-shadow: 0px 8px 20px -5px rgba(15, 0, 0, 0.8);
}
a.has-media:hover .event_card--media_area img {
 scale: 1.1;
}
.event_card--description {
 display: grid;
 gap: 0.75rem;
 grid-template-columns: 1fr auto;
 position: relative;
}
.has-media .event_card--description {
 grid-column: 1;
 grid-row: 2;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 padding: 0.75rem 0.75rem 1rem 0.75rem;
 gap: 0.5rem;
}
.event_card--title {
 display: flex;
 flex-direction: column;
 gap: 0.25rem;
}
.event_card--title h4 {
 color: var(--theme_color-100);
 line-height: 110%;
}
a:hover .event_card--title h4 {
 color: var(--theme_color-900);
}
.has-media .event_card--title h4 {
 color: #ffffff;
 font-size: 15cqi;
}
a.has-media:hover .event_card--title h4 {
 color: #ffffff;
}
.has-media .event_card--title .type {
 display: none;
}
.event_card--level {
 grid-column: 1;
 align-self: end;
 display: flex;
 gap: 0.5em;
 font-size: 0.875rem;
 line-height: 100%;
 font-weight: "roc-grotesk", Helvetica, sans-serif;
}
.has-media .event_card--level {
 align-self: start;
 font-size: 8cqi;
}
.event_card--level .rank {
 font-weight: 600;
}
.event_card--location {
 grid-column: 2;
 grid-row: 1/3;
 align-self: end;
}
.has-media .event_card--location {
 align-self: start;
}
.has-media .event_card--location .location {
 padding: 0.5em 1em;
 font-size: 5cqi;
 color: #ffffff;
}
.has-media:hover .event_card--location .location {
 color: #ffffff;
}