/*css/components/cards/icon_card.scss*/
.icon_card {
 padding: 2rem;
 border-radius: 0.75rem;
 transition: 0.3s all;
 container-type: inline-size;
}
@media (min-width: 1440px) {
 .icon_card {
  padding: 3rem 2rem;
 }
}
.icon_card--text_area {
 display: flex;
 flex-direction: column;
 gap: 1.5rem;
 align-items: flex-start;
 justify-content: flex-start;
}
.icon_card--text_content {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}
.icon_card--text_content p {
 color: #213d85;
 transition: 0.3s all;
}
.icon_card--text_content .arrow_button {
 transition: 0.3s all;
}
a:hover .icon_card--text_content .arrow_button {
 transform: translateX(1rem);
}
.icon_card--text_content .arrow_button svg {
 width: 2rem;
}
.icon_card--text_content .arrow_button svg .stroke {
 stroke: currentColor;
 stroke-width: 2.5;
}
.icon_card--header {
 display: flex;
 gap: 1rem;
 transition: 0.3s all;
 align-items: center;
}
@container (max-width: 280px) {
 .icon_card--header {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
 }
}
.icon_card--header span {
 display: inline-block;
 margin-top: 0.25em;
}
.icon_card--header h1,
.icon_card--header h2,
.icon_card--header h3,
.icon_card--header h4,
.icon_card--header h5,
.icon_card--header h6 {
 flex-grow: 1;
 color: inherit;
}
.icon_card--icon {
 width: 1.5em;
 height: 1.5em;
 flex-shrink: 0;
}
.icon_card--icon .fill {
 fill: currentColor;
}

a.icon_card:hover {
 background: var(--theme_color-500);
}
a.icon_card:hover.for-indoor {
 background: #f16122;
}
a.icon_card:hover.for-grass {
 background: #94d13d;
}