@use "sass:color";
@use "../../abstracts" as *;

// Tournament Item
// Visual: https://www.figma.com/file/oxtfUo8w4dRLkkJmcEBwpA/PHLVB---Website?node-id=148%3A10171&t=YZtFunZ3xKrlzhUX-1
// Dependancy: none

//================================================
/*css/components/cards/tournament_card.scss*/
//================================================

.tournament_card {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 24/16 * 1rem;
	gap: 1rem;
	&-- {
		&date {
			font-size: 14/16 * 1rem;
			line-height: 100%;
			font-weight: $sans_font;
			text-transform: uppercase;
			display: flex;
			gap: 10/16 * 1rem;
			align-items: justify;
			font-weight: 500;
			display: flex;
			gap: inherit;
			transition: 0.5s color;
			color: var(--theme_color-100);
			a:hover & {
				color: var(--theme_color-900);
			}
		}
		&description {
			display: grid;
			gap: 16/16 * 1rem;
			grid-template-columns: 1fr 1fr auto;
			@include sm {
				grid-template-columns: 1fr auto;
			}
			@include xs {
				grid-template-columns: 1fr;
			}
		}
		&title {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			transition: 0.5s color;
			@include header_tags {
				color: var(--theme_color-100);
				transition: 0.5s color;
				a:hover & {
					color: var(--theme_color-900);
				}
			}
			.type {
				aside & {
					display: none;
				}
			}
		}

		&body {
			p {
				font-size: 15/16 * 1rem;
				color: var(--theme_color-100);
				transition: 0.5s color;
				a:hover & {
					color: var(--theme_color-900);
				}
			}
			.host {
				font-weight: 600;
				text-decoration: underline;
				transition: 0.5s color;
				color: var(--theme_color-100);
				a:hover & {
					color: var(--theme_color-900);
				}
			}
			@include sm {
				grid-column: 1;
			}
			aside & {
				display: none;
			}
		}
		&location {
			@include sm {
				grid-row: 1;
				grid-column: 2;
				margin-top: 0.5rem;
			}
			@include xs {
				margin-right: auto;
				grid-row: auto;
				grid-column: auto;
				margin-top: auto;
			}
			aside & {
				display: none;
			}
		}
	}
}
