/*css/components/cards/tournament_card.scss*/
.tournament_card {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 padding: 1.5rem;
 gap: 1rem;
}
.tournament_card--date {
 font-size: 0.875rem;
 line-height: 100%;
 font-weight: trade-gothic-next, "Gothic A1", sans-serif;
 text-transform: uppercase;
 display: flex;
 gap: 0.625rem;
 align-items: justify;
 font-weight: 500;
 display: flex;
 gap: inherit;
 transition: 0.5s color;
}
.tournament_card--description {
 display: grid;
 gap: 1rem;
 grid-template-columns: 1fr 1fr auto;
}
@media (max-width: 767px) {
 .tournament_card--description {
  grid-template-columns: 1fr auto;
 }
}
@media (max-width: 576px) {
 .tournament_card--description {
  grid-template-columns: 1fr;
 }
}
.tournament_card--title {
 display: flex;
 flex-direction: column;
 gap: 0.25rem;
 transition: 0.5s color;
}
.tournament_card--title h1,
.tournament_card--title h2,
.tournament_card--title h3,
.tournament_card--title h4,
.tournament_card--title h5,
.tournament_card--title h6 {
 font-weight: 600;
}
.tournament_card--host {
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 font-style: italic;
 font-weight: 800;
 font-size: 14px;
 line-height: 135%;
 letter-spacing: 0.05em;
 text-transform: uppercase;
}
.tournament_card--host .host_name {
 color: var(--_theme_color-500);
 transition: 0.3s all;
}
a:hover .tournament_card--host .host_name {
 color: var(--brand-900);
}
.tournament_card--body p {
 font-size: 0.9375rem;
}
@media (max-width: 767px) {
 .tournament_card--body {
  grid-column: 1;
 }
}
aside .tournament_card--body {
 display: none;
}
.tournament_card--location {
 display: flex;
 align-items: flex-end;
}
@media (max-width: 767px) {
 .tournament_card--location {
  grid-row: 1;
  grid-column: 2;
  margin-top: 0.5rem;
 }
}
@media (max-width: 576px) {
 .tournament_card--location {
  margin-right: auto;
  grid-row: auto;
  grid-column: auto;
  margin-top: auto;
 }
}
aside .tournament_card--location {
 display: none;
}