.pickup--section {
 padding-top: 0;
}
.pickup--wrapper {
 grid-column: 2/-2;
 display: grid;
 grid-template-columns: 3fr 9fr;
 gap: var(--gap);
 padding: 2rem 0;
 position: relative;
}
@media (max-width: 991px) {
 .pickup--wrapper {
  grid-template-columns: 4fr 8fr;
 }
}
@media (max-width: 767px) {
 .pickup--wrapper {
  grid-template-columns: 1fr;
 }
}
.pickup--header {
 grid-column: 2;
 grid-row: 1;
}
@media (max-width: 767px) {
 .pickup--header {
  grid-column: auto;
  grid-row: auto;
 }
}
.pickup--filters {
 grid-column: 1;
 grid-row: 2;
 color: #192d62;
 display: flex;
 flex-direction: column;
 gap: 1.5rem;
}
@media (max-width: 767px) {
 .pickup--filters {
  grid-column: auto;
  grid-row: 2;
 }
}
.pickup--list {
 grid-column: 2;
 grid-row: 2;
}
@media (max-width: 767px) {
 .pickup--list {
  grid-column: auto;
  grid-row: auto;
 }
}