@use "sass:color";
@use "../abstracts" as *;

#optix-grass-1 {
	position: absolute;
	max-width: 275/16 * 1rem;
	min-width: 130/16 * 1rem;
	width: 25%;
	right: 0;
	top: 0;
	z-index: -1;
}

#optix-grass-2 {
	position: absolute;
	max-width: 500/16 * 1rem;
	min-width: 180/16 * 1rem;
	width: 45%;
	left: 0;
	top: 0;
	z-index: -1;
}
