#optix-grass-1 {
 position: absolute;
 max-width: 17.1875rem;
 min-width: 8.125rem;
 width: 25%;
 right: 0;
 top: 0;
 z-index: -1;
}

#optix-grass-2 {
 position: absolute;
 max-width: 31.25rem;
 min-width: 11.25rem;
 width: 45%;
 left: 0;
 top: 0;
 z-index: -1;
}