#optix-grass-1 {
 position: absolute;
 max-width: 14.0625rem;
 min-width: 8.125rem;
 width: 20%;
 right: 0;
 top: 0;
 z-index: -1;
}

#optix-grass-2 {
 position: absolute;
 max-width: 26.5625rem;
 max-height: 26.5625rem;
 min-width: 11.25rem;
 width: 30%;
 left: 0;
 top: 0;
 z-index: -1;
}