.home_hero--section {
 overflow: visible;
 padding: 0;
 grid-row-gap: 0;
 overflow: hidden;
}
.home_hero--overlay {
 opacity: 0.5;
 background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
 mix-blend-mode: multiply;
 grid-column: 1/-1;
 height: 8.75rem;
 position: relative;
 z-index: 10;
}
.home_hero--text_area {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 gap: 1rem;
 grid-column: 2/span 8;
 padding-block: var(--fr_unit);
 z-index: 20;
 margin-bottom: clamp(0rem, 10rem - 10vw, 15rem);
}
@media (max-width: 767px) {
 .home_hero--text_area {
  grid-column: 2/span 10;
 }
}
@media (max-width: 576px) {
 .home_hero--text_area {
  grid-column: 2/span 12;
 }
}
.home_hero--text_content {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
 align-items: flex-start;
}
.home_hero--text_content .eyebrow {
 color: #ffffff;
}
.home_hero--text_content h1,
.home_hero--text_content p {
 color: #ffffff;
 max-width: 50ch;
}
.home_hero--text_content h1 {
 font-size: calc(1.639vw + 2.02993125rem);
}
@media (min-width: 1440px) {
 .home_hero--text_content h1 {
  font-size: 3.50503125rem;
 }
}
.home_hero--pagination {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.625rem;
 margin-block: var(--gap);
 grid-column: 2/-2;
 position: relative;
 z-index: 11;
}
.home_hero--pagination span {
 width: 1.875rem;
 background-color: #bccceb;
 opacity: 0.5;
 border-radius: 0.25rem;
 height: 0.25rem;
}
.home_hero--pagination span.active {
 background-color: #76affe;
 opacity: 1;
 width: 5rem;
}
.home_hero--media_area {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.home_hero--layer_1 {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 overflow: hidden;
 z-index: 1;
}
.home_hero--layer_1::after {
 content: "";
 display: block;
 background-color: black;
 opacity: 0.25;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.home_hero--layer_1 > img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.home_hero--layer_2 {
 z-index: 2;
 --initial_rotation: 35deg;
 height: 110%;
 aspect-ratio: 1;
 translate: 10% 5%;
 rotate: var(--initial_rotation);
 position: absolute;
 bottom: 0;
 right: 0;
 border-radius: 50%;
 overflow: hidden;
 transition: 300ms all;
}
@media (max-width: 991px) {
 .home_hero--layer_2 {
  height: 80%;
  translate: 10% 5%;
  bottom: 0;
 }
}
@media (max-width: 767px) {
 .home_hero--layer_2 {
  height: 80%;
  bottom: 0%;
  right: 0%;
  translate: 10% 5%;
 }
}
@media (max-width: 576px) {
 .home_hero--layer_2 {
  height: 100vw;
  translate: 25% 5%;
 }
}
.home_hero--layer_3 {
 z-index: 3;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 height: 70%;
 aspect-ratio: 1;
 border-radius: 50%;
 overflow: hidden;
}
.home_hero--layer_3::after {
 content: "";
 display: block;
 background-color: black;
 opacity: 0.15;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.home_hero--layer_3 img {
 min-height: 100%;
 -o-object-fit: cover;
    object-fit: cover;
 rotate: calc(var(--initial_rotation) * -1);
}

.home_hero--layer_1 {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.home_hero--layer_1 img {
 width: 100%;
}

.home_hero--layer_2 img {
 width: 100%;
 height: 100%;
}
.home_hero--layer_2 .swiper-slide {
 transition: 0.3s all;
}
.home_hero--layer_2 .swiper-slide-next {
 translate: 50% 0;
}
.home_hero--layer_2 .swiper-slide-inner {
 width: 100%;
 height: 100%;
}