#molten-blue-1 {
	position: absolute;
	max-width: 14.0625rem;
	min-width: 8.125rem;
	width: 20%;
	left: 0;
	top: 0;
	z-index: -1;
}

#molten-blue-2 {
	position: absolute;
	max-width: 20.5625rem;
	max-height: 20.5625rem;
	min-width: 11.25rem;
	width: 30%;
	right: 0;
	top: 0;
	z-index: -1;
}

.feature_hero--background_media-image[data-side="right"] {
	--height: 300;
	--width: 334;
	--intial_x: 0%;
	--intial_y: 0%;
	--span: span 4;
}
@media (max-width: 767px) {
	.feature_hero--background_media-image[data-side="right"] {
		--span: span 6;
	}
}

.feature_hero--background_media-image[data-side="left"] {
	--height: 612;
	--width: 300;
	--intial_x: 0%;
	--intial_y: 40%;
	--span: span 5;
}
@media (max-width: 767px) {
	.feature_hero--background_media-image[data-side="left"] {
		--span: span 5;
		--intial_y: 45%;
	}
}
