html {
 scroll-behavior: smooth;
}

body {
 background-color: #edf0f8;
}

:root {
 --gap: 1.5rem;
 --fr_unit: 5vw;
 --rp: calc(var(--fr_unit) * 0.5);
 --corner: 0.25rem;
 --section_padding: 3.75rem;
 --text_content_gap: 0.75rem;
}
@media (max-width: 991px) {
 :root {
  --gap: 1.5rem;
  --rp: calc(var(--fr_unit) * 0.75);
  --section_padding: 3.4375rem;
 }
}
@media (max-width: 767px) {
 :root {
  --gap: 1.25rem;
  --rp: calc(var(--fr_unit) * 1);
  --section_padding: 3.125rem;
 }
}
@media (max-width: 576px) {
 :root {
  --gap: 1rem;
  --rp: calc(var(--fr_unit) * 1.5);
  --section_padding: 2.8125rem;
 }
}

* {
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 letter-spacing: -0.02em;
 line-height: 1.35;
}

img {
 max-width: 100%;
 height: auto;
}

main .container {
 display: flex;
 flex-direction: column;
 gap: 0.75rem;
}

hr {
 margin-block: var(--gap);
 width: 100%;
 border: 0;
 border-bottom-color: currentcolor;
 border-bottom-style: none;
 border-bottom-width: 0px;
 border-bottom: 1px solid var(--brand-100);
}