@use "sass:color";
@use "../abstracts" as *;

html {
	scroll-behavior: smooth;
}

body {
	background-color: $brand-50;
}

:root {
	--gap: 1.5rem;
	--fr_unit: 5vw;
	--rp: calc(var(--fr_unit) * 0.5);
	--corner: #{4/16 * 1rem};

	@include md {
		--gap: 1.25rem;
		--rp: calc(var(--fr_unit) * 0.75);
	}
	@include sm {
		--gap: 1rem;
		--rp: calc(var(--fr_unit) * 1);
	}
	@include xs {
		--gap: 0.75rem;
		--rp: calc(var(--fr_unit) * 1.5);
	}
}

* {
	font-family: $sans_font;
	letter-spacing: -0.02em;
	line-height: 1.35;
}

img {
	max-width: 100%;
	height: auto;
}

main {
	.container {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}
}

hr {
	margin-block: var(--gap);
	width: 100%;
	border: 0;
	border-bottom-color: currentcolor;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-bottom: 1px solid var(--theme_color-800);
}
