@use "sass:color";
@use "../../abstracts" as *;

@mixin label_active {
	top: 0.5em;
	font-size: 0.675em;
	translate: 0 0%;
	color: $brand-700;
	left: 1.5em;
}

.input_area {
	position: relative;
	display: flex;
	justify-content: stretch;
	width: 100%;
	label {
		font-family: $sans_font;
		font-size: 1em;
		font-weight: 400;
		line-height: 100%;
		position: absolute;
		top: 50%;
		translate: 0 -50%;
		left: 1.5em;
		pointer-events: none;
		color: $brand-700;
		transition: 0.3s all;
		margin-bottom: 0; //webflow override
	}
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"] {
	display: flex;
	padding: 18/16 * 1em 1em 10/16 * 1em 1em;
	align-items: flex-start;
	align-self: stretch;
	border-radius: 0.25em;
	border: 1px solid $brand-200;
	background: $brand-100;
	color: $brand-900;
	font-family: $sans_font;
	font-size: 1em;
	font-style: normal;
	font-weight: 400;
	width: 100%;
	transition: 0.3s all;
	margin-bottom: 0; //webflow override

	&:hover {
		border: 1px solid var(--theme_color-500);
	}

	&:focus {
		outline-offset: 0.25em;
		outline: 1px solid $brand-600;
		& + label {
			@include label_active;
		}
	}
	&:not(:placeholder-shown) {
		& + label {
			@include label_active;
		}
	}
}

textarea.contact_form--field {
	display: flex;
	padding: 18/16 * 1em 1.5em 10/16 * 1em 1.5em;
	align-items: flex-start;
	align-self: stretch;
	border-radius: 0.25em;
	border: 1px solid $brand-200;
	background: $brand-100;
	color: $brand-700;
	font-size: 1em;
	font-weight: 400;
	width: 100%;
	transition: 0.3s all;
	margin-bottom: 0;

	.input_area & + label {
		top: 1em;
		translate: 0 0;
	}

	&:hover {
		border: 1px solid var(--theme_color-500);
	}

	&:focus {
		outline-offset: 0.25em;
		outline: 1px solid $brand-600;
		& + label {
			@include label_active;
		}
	}
	&:not(:placeholder-shown) {
		& + label {
			@include label_active;
		}
	}
}

.contact_form--radio {
	display: flex;
	gap: var(--gap);
	.contact_form--radio_option {
		position: relative;
	}
	.w-radio-input {
		display: none;
	}
	.w-radio:before,
	.w-radio:after {
		content: " ";
		width: 1em;
		height: 1em;
		display: block;
		border: 2px solid currentColor;
		border-radius: 50%;
	}
	.w-radio {
		display: flex;
	}
	.w-radio::after {
		width: 0.875em;
		background: red;
		height: 0.875em;
		position: absolute;
	}
}
