.input_area {
 position: relative;
 display: flex;
 justify-content: stretch;
 width: 100%;
}
.input_area label {
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: 1em;
 font-weight: 400;
 line-height: 100%;
 position: absolute;
 top: 50%;
 translate: 0 -50%;
 left: 1.5em;
 pointer-events: none;
 color: #213d85;
 transition: 0.3s all;
 margin-bottom: 0;
}

input[type=text],
input[type=number],
input[type=email],
input[type=tel] {
 display: flex;
 padding: 1.125em 1em 0.625em 1em;
 align-items: flex-start;
 align-self: stretch;
 border-radius: 0.25em;
 border: 1px solid #a9bfeb;
 background: #bccceb;
 color: #192d62;
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: 1em;
 font-style: normal;
 font-weight: 400;
 width: 100%;
 transition: 0.3s all;
 margin-bottom: 0;
}
input[type=text]:hover,
input[type=number]:hover,
input[type=email]:hover,
input[type=tel]:hover {
 border: 1px solid var(--theme_color-500);
}
input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=tel]:focus {
 outline-offset: 0.25em;
 outline: 1px solid #1b40a6;
}
input[type=text]:focus + label,
input[type=number]:focus + label,
input[type=email]:focus + label,
input[type=tel]:focus + label {
 top: 0.5em;
 font-size: 0.675em;
 translate: 0 0%;
 color: #213d85;
 left: 1.5em;
}
input[type=text]:not(:-moz-placeholder-shown) + label, input[type=number]:not(:-moz-placeholder-shown) + label, input[type=email]:not(:-moz-placeholder-shown) + label, input[type=tel]:not(:-moz-placeholder-shown) + label {
 top: 0.5em;
 font-size: 0.675em;
 translate: 0 0%;
 color: #213d85;
 left: 1.5em;
}
input[type=text]:not(:placeholder-shown) + label,
input[type=number]:not(:placeholder-shown) + label,
input[type=email]:not(:placeholder-shown) + label,
input[type=tel]:not(:placeholder-shown) + label {
 top: 0.5em;
 font-size: 0.675em;
 translate: 0 0%;
 color: #213d85;
 left: 1.5em;
}

textarea.contact_form--field {
 display: flex;
 padding: 1.125em 1.5em 0.625em 1.5em;
 align-items: flex-start;
 align-self: stretch;
 border-radius: 0.25em;
 border: 1px solid #a9bfeb;
 background: #bccceb;
 color: #213d85;
 font-size: 1em;
 font-weight: 400;
 width: 100%;
 transition: 0.3s all;
 margin-bottom: 0;
}
.input_area textarea.contact_form--field + label {
 top: 1em;
 translate: 0 0;
}
textarea.contact_form--field:hover {
 border: 1px solid var(--theme_color-500);
}
textarea.contact_form--field:focus {
 outline-offset: 0.25em;
 outline: 1px solid #1b40a6;
}
textarea.contact_form--field:focus + label {
 top: 0.5em;
 font-size: 0.675em;
 translate: 0 0%;
 color: #213d85;
 left: 1.5em;
}
textarea.contact_form--field:not(:-moz-placeholder-shown) + label {
 top: 0.5em;
 font-size: 0.675em;
 translate: 0 0%;
 color: #213d85;
 left: 1.5em;
}
textarea.contact_form--field:not(:placeholder-shown) + label {
 top: 0.5em;
 font-size: 0.675em;
 translate: 0 0%;
 color: #213d85;
 left: 1.5em;
}

.contact_form--radio {
 display: flex;
 gap: var(--gap);
}
.contact_form--radio .contact_form--radio_option {
 position: relative;
}
.contact_form--radio .w-radio-input {
 display: none;
}
.contact_form--radio .w-radio:before,
.contact_form--radio .w-radio:after {
 content: " ";
 width: 1em;
 height: 1em;
 display: block;
 border: 2px solid currentColor;
 border-radius: 50%;
}
.contact_form--radio .w-radio {
 display: flex;
}
.contact_form--radio .w-radio::after {
 width: 0.875em;
 background: red;
 height: 0.875em;
 position: absolute;
}