.input_area {
 position: relative;
 display: flex;
 justify-content: stretch;
 width: 100%;
}
.input_area label {
 font-family: Roc Grotesk;
 font-size: 1em;
 font-weight: 400;
 line-height: 100%;
 position: absolute;
 top: 50%;
 translate: 0 -50%;
 left: 1.5em;
 pointer-events: none;
 color: var(--theme_color-200);
 transition: 0.3s all;
}

input[type=text],
input[type=number] {
 display: flex;
 padding: 1.125em 1.5em 0.625em 1.5em;
 align-items: flex-start;
 align-self: stretch;
 border-radius: 1.5em;
 border: 1px solid var(--theme_color-700t);
 background: var(--theme_color-800t);
 color: var(--theme_color-100);
 font-family: Roc Grotesk;
 font-size: 1em;
 font-style: normal;
 font-weight: 400;
 width: 100%;
 transition: 0.3s all;
}
input[type=text]:hover,
input[type=number]:hover {
 border: 1px solid var(--theme_color-500);
}
input[type=text]:focus,
input[type=number]:focus {
 outline-offset: 0.25em;
 outline: 1px solid var(--theme_color-100);
}
input[type=text]:focus + label,
input[type=number]:focus + label {
 top: 0.5em;
 font-size: 0.75em;
 translate: 0 0%;
 color: var(--theme_color-500);
}
input[type=text]:not(:-moz-placeholder-shown) + label, input[type=number]:not(:-moz-placeholder-shown) + label {
 top: 0.5em;
 font-size: 0.75em;
 translate: 0 0%;
 color: var(--theme_color-500);
}
input[type=text]:not(:placeholder-shown) + label,
input[type=number]:not(:placeholder-shown) + label {
 top: 0.5em;
 font-size: 0.75em;
 translate: 0 0%;
 color: var(--theme_color-500);
}

textarea {
 display: flex;
 padding: 1.125em 1.5em 0.625em 1.5em;
 align-items: flex-start;
 align-self: stretch;
 border-radius: 1.5em;
 border: 1px solid var(--theme_color-700t);
 background: var(--theme_color-800t);
 color: var(--theme_color-100);
 font-size: 1em;
 font-weight: 400;
 width: 100%;
 transition: 0.3s all;
}
textarea + label {
 top: 1em;
 translate: 0 0;
}
textarea:hover {
 border: 1px solid var(--theme_color-500);
}
textarea:focus {
 outline-offset: 0.25em;
 outline: 1px solid var(--theme_color-100);
}
textarea:focus + label {
 top: 0.5em;
 font-size: 0.75em;
 translate: 0 0%;
 color: var(--theme_color-500);
}
textarea:not(:-moz-placeholder-shown) + label {
 top: 0.5em;
 font-size: 0.75em;
 translate: 0 0%;
 color: var(--theme_color-500);
}
textarea:not(:placeholder-shown) + label {
 top: 0.5em;
 font-size: 0.75em;
 translate: 0 0%;
 color: var(--theme_color-500);
}