@use "sass:color";
@use "../../abstracts" as *;

// Filters
// Visual: https://www.figma.com/file/oxtfUo8w4dRLkkJmcEBwpA/PHLVB---Website?type=design&node-id=202%3A21799&t=yebcauEJcmg80xcX-1

// Dependancy: none

// <div class="filter">
//  <label class="checkbox_filter--label">
//     <input type="checkbox" class="checkbox_filter--input" />
//     <span class="checkbox_filter--text"> Filter Name </span>
//  </label>
// </div>

//================================================
/*css/components/buttons/filters.scss*/
//================================================

.filter {
	&-- {
		&group {
			display: flex;
			gap: 12/16 * 1rem;
			flex-direction: column;
			overflow: hidden;
		}
		&header {
		}

		&current {
			display: flex;
			gap: 12/16 * 1rem;
			flex-wrap: wrap;
			li {
			}
			li span {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				color: var(--theme_color-500);
				&::after {
					content: "x";
				}
			}
		}
		&container {
			display: grid;
			grid-template-rows: 1fr;
			transition: grid-template-rows 0.3s;

			@include sm {
				grid-template-rows: 0fr;
				[state-filter-open="true"] & {
					grid-template-rows: 1fr;
				}
			}
		}
		&mobile_wrapper {
			overflow: hidden;
			display: flex;
			gap: 1.5rem;
			flex-direction: column;
			align-items: flex-start;
		}

		&list {
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem;
		}
		&item {
			font-size: 12/16 * 1rem;
			font-weight: 500;
			color: $brand-900;
		}
		&text {
			display: block;
			border: 1px solid currentColor;
			border-radius: 0.25rem;
			padding: 8/12 * 1em 16/12 * 1em;
			line-height: 100%;
		}
		&checkbox {
			display: none;
		}
		&checkbox:hover + &text {
			color: $brand-200;
			background: $brand-700;
			border: 1px solid $brand-700;
		}
		&checkbox:checked + &text {
			background: $brand-500;
			color: $brand-900;
		}
		&checkbox[disabled=""] + &text {
			opacity: 0.5;
			background: transparent;
			color: var(--theme_color-200);
		}
	}
}

#filter-toggle {
	display: none;
	@include sm {
		display: flex;
	}
	background-color: none;
	color: $brand-700;
	border: 1px solid $brand-700;
	border-radius: 0.25rem;
	padding: 6/12 * 1em 12/12 * 1em;
	line-height: 100%;
	background-color: transparent;

	gap: 1rem;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 20/16 * 1rem;
	.material-symbols-outlined {
		font-size: 1.25em;
	}

	&:hover {
		color: var(--theme_color-500);
		border: 1px solid var(--theme_color-500);
	}
}

#resetBtn {
	// background-color: transparent;
	display: inline-block;
	font-size: 14/16 * 1rem;
}
