@charset "UTF-8";
/*css/components/content/inline_alert.scss*/
.inline_alert--container {
 padding: 1.5rem;
 border-radius: 0.25rem;
 border: 1px dashed #192d62;
 display: flex;
 gap: 1.5rem;
 align-items: center;
 background-color: rgba(118, 175, 254, 0.05);
 width: 100%;
 box-sizing: border-box;
}
.inline_alert--container.small {
 padding: 1rem;
}
.inline_alert--icon {
 flex-grow: 0;
 flex-shrink: 0;
 font-family: Times;
 color: #a9bfeb;
 font-size: 1.25rem;
 background-color: #192d62;
 width: 1.875rem;
 height: 1.875rem;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 font-style: italic;
}
.small .inline_alert--icon {
 font-size: 1rem;
 width: 1.5rem;
 height: 1.5rem;
}
.inline_alert--text_content {
 flex-grow: 1;
}
.inline_alert--text_content p {
 color: #192d62;
 font-weight: 500;
}
.inline_alert--text_content p.small {
 color: #213d85;
 font-weight: 300;
}

/*css/components/content/intro_area.scss*/
.intro_area {
 gap: var(--gap);
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 grid-column: 2/-2;
 position: relative;
}
.intro_area.inset {
 grid-column: 3/-3;
}
@media (max-width: 991px) {
 .intro_area.inset {
  grid-column: 2/-2;
 }
}
.intro_area.narrow {
 grid-column: 4/-4;
}
@media (max-width: 991px) {
 .intro_area.narrow {
  grid-column: 3/-3;
 }
}
@media (max-width: 767px) {
 .intro_area.narrow {
  grid-column: 2/-2;
 }
}

/*css/components/content/list_styles.scss*/
.list_type--hightlight_numbers {
 counter-reset: li;
 display: flex;
 flex-direction: column;
 gap: 0.75rem;
}
.list_type--hightlight_numbers li {
 counter-increment: li;
 display: flex;
 gap: 1rem;
 align-items: center;
 font-size: calc(0.384vw + 0.8309875rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 300;
 line-height: 135%;
 letter-spacing: -0.02em;
 color: var(--brand-200);
}
@media (min-width: 1440px) {
 .list_type--hightlight_numbers li {
  font-size: 1.1765875rem;
 }
}
.list_type--hightlight_numbers li::before {
 content: counter(li);
 color: var(--theme_color-500);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: 1.5em;
 font-style: italic;
 font-weight: 800;
 line-height: 115%;
 position: relative;
 z-index: 1;
 margin-left: 0.5em;
}
.list_type--hightlight_numbers li::after {
 content: "";
 display: block;
 position: inherit;
 width: 1.75em;
 height: 1.75em;
 background-color: var(--brand-700);
 border-radius: 50%;
 position: absolute;
 left: 0;
}

.list_type--locations {
 display: flex;
 flex-wrap: wrap;
}
.list_type--locations li {
 font-size: calc(0.384vw + 0.8309875rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 300;
 line-height: 135%;
 letter-spacing: -0.02em;
 display: flex;
 align-items: center;
 margin-block: 0.375rem;
 color: var(--brand-700);
 gap: 0.5rem;
 display: flex;
 gap: 0.5rem;
 width: clamp(300px, 50%, 500px);
}
@media (min-width: 1440px) {
 .list_type--locations li {
  font-size: 1.1765875rem;
 }
}
.list_type--locations li::before {
 content: "";
 display: block;
 border: 0.125em solid currentColor;
 border-radius: 50%;
 height: 0.5em;
 width: 0.5em;
 flex-shrink: 0;
 margin-top: 0.25em;
}

.list-type--bullet-open {
 display: flex;
 flex-direction: column;
 gap: 0.75rem;
}
.list-type--bullet-open li {
 font-size: calc(0.384vw + 0.8309875rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 300;
 line-height: 135%;
 letter-spacing: -0.02em;
 display: flex;
 color: var(--brand-700);
 gap: 1rem;
}
@media (min-width: 1440px) {
 .list-type--bullet-open li {
  font-size: 1.1765875rem;
 }
}
.list-type--bullet-open li::before {
 content: "";
 display: block;
 border: 0.125em solid currentColor;
 border-radius: 50%;
 height: 0.5em;
 width: 0.5em;
 flex-shrink: 0;
 margin-top: 0.4375em;
}

/*css/components/content/media_area.scss*/
.media_area {
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}

.media_content {
 border-radius: var(--corner);
 position: relative;
 overflow: hidden;
 width: 100%;
}
.media_content img,
.media_content video {
 width: 100%;
 height: auto;
 display: block;
}
.media_content.cover {
 --ratio: 9/16;
 padding-top: calc(var(--ratio) * 100%);
}
.media_content.cover img,
.media_content.cover video {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.media_content .faux-mask {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: #1c326f;
 height: 105%;
 width: 105%;
}

/*css/components/content/person_profile.scss*/
.person_profile--item {
 display: flex;
 gap: 1.5em;
 position: relative;
 align-items: center;
 container-type: inline-size;
}
.person_profile--media_area {
 height: 4.75em;
 width: 4.75em;
 background-color: #76affe;
 border-radius: 50%;
 opacity: 0.1;
 overflow: hidden;
 transition: 500ms all;
 flex-shrink: 0;
}
.secondary .person_profile--media_area {
 height: 3.75em;
 width: 3.75em;
}
.person_profile--media_area img {
 opacity: 0.5;
}
li:hover .person_profile--media_area {
 opacity: 1;
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #76affe, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f16122, 0px 0px 0px 11px #192d62, 0px 0px 0px 15px #f9d452, 0px 0px 0px 16px #192d62;
}
.secondary li:hover .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #76affe, 0px 0px 0px 6px #192d62;
}
li:hover .person_profile--media_area img {
 opacity: 1;
}
.secondary li:hover[type=grass] .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #94d13d, 0px 0px 0px 6px #192d62;
}
.secondary li:hover[type=indoor] .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #f16122, 0px 0px 0px 6px #192d62;
}
.secondary li:hover[type=beach] .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #f9d452, 0px 0px 0px 6px #192d62;
}
.secondary li:hover[type~=grass][type~=beach] .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #94d13d, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f9d452, 0px 0px 0px 11px #192d62;
}
.secondary li:hover[type~=grass][type~=indoor] .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #94d13d, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f16122, 0px 0px 0px 11px #192d62;
}
.secondary li:hover[type~=beach][type~=indoor] .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #f16122, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f9d452, 0px 0px 0px 11px #192d62;
}
.secondary li:hover[type~=beach][type~=indoor][type~=grass] .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #94d13d, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f16122, 0px 0px 0px 11px #192d62, 0px 0px 0px 15px #f9d452, 0px 0px 0px 16px #192d62;
}
.person_profile--text_area {
 position: relative;
 margin: 1em 0 0 -3em;
 flex-grow: 1;
 transition: 500ms all;
}
li:hover .person_profile--text_area {
 margin: 0 -3em 0 0;
}
.person_profile--title {
 color: #76affe;
 font-size: 0.875em;
 font-style: italic;
 font-weight: 800;
 line-height: 135%;
 letter-spacing: -0.02rem;
 text-transform: uppercase;
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
}
.person_profile--name {
 color: #192d62;
 font-size: 1.375em;
 font-weight: 400;
}
.secondary .person_profile--name {
 font-size: 1.1875em;
}
.person_profile--pronouns {
 color: #192d62;
 font-size: 0.75em;
 font-weight: 400;
}
.person_profile--locations {
 color: #76affe;
 font-size: 0.875em;
 font-style: normal;
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 font-weight: 700;
 line-height: 135%;
 letter-spacing: -0.0175rem;
}

/*css/components/content/team_profile.scss*/
.team_profile--item {
 display: flex;
 flex-direction: column;
 gap: 1rem;
}
.team_profile--media_area {
 position: relative;
}
.team_profile--media_content {
 width: 100%;
 overflow: hidden;
 position: relative;
 padding-top: 100%;
 border-radius: 0.25rem;
}
.team_profile--media_content img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.team_profile--locations {
 position: absolute;
 inset: 0;
 padding: var(--gap);
 display: flex;
 align-items: flex-end;
 z-index: 1;
 background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
 display: none;
}
.team_profile--locations p {
 color: #ffffff;
}
.organizers .team_profile--locations {
 display: flex;
}
.team_profile--text_content {
 display: flex;
 flex-direction: column;
}
.team_profile--name {
 font-weight: 600;
 color: #192d62;
}
.team_profile--event {
 color: var(--theme_color-500);
 font-weight: 600;
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 font-style: italic;
 text-transform: uppercase;
}

/*css/components/content/text_area.scss*/
.text_area {
 gap: 1.5rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: stretch;
 position: relative;
}
.text_area.centered-text {
 align-items: center;
 text-align: center;
}

.text_content {
 gap: 0.5rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 position: relative;
}
.text_content.centered-text {
 align-items: center;
 text-align: center;
}

/*css/components/content/location_list.scss*/
.locations--list i {
 color: var(--theme_color-900);
 border-radius: 0.25rem;
 display: none;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 line-height: 200%;
 padding: 0rem 0.625rem;
 gap: 0.375rem;
 font-size: 0.6875rem;
 font-weight: 500;
}

[data-indicator=grass] {
 background: #94d13d;
}
[data-indicator=grass]:after {
 content: "Grass";
}

[data-indicator=indoor] {
 background: #f16122;
}
[data-indicator=indoor]:after {
 content: "Indoor";
}

[data-indicator=beach] {
 background: #f9d452;
}
[data-indicator=beach]:after {
 content: "Beach";
}

[location-data~=grass] i[data-indicator=grass] {
 display: flex;
}

[location-data~=indoor] i[data-indicator=indoor] {
 display: flex;
}

[location-data~=beach] i[data-indicator=beach] {
 display: flex;
}

/*css/components/content/accordian.scss*/
/*css/components/content/accordian.scss*/
.accordion {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 text-align: left;
 gap: var(--gap);
 border-bottom: 1px solid var(--brand-100);
 --spacing: 1.5rem;
}
.accordion:last-child {
 border-bottom: 0px solid var(--brand-100);
}
.accordion--trigger {
 border: 0;
 padding: 0;
 margin: 0;
 background: transparent;
 text-align: left;
}
.accordion--trigger h4 {
 display: flex;
 justify-content: space-between;
 gap: var(--gap);
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 font-weight: 400;
}
.accordion--content {
 display: grid;
 grid-template-rows: 0fr;
 transition: 0.5s grid-template-rows;
}
.accordion--content > .text_content {
 overflow: hidden;
 padding-bottom: 0rem;
 transition: 0.5s padding;
 gap: 1rem;
}
[aria-expanded=true] + .accordion--content {
 grid-template-rows: 1fr;
}
[aria-expanded=true] + .accordion--content > .text_content {
 padding-bottom: 0.5rem;
}
.accordion--icon::after {
 content: "+";
}
[aria-expanded=true] .accordion--icon::after {
 content: "—";
}

/*css/components/content/accordian.scss*/
/*css/components/content/location_list.scss*/
.toggle {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 text-align: left;
 gap: var(--spacing);
 --spacing: 1.5rem;
}
.toggle--title {
 display: flex;
 gap: var(--gap);
}
.toggle--checkbox {
 display: none;
}
.toggle--thumb {
 background-color: white;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 padding: 0.1875rem;
 border-radius: var(--corner);
}
.toggle--thumb .indicator {
 display: block;
 grid-column: 1;
 grid-row: 1;
 background-color: red;
 height: 100%;
 width: 100%;
 border-radius: var(--corner);
 transition: 0.3s all;
}
[data-toggle=indoor-outdoor] .toggle--thumb .indicator {
 background-color: #f16122;
}
.toggle--thumb .option {
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: 0.6875rem;
 grid-column: 1;
 grid-row: 1;
 text-align: center;
 position: relative;
 transition: 0.3s all;
 padding: 0.5rem 0.875rem;
 line-height: 100%;
 display: block;
 font-weight: 600;
}
.toggle--thumb .option:last-child {
 grid-column: 2;
 color: var(--brand-900);
 font-weight: 400;
}
input:checked + .toggle--thumb .option {
 color: var(--brand-900);
 font-weight: 400;
}
input:checked + .toggle--thumb .option:last-child {
 font-weight: 600;
}
input:checked + .toggle--thumb .indicator {
 transform: translateX(100%);
}
[data-toggle=indoor-outdoor] input:checked + .toggle--thumb .indicator {
 background-color: #94d13d;
}
.toggle--content {
 display: grid;
 transition: 0.5s grid-template-rows;
}
.toggle--content > .text_content {
 overflow: hidden;
 padding-bottom: 0rem;
 transition: 0.5s padding;
 gap: 1rem;
}
.toggle--content.initial {
 grid-template-rows: 1fr;
 transition: 0.5s 0.5s grid-template-rows;
}
[toggle-state=checked] .toggle--content.initial {
 grid-template-rows: 0fr;
 transition: 0.5s grid-template-rows;
}
.toggle--content.toggled {
 grid-template-rows: 0fr;
 transition: 0.5s grid-template-rows;
}
[toggle-state=checked] .toggle--content.toggled {
 grid-template-rows: 1fr;
 transition: 0.5s 0.5s grid-template-rows;
}