@use "sass:color";
@use "../../abstracts" as *;

// Visual:--
// Dependancy: none

//================================================
/*css/components/content/accordian.scss*/
//================================================
.accordion {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: left;
	gap: var(--gap);
	border-bottom: 1px solid var(--brand-100);
	--spacing: 1.5rem;
	&:last-child {
		border-bottom: 0px solid var(--brand-100);
	}
	&-- {
		&trigger {
			border: 0;
			padding: 0;
			margin: 0;
			background: transparent;
			text-align: left;
			width: 100%;

			h4 {
				display: flex;
				justify-content: space-between;
				gap: var(--gap);
				font-family: $serif_font;
				font-weight: 400;
			}
		}
		&content {
			display: grid;
			grid-template-rows: 0fr;
			transition: 0.5s grid-template-rows;

			> .text_content {
				overflow: hidden;
				padding-bottom: 0rem;
				transition: 0.5s padding;
				gap: 1rem;
			}

			&[aria-expanded="true"] {
				grid-template-rows: 1fr;
				> .text_content {
					padding-bottom: 0.5rem;
				}
			}
		}
		&icon {
			&::after {
				content: "+";
				[aria-expanded="true"] & {
					content: "—";
				}
			}
		}
	}
}
