/*css/components/content/inline_alert.scss*/
.inline_alert--container {
 padding: 1.5rem;
 border-radius: 0.25rem;
 border: 1px dashed #192d62;
 display: flex;
 gap: 1.5rem;
 align-items: center;
 background-color: rgba(118, 175, 254, 0.05);
 width: 100%;
 box-sizing: border-box;
}
.inline_alert--container.small {
 padding: 1rem;
}
.inline_alert--icon {
 flex-grow: 0;
 flex-shrink: 0;
 font-family: Times;
 color: #a9bfeb;
 font-size: 1.25rem;
 background-color: #192d62;
 width: 1.875rem;
 height: 1.875rem;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 font-style: italic;
}
.small .inline_alert--icon {
 font-size: 1rem;
 width: 1.5rem;
 height: 1.5rem;
}
.inline_alert--text_content {
 flex-grow: 1;
}
.inline_alert--text_content p {
 color: #192d62;
 font-weight: 500;
}
.inline_alert--text_content p.small {
 color: #213d85;
 font-weight: 300;
}
.inline_alert--text_content.center {
 align-items: center;
}