@use "sass:color";
@use "../../abstracts" as *;

// List
// Visual:--
// Dependancy: none

//================================================
/*css/components/content/list_styles.scss*/
//================================================

.list_type--hightlight_numbers {
	counter-reset: li;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	li {
		counter-increment: li;
		display: flex;
		gap: 1rem;
		align-items: center;
		@include fluid_size_text($scale: 0.384, $floor: 0.8309875);
		font-family: $sans_font;
		font-weight: 300;
		line-height: 135%;
		letter-spacing: -0.02em;
		color: var(--brand-200);
		&::before {
			content: counter(li);
			color: var(--theme_color-500);
			font-family: $sans_font;
			font-size: 1.5em;
			font-style: italic;
			font-weight: 800;
			line-height: 115%;
			position: relative;
			z-index: 1;
			margin-left: 0.5em;
		}
		&::after {
			content: "";
			display: block;
			position: inherit;
			width: 1.75em;
			height: 1.75em;
			background-color: var(--brand-700);
			border-radius: 50%;
			position: absolute;
			left: 0;
		}
	}
}

.list_type--locations {
	display: flex;
	flex-wrap: wrap;
	li {
		@include fluid_size_text($scale: 0.384, $floor: 0.8309875);
		font-family: $sans_font;
		font-weight: 300;
		line-height: 135%;
		letter-spacing: -0.02em;
		display: flex;
		align-items: center;
		margin-block: 0.375rem;
		color: var(--brand-700);

		gap: 0.5rem;

		display: flex;
		gap: 0.5rem;
		width: clamp(300px, 50%, 500px);

		&::before {
			content: "";
			display: block;
			border: 2/16 * 1em solid currentColor;
			border-radius: 50%;
			height: 0.5em;
			width: 0.5em;
			flex-shrink: 0;
			margin-top: 4/16 * 1em;
		}
	}
}

.list-type--bullet-open {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	li {
		@include fluid_size_text($scale: 0.384, $floor: 0.8309875);
		font-family: $sans_font;
		font-weight: 300;
		line-height: 135%;
		letter-spacing: -0.02em;
		display: flex;
		color: var(--brand-700);
		gap: 1rem;

		&::before {
			content: "";
			display: block;
			border: 2/16 * 1em solid currentColor;
			border-radius: 50%;
			height: 0.5em;
			width: 0.5em;
			flex-shrink: 0;
			margin-top: 7/16 * 1em;
		}
	}
}
