@use "sass:color";
@use "../../abstracts" as *;

// List
// Visual:--
// Dependancy: none

//================================================
/*css/components/content/list_styles.scss*/
//================================================

.text_content {
	ul {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		li {
			p {
				display: flex;
				gap: 0.25em;
				color: var(--theme_color-200);
				margin-left: 1.25em;
				max-width: 60ch;
				&::before {
					content: "";
					display: block;
					height: 12/16 * 1em;
					width: 12/16 * 1em;
					margin-top: 4/16 * 1em;
					color: inherit;
					flex-shrink: 0;
					border-radius: 50%;
					margin-right: 0.5rem;
					background: currentColor;
					box-shadow: inset 0 0 0 0.75em var(--theme_color-900),
						0 0 0 1px var(--theme_color-100);
				} //before
			}
		}
		&.no-decoration {
			li {
				p {
					max-width: 70ch;
					&::before {
						display: none;
					}
				}
			}
		}
	}
}
