/*css/components/content/list_styles.scss*/
.list_type--hightlight_numbers {
 counter-reset: li;
 display: flex;
 flex-direction: column;
 gap: 0.75rem;
}
.list_type--hightlight_numbers li {
 counter-increment: li;
 display: flex;
 gap: 1rem;
 align-items: center;
 font-size: calc(0.384vw + 0.8309875rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 300;
 line-height: 135%;
 letter-spacing: -0.02em;
 color: var(--brand-200);
}
@media (min-width: 1440px) {
 .list_type--hightlight_numbers li {
  font-size: 1.1765875rem;
 }
}
.list_type--hightlight_numbers li::before {
 content: counter(li);
 color: var(--theme_color-500);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: 1.5em;
 font-style: italic;
 font-weight: 800;
 line-height: 115%;
 position: relative;
 z-index: 1;
 margin-left: 0.5em;
}
.list_type--hightlight_numbers li::after {
 content: "";
 display: block;
 position: inherit;
 width: 1.75em;
 height: 1.75em;
 background-color: var(--brand-700);
 border-radius: 50%;
 position: absolute;
 left: 0;
}

.list_type--locations {
 display: flex;
 flex-wrap: wrap;
}
.list_type--locations li {
 font-size: calc(0.384vw + 0.8309875rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 300;
 line-height: 135%;
 letter-spacing: -0.02em;
 display: flex;
 align-items: center;
 margin-block: 0.375rem;
 color: var(--brand-700);
 gap: 0.5rem;
 display: flex;
 gap: 0.5rem;
 width: clamp(300px, 50%, 500px);
}
@media (min-width: 1440px) {
 .list_type--locations li {
  font-size: 1.1765875rem;
 }
}
.list_type--locations li::before {
 content: "";
 display: block;
 border: 0.125em solid currentColor;
 border-radius: 50%;
 height: 0.5em;
 width: 0.5em;
 flex-shrink: 0;
 margin-top: 0.25em;
}

.list-type--bullet-open {
 display: flex;
 flex-direction: column;
 gap: 0.75rem;
}
.list-type--bullet-open li {
 font-size: calc(0.384vw + 0.8309875rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 300;
 line-height: 135%;
 letter-spacing: -0.02em;
 display: flex;
 color: var(--brand-700);
 gap: 1rem;
}
@media (min-width: 1440px) {
 .list-type--bullet-open li {
  font-size: 1.1765875rem;
 }
}
.list-type--bullet-open li::before {
 content: "";
 display: block;
 border: 0.125em solid currentColor;
 border-radius: 50%;
 height: 0.5em;
 width: 0.5em;
 flex-shrink: 0;
 margin-top: 0.4375em;
}