@use "sass:color";
@use "../../abstracts" as *;

// Text Area
// Visual:--
// Dependancy: none

//================================================
/*css/components/content/media_area.scss*/
//================================================

.media_area {
	@include f-center;
	position: relative;
	flex-direction: column;
}
.media_content {
	border-radius: var(--corner);
	position: relative;
	overflow: hidden;
	width: 100%;
	img,
	video {
		width: 100%;
		height: auto;
		display: block;
	}

	&.inset {
		padding: var(--gap);
	}
	&.cover {
		--ratio: 9/16;
		padding-top: calc(var(--ratio) * 100%);
		img,
		video {
			@include image_cover;
		}
	}

	.faux-mask {
		@include image_cover;
		background-color: $brand-800;
		height: 105%;
		width: 105%;
		z-index: 1;
	}
}
