/*css/components/content/person_profile.scss*/
.person_profile--item {
 display: flex;
 gap: 1.5em;
 position: relative;
 align-items: center;
 container-type: inline-size;
}
.person_profile--media_area {
 height: 4.75em;
 width: 4.75em;
 background-color: #76affe;
 border-radius: 50%;
 opacity: 0.1;
 overflow: hidden;
 transition: 500ms all;
 flex-shrink: 0;
}
@media (max-width: 576px) {
 .person_profile--media_area {
  height: 3.75em;
  width: 3.75em;
 }
}
.secondary .person_profile--media_area {
 height: 3.75em;
 width: 3.75em;
}
@media (max-width: 576px) {
 .secondary .person_profile--media_area {
  height: 3.125em;
  width: 3.125em;
 }
}
.person_profile--media_area img {
 opacity: 0.8;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.person_profile--item:hover .person_profile--media_area {
 opacity: 1;
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #76affe, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f16122, 0px 0px 0px 11px #192d62, 0px 0px 0px 15px #f9d452, 0px 0px 0px 16px #192d62;
}
.secondary .person_profile--item:hover .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #76affe, 0px 0px 0px 6px #192d62;
}
.person_profile--item:hover .person_profile--media_area img {
 opacity: 1;
}
.secondary .person_profile--item:hover[event-type=grass] .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #94d13d, 0px 0px 0px 6px #192d62;
}
.secondary .person_profile--item:hover[event-type=indoor] .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #f16122, 0px 0px 0px 6px #192d62;
}
.secondary .person_profile--item:hover[event-type=beach] .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #f9d452, 0px 0px 0px 6px #192d62;
}
.secondary .person_profile--item:hover[event-type~=grass][event-type~=beach] .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #94d13d, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f9d452, 0px 0px 0px 11px #192d62;
}
.secondary .person_profile--item:hover[event-type~=grass][event-type~=indoor] .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #94d13d, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f16122, 0px 0px 0px 11px #192d62;
}
.secondary .person_profile--item:hover[event-type~=beach][event-type~=indoor] .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #f16122, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f9d452, 0px 0px 0px 11px #192d62;
}
.secondary .person_profile--item:hover[event-type~=beach][event-type~=indoor][event-type~=grass] .person_profile--media_area {
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 5px #94d13d, 0px 0px 0px 6px #192d62, 0px 0px 0px 10px #f16122, 0px 0px 0px 11px #192d62, 0px 0px 0px 15px #f9d452, 0px 0px 0px 16px #192d62;
}
.person_profile--media_content {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.person_profile--text_area {
 position: relative;
 margin: 1em 0 0 -3em;
 flex-grow: 1;
 transition: 500ms all;
}
.person_profile--item:hover .person_profile--text_area {
 margin: 0 -3em 0 0;
}
.person_profile--text_content {
 gap: 0rem;
}
.person_profile--title {
 color: #76affe;
 font-size: 0.875em;
 font-style: italic;
 font-weight: 800;
 line-height: 135%;
 letter-spacing: -0.02rem;
 text-transform: uppercase;
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
}
.person_profile--name {
 color: #192d62;
 font-size: 1.375em;
 font-weight: 400;
}
@media (max-width: 576px) {
 .person_profile--name {
  font-size: 1.125em;
 }
}
.secondary .person_profile--name {
 font-size: 1.1875em;
}
@media (max-width: 576px) {
 .secondary .person_profile--name {
  font-size: 1em;
 }
}
.person_profile--pronouns {
 color: #192d62;
 font-size: 0.75em;
 font-weight: 400;
}
@media (max-width: 576px) {
 .person_profile--pronouns {
  font-size: 0.625em;
 }
}
.person_profile--locations {
 color: #76affe;
 font-size: 0.875em;
 font-style: normal;
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 font-weight: 700;
 line-height: 135%;
 letter-spacing: -0.0175rem;
}
@media (max-width: 576px) {
 .person_profile--locations {
  font-size: 0.8125em;
 }
}