/*css/components/content/person_profile.scss*/
.person_profile--item {
 display: flex;
 flex-direction: column;
 gap: 1.25rem;
}
.person_profile--media_area {
 position: relative;
}
.person_profile--media_content {
 width: 100%;
 overflow: hidden;
 position: relative;
 padding-top: 100%;
 border-radius: 0.75rem;
}
.person_profile--media_content img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.person_profile--locations {
 position: absolute;
 inset: 0;
 padding: 0.75rem;
 align-items: flex-end;
 z-index: 1;
 background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
 color: #ffffff;
 font-size: 0.875rem;
 padding: 0.75rem;
 display: none;
}
.organizers .person_profile--locations {
 display: flex;
}
.person_profile--text_content {
 display: grid;
 grid-template-columns: 1fr auto;
 gap: 0.375rem;
}
@media (max-width: 767px) {
 .person_profile--text_content {
  grid-template-columns: 1fr;
 }
}
.person_profile--title {
 font-size: 0.8125rem;
 grid-column: 1/-1;
 display: none;
}
.board_members .person_profile--title {
 display: block;
}
.person_profile--name {
 align-self: end;
}
.person_profile--pronouns {
 font-size: 0.8125rem;
 align-self: end;
}