@use "sass:color";
@use "../../abstracts" as *;

// Person Profile
// Visual:--
// Dependancy: none

//================================================
/*css/components/content/person_profile.scss*/
//================================================

.person_profile {
	&-- {
		&list {
		}
		&item {
			display: flex;
			gap: 24/16 * 1em;
			position: relative;
			align-items: center;
			container-type: inline-size;
		}

		&media_area {
			height: 76/16 * 1em;
			width: 76/16 * 1em;
			background-color: $brand-500;
			border-radius: 50%;
			opacity: 0.1;
			overflow: hidden;
			transition: 500ms all;
			flex-shrink: 0;

			@include xs {
				height: 60/16 * 1em;
				width: 60/16 * 1em;
			}
			.secondary & {
				height: 60/16 * 1em;
				width: 60/16 * 1em;

				@include xs {
					height: 50/16 * 1em;
					width: 50/16 * 1em;
				}
			}

			img {
				opacity: 0.8;
				@include cover_obj;
			}

			.person_profile--item:hover & {
				opacity: 1;

				box-shadow: 0px 0px 0px 1px $brand-900, 0px 0px 0px 5px $brand-500,
					0px 0px 0px 6px $brand-900, 0px 0px 0px 10px $indoor-500, 0px 0px 0px 11px $brand-900,
					0px 0px 0px 15px $beach-500, 0px 0px 0px 16px $brand-900;

				.secondary & {
					box-shadow: 0px 0px 0px 1px $brand-900, 0px 0px 0px 5px $brand-500,
						0px 0px 0px 6px $brand-900;
				}

				img {
					opacity: 1;
				}
			}

			.secondary .person_profile--item:hover[event-type="grass"] & {
				box-shadow: 0px 0px 0px 1px $brand-900, 0px 0px 0px 5px $grass-500,
					0px 0px 0px 6px $brand-900;
			}
			.secondary .person_profile--item:hover[event-type="indoor"] & {
				box-shadow: 0px 0px 0px 1px $brand-900, 0px 0px 0px 5px $indoor-500,
					0px 0px 0px 6px $brand-900;
			}
			.secondary .person_profile--item:hover[event-type="beach"] & {
				box-shadow: 0px 0px 0px 1px $brand-900, 0px 0px 0px 5px $beach-500,
					0px 0px 0px 6px $brand-900;
			}
			.secondary .person_profile--item:hover[event-type~="grass"][event-type~="beach"] & {
				box-shadow: 0px 0px 0px 1px $brand-900, 0px 0px 0px 5px $grass-500,
					0px 0px 0px 6px $brand-900, 0px 0px 0px 10px $beach-500, 0px 0px 0px 11px $brand-900;
			}
			.secondary .person_profile--item:hover[event-type~="grass"][event-type~="indoor"] & {
				box-shadow: 0px 0px 0px 1px $brand-900, 0px 0px 0px 5px $grass-500,
					0px 0px 0px 6px $brand-900, 0px 0px 0px 10px $indoor-500, 0px 0px 0px 11px $brand-900;
			}
			.secondary .person_profile--item:hover[event-type~="beach"][event-type~="indoor"] & {
				box-shadow: 0px 0px 0px 1px $brand-900, 0px 0px 0px 5px $indoor-500,
					0px 0px 0px 6px $brand-900, 0px 0px 0px 10px $beach-500, 0px 0px 0px 11px $brand-900;
			}
			.secondary
				.person_profile--item:hover[event-type~="beach"][event-type~="indoor"][event-type~="grass"]
				& {
				box-shadow: 0px 0px 0px 1px $brand-900, 0px 0px 0px 5px $grass-500,
					0px 0px 0px 6px $brand-900, 0px 0px 0px 10px $indoor-500, 0px 0px 0px 11px $brand-900,
					0px 0px 0px 15px $beach-500, 0px 0px 0px 16px $brand-900;
			}
		}

		&media_content {
			@include cover_obj;
		}
		&text_area {
			position: relative;
			margin: 1em 0 0 -3em;
			flex-grow: 1;
			transition: 500ms all;
			.person_profile--item:hover & {
				margin: 0 -3em 0 0;
			}
		}
		&text_content {
			gap: 0rem;
		}

		&title {
			color: $brand-500;
			font-size: 14/16 * 1em;
			font-style: italic;
			font-weight: 800;
			line-height: 135%;
			letter-spacing: -0.02rem;
			text-transform: uppercase;
			font-family: $sans_font-condensed;
		}
		&name {
			color: $brand-900;
			font-size: 22/16 * 1em;
			font-weight: 400;
			@include xs {
				font-size: 18/16 * 1em;
			}
			.secondary & {
				font-size: 19/16 * 1em;
				@include xs {
					font-size: 16/16 * 1em;
				}
			}
		}
		&pronouns {
			color: $brand-900;
			font-size: 12/16 * 1em;
			font-weight: 400;
			@include xs {
				font-size: 10/16 * 1em;
			}
		}
		&locations {
			color: $brand-500;
			font-size: 14/16 * 1em;
			font-style: normal;
			font-family: $sans_font-condensed;
			font-weight: 700;
			line-height: 135%;
			letter-spacing: -0.0175rem;
			@include xs {
				font-size: 13/16 * 1em;
			}
		}
	}
}
