@use "sass:color";
@use "../../abstracts" as *;

// Person Profile
// Visual:--
// Dependancy: none

//================================================
/*css/components/content/team_profile.scss*/
//================================================

.team_profile {
	&-- {
		&list {
		}
		&item {
			display: flex;
			flex-direction: column;
			gap: 16/16 * 1rem;
		}
		&media_area {
			position: relative;
		}
		&media_content {
			@include cover_container;
			padding-top: 100%;
			border-radius: 4/16 * 1rem;
			img {
				@include image_cover;
			}
		}
		&locations {
			position: absolute;
			inset: 0;
			padding: var(--gap);
			display: flex;
			align-items: flex-end;
			z-index: 1;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
			p {
				color: $white;
			}

			display: none;
			.organizers & {
				display: flex;
			}
		}

		&text_content {
			display: flex;
			flex-direction: column;
			gap: 0rem;
		}

		&name {
			font-weight: 600;
			color: $brand-900;
			margin-bottom: 0.25rem;
			line-height: 125%;
		}
		&event {
			color: var(--theme_color-500);
			font-weight: 600;
			font-family: $sans_font-condensed;
			font-style: italic;
			text-transform: uppercase;
		}
	}
}

//pagination for webflow cms collection
.team_profile--list_pagination {
	grid-column: 1/-1;
}
