/*css/components/content/text_area.scss*/
.text_area {
 gap: 1.5rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: stretch;
 position: relative;
}
.text_area.centered-text {
 align-items: center;
 text-align: center;
}

.text_content {
 gap: 0.5rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 position: relative;
}
.text_content.centered-text {
 align-items: center;
 text-align: center;
}