@use "sass:color";
@use "../../abstracts" as *;

/*css/components/content/accordian.scss*/
// Visual:--
// Dependancy: none

//================================================
/*css/components/content/location_list.scss*/
//================================================
.toggle {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: left;
	gap: var(--spacing);
	--spacing: 1.5rem;

	&-- {
		&title {
			display: flex;
			gap: var(--gap);
		}
		&trigger {
		}
		&checkbox {
			display: none;
		}
		&thumb {
			background-color: white;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			padding: 3/16 * 1rem;
			border-radius: 2em;

			.indicator {
				display: block;
				grid-column: 1;
				grid-row: 1;
				background-color: red;
				height: 100%;
				width: 100%;
				border-radius: 2em;
				transition: 0.3s all;

				[data-toggle="indoor-outdoor"] & {
					background-color: $indoor-500;
				}
			}
			//default (option 1)
			.option {
				font-size: 11/16 * 1rem;
				grid-column: 1;
				grid-row: 1;
				text-align: center;
				position: relative;
				transition: 0.3s all;
				padding: 8/16 * 1rem 14/16 * 1rem;
				line-height: 100%;
				display: block;
				color: white;
				&:last-child {
					grid-column: 2;
					color: var(--theme_color-200);
				}
			}

			//checked (option 2)
			input:checked + & {
				.option {
					color: var(--theme_color-200);

					&:last-child {
						color: white;
					}
				}
				.indicator {
					transform: translateX(100%);
					[data-toggle="indoor-outdoor"] & {
						background-color: $grass-500;
					}
				}
			}
		}

		&content {
			display: grid;
			transition: 0.5s grid-template-rows;

			> .text_content {
				overflow: hidden;
				padding-bottom: 0rem;
				transition: 0.5s padding;
				gap: 1rem;
			}

			&.initial {
				grid-template-rows: 1fr;
				[toggle-state="checked"] & {
					grid-template-rows: 0fr;
				}
			}
			&.toggled {
				grid-template-rows: 0fr;
				[toggle-state="checked"] & {
					grid-template-rows: 1fr;
				}
			}
		}
	}
}
