/*css/components/content/toggle.scss*/
.toggle {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 text-align: left;
 gap: var(--spacing);
 --spacing: 1.5rem;
}
.toggle--title {
 display: flex;
 gap: var(--gap);
}
.toggle--checkbox {
 display: none;
}
.toggle--thumb {
 background-color: white;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 padding: 0.1875rem;
 border-radius: var(--corner);
}
.toggle--thumb .indicator {
 display: block;
 grid-column: 1;
 grid-row: 1;
 background-color: red;
 height: 100%;
 width: 100%;
 border-radius: var(--corner);
 transition: 0.3s all;
}
[data-toggle=indoor-outdoor] .toggle--thumb .indicator {
 background-color: #f16122;
}
.toggle--thumb .option {
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: 0.6875rem;
 grid-column: 1;
 grid-row: 1;
 text-align: center;
 position: relative;
 transition: 0.3s all;
 padding: 0.5rem 0.875rem;
 line-height: 100%;
 display: block;
 font-weight: 600;
}
.toggle--thumb .option:last-child {
 grid-column: 2;
 color: var(--brand-900);
 font-weight: 400;
}
input:checked + .toggle--thumb .option {
 color: var(--brand-900);
 font-weight: 400;
}
input:checked + .toggle--thumb .option:last-child {
 font-weight: 600;
}
input:checked + .toggle--thumb .indicator {
 transform: translateX(100%);
}
[data-toggle=indoor-outdoor] input:checked + .toggle--thumb .indicator {
 background-color: #94d13d;
}
.toggle--content {
 display: grid;
 transition: 0.5s grid-template-rows;
}
.toggle--content > .text_content {
 overflow: hidden;
 padding-bottom: 0rem;
 transition: 0.5s padding;
 gap: 1rem;
}
.toggle--content.initial {
 grid-template-rows: 1fr;
 transition: 0.5s 0.5s grid-template-rows;
}
[toggle-state=checked] .toggle--content.initial {
 grid-template-rows: 0fr;
 transition: 0.5s grid-template-rows;
}
.toggle--content.toggled {
 grid-template-rows: 0fr;
 transition: 0.5s grid-template-rows;
}
[toggle-state=checked] .toggle--content.toggled {
 grid-template-rows: 1fr;
 transition: 0.5s 0.5s grid-template-rows;
}