/*css/components/_backgrounds.scss*/
.background_area {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
 overflow: hidden;
}
.background_area .background_fill {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: var(--background_color);
}
.background_area .background_fill img,
.background_area .background_fill video,
.background_area .background_fill iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 -o-object-fit: cover;
    object-fit: cover;
}

.has-brand-900-background {
 --background_color: #192d62;
}
.has-brand-900-background > * {
 --background_color: #192d62;
}
.has-brand-900-background.background_fill {
 --background_color: #192d62;
}

.has-brand-800-background {
 --background_color: #1c326f;
}
.has-brand-800-background > * {
 --background_color: #1c326f;
}
.has-brand-800-background.background_fill {
 --background_color: #1c326f;
}

.has-brand-800t-background {
 --background_color: rgba(29, 52, 114, 0.8);
}
.has-brand-800t-background > * {
 --background_color: rgba(29, 52, 114, 0.8);
}
.has-brand-800t-background.background_fill {
 --background_color: rgba(29, 52, 114, 0.8);
}

.has-brand-800-background {
 --background_color: #1c326f;
}
.has-brand-800-background > * {
 --background_color: #1c326f;
}
.has-brand-800-background.background_fill {
 --background_color: #1c326f;
}

.has-brand-800t-background {
 --background_color: rgba(33, 60, 131, 0.8);
}
.has-brand-800t-background > * {
 --background_color: rgba(33, 60, 131, 0.8);
}
.has-brand-800t-background.background_fill {
 --background_color: rgba(33, 60, 131, 0.8);
}

.has-brand-500-background {
 --background_color: #76affe;
}
.has-brand-500-background > * {
 --background_color: #76affe;
}
.has-brand-500-background.background_fill {
 --background_color: #76affe;
}

.has-brand-200-background {
 --background_color: #a9bfeb;
}
.has-brand-200-background > * {
 --background_color: #a9bfeb;
}
.has-brand-200-background.background_fill {
 --background_color: #a9bfeb;
}

.has-brand-100-background {
 --background_color: #bccceb;
}
.has-brand-100-background > * {
 --background_color: #bccceb;
}
.has-brand-100-background.background_fill {
 --background_color: #bccceb;
}

.has-indoor-900-background {
 --background_color: #592817;
}
.has-indoor-900-background > * {
 --background_color: #592817;
}
.has-indoor-900-background.background_fill {
 --background_color: #592817;
}

.has-indoor-800-background {
 --background_color: #662e1a;
}
.has-indoor-800-background > * {
 --background_color: #662e1a;
}
.has-indoor-800-background.background_fill {
 --background_color: #662e1a;
}

.has-indoor-800t-background {
 --background_color: rgba(105, 47, 27, 0.8);
}
.has-indoor-800t-background > * {
 --background_color: rgba(105, 47, 27, 0.8);
}
.has-indoor-800t-background.background_fill {
 --background_color: rgba(105, 47, 27, 0.8);
}

.has-indoor-800-background {
 --background_color: #70321d;
}
.has-indoor-800-background > * {
 --background_color: #70321d;
}
.has-indoor-800-background.background_fill {
 --background_color: #70321d;
}

.has-indoor-800t-background {
 --background_color: rgba(121, 55, 31, 0.8);
}
.has-indoor-800t-background > * {
 --background_color: rgba(121, 55, 31, 0.8);
}
.has-indoor-800t-background.background_fill {
 --background_color: rgba(121, 55, 31, 0.8);
}

.has-indoor-500-background {
 --background_color: #f16122;
}
.has-indoor-500-background > * {
 --background_color: #f16122;
}
.has-indoor-500-background.background_fill {
 --background_color: #f16122;
}

.has-indoor-200-background {
 --background_color: #f0c4b5;
}
.has-indoor-200-background > * {
 --background_color: #f0c4b5;
}
.has-indoor-200-background.background_fill {
 --background_color: #f0c4b5;
}

.has-indoor-100-background {
 --background_color: #ebd5cd;
}
.has-indoor-100-background > * {
 --background_color: #ebd5cd;
}
.has-indoor-100-background.background_fill {
 --background_color: #ebd5cd;
}

.has-grass-900-background {
 --background_color: #3b520e;
}
.has-grass-900-background > * {
 --background_color: #3b520e;
}
.has-grass-900-background.background_fill {
 --background_color: #3b520e;
}

.has-grass-800-background {
 --background_color: #456010;
}
.has-grass-800-background > * {
 --background_color: #456010;
}
.has-grass-800-background.background_fill {
 --background_color: #456010;
}

.has-grass-800t-background {
 --background_color: rgba(72, 99, 17, 0.8);
}
.has-grass-800t-background > * {
 --background_color: rgba(72, 99, 17, 0.8);
}
.has-grass-800t-background.background_fill {
 --background_color: rgba(72, 99, 17, 0.8);
}

.has-grass-800-background {
 --background_color: #4f6e13;
}
.has-grass-800-background > * {
 --background_color: #4f6e13;
}
.has-grass-800-background.background_fill {
 --background_color: #4f6e13;
}

.has-grass-800t-background {
 --background_color: rgba(84, 117, 20, 0.8);
}
.has-grass-800t-background > * {
 --background_color: rgba(84, 117, 20, 0.8);
}
.has-grass-800t-background.background_fill {
 --background_color: rgba(84, 117, 20, 0.8);
}

.has-grass-500-background {
 --background_color: #94d13d;
}
.has-grass-500-background > * {
 --background_color: #94d13d;
}
.has-grass-500-background.background_fill {
 --background_color: #94d13d;
}

.has-grass-200-background {
 --background_color: #d1f095;
}
.has-grass-200-background > * {
 --background_color: #d1f095;
}
.has-grass-200-background.background_fill {
 --background_color: #d1f095;
}

.has-grass-100-background {
 --background_color: #e2f5ba;
}
.has-grass-100-background > * {
 --background_color: #e2f5ba;
}
.has-grass-100-background.background_fill {
 --background_color: #e2f5ba;
}

.has-beach-900-background {
 --background_color: #625619;
}
.has-beach-900-background > * {
 --background_color: #625619;
}
.has-beach-900-background.background_fill {
 --background_color: #625619;
}

.has-beach-800-background {
 --background_color: #6f611c;
}
.has-beach-800-background > * {
 --background_color: #6f611c;
}
.has-beach-800-background.background_fill {
 --background_color: #6f611c;
}

.has-beach-800t-background {
 --background_color: rgba(114, 100, 29, 0.8);
}
.has-beach-800t-background > * {
 --background_color: rgba(114, 100, 29, 0.8);
}
.has-beach-800t-background.background_fill {
 --background_color: rgba(114, 100, 29, 0.8);
}

.has-beach-500-background {
 --background_color: #f9d452;
}
.has-beach-500-background > * {
 --background_color: #f9d452;
}
.has-beach-500-background.background_fill {
 --background_color: #f9d452;
}

.has-beach-300t-background {
 --background_color: rgba(223, 215, 176, 0.8);
}
.has-beach-300t-background > * {
 --background_color: rgba(223, 215, 176, 0.8);
}
.has-beach-300t-background.background_fill {
 --background_color: rgba(223, 215, 176, 0.8);
}

.has-beach-300-background {
 --background_color: #f0e6b5;
}
.has-beach-300-background > * {
 --background_color: #f0e6b5;
}
.has-beach-300-background.background_fill {
 --background_color: #f0e6b5;
}

.has-beach-200t-background {
 --background_color: rgba(229, 223, 190, 0.8);
}
.has-beach-200t-background > * {
 --background_color: rgba(229, 223, 190, 0.8);
}
.has-beach-200t-background.background_fill {
 --background_color: rgba(229, 223, 190, 0.8);
}

.has-beach-200-background {
 --background_color: #f0e6b5;
}
.has-beach-200-background > * {
 --background_color: #f0e6b5;
}
.has-beach-200-background.background_fill {
 --background_color: #f0e6b5;
}

.has-beach-100-background {
 --background_color: #ebe6cd;
}
.has-beach-100-background > * {
 --background_color: #ebe6cd;
}
.has-beach-100-background.background_fill {
 --background_color: #ebe6cd;
}

.overlay-darken-10 {
 --alpha: 0.1;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-20 {
 --alpha: 0.2;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-30 {
 --alpha: 0.3;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-40 {
 --alpha: 0.4;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-50 {
 --alpha: 0.5;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-60 {
 --alpha: 0.6;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-70 {
 --alpha: 0.7;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-80 {
 --alpha: 0.8;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-90 {
 --alpha: 0.9;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-100 {
 --alpha: 1;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-gradient {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 --color_start: #192d62;
 --color_end: rgba(25, 45, 98, 0);
 --direction: 0deg;
 background: linear-gradient(var(--direction), var(--color_start) 10%, var(--color_end) 90%);
}
.overlay-gradient-from_left {
 --direction: 90deg;
}
.overlay-gradient-from_top {
 --direction: 180deg;
}
.overlay-gradient-from_right {
 --direction: 270deg;
}
.overlay-gradient-brand-900 {
 --color_start: #192d62;
 --color_end: rgba(25, 45, 98, 0);
}
.overlay-gradient-brand-800 {
 --color_start: #1c326f;
 --color_end: rgba(28, 50, 111, 0);
}
.overlay-gradient-brand-800t {
 --color_start: rgba(29, 52, 114, 0.8);
 --color_end: rgba(29, 52, 114, 0);
}
.overlay-gradient-brand-800 {
 --color_start: #1c326f;
 --color_end: rgba(28, 50, 111, 0);
}
.overlay-gradient-brand-800t {
 --color_start: rgba(33, 60, 131, 0.8);
 --color_end: rgba(33, 60, 131, 0);
}
.overlay-gradient-brand-500 {
 --color_start: #76affe;
 --color_end: rgba(118, 175, 254, 0);
}
.overlay-gradient-brand-200 {
 --color_start: #a9bfeb;
 --color_end: rgba(169, 191, 235, 0);
}
.overlay-gradient-brand-100 {
 --color_start: #bccceb;
 --color_end: rgba(188, 204, 235, 0);
}
.overlay-gradient-indoor-900 {
 --color_start: #592817;
 --color_end: rgba(89, 40, 23, 0);
}
.overlay-gradient-indoor-800 {
 --color_start: #662e1a;
 --color_end: rgba(102, 46, 26, 0);
}
.overlay-gradient-indoor-800t {
 --color_start: rgba(105, 47, 27, 0.8);
 --color_end: rgba(105, 47, 27, 0);
}
.overlay-gradient-indoor-800 {
 --color_start: #70321d;
 --color_end: rgba(112, 50, 29, 0);
}
.overlay-gradient-indoor-800t {
 --color_start: rgba(121, 55, 31, 0.8);
 --color_end: rgba(121, 55, 31, 0);
}
.overlay-gradient-indoor-500 {
 --color_start: #f16122;
 --color_end: rgba(241, 97, 34, 0);
}
.overlay-gradient-indoor-200 {
 --color_start: #f0c4b5;
 --color_end: rgba(240, 196, 181, 0);
}
.overlay-gradient-indoor-100 {
 --color_start: #ebd5cd;
 --color_end: rgba(235, 213, 205, 0);
}
.overlay-gradient-grass-900 {
 --color_start: #3b520e;
 --color_end: rgba(59, 82, 14, 0);
}
.overlay-gradient-grass-800 {
 --color_start: #456010;
 --color_end: rgba(69, 96, 16, 0);
}
.overlay-gradient-grass-800t {
 --color_start: rgba(72, 99, 17, 0.8);
 --color_end: rgba(72, 99, 17, 0);
}
.overlay-gradient-grass-800 {
 --color_start: #4f6e13;
 --color_end: rgba(79, 110, 19, 0);
}
.overlay-gradient-grass-800t {
 --color_start: rgba(84, 117, 20, 0.8);
 --color_end: rgba(84, 117, 20, 0);
}
.overlay-gradient-grass-500 {
 --color_start: #94d13d;
 --color_end: rgba(148, 209, 61, 0);
}
.overlay-gradient-grass-200 {
 --color_start: #d1f095;
 --color_end: rgba(209, 240, 149, 0);
}
.overlay-gradient-grass-100 {
 --color_start: #e2f5ba;
 --color_end: rgba(226, 245, 186, 0);
}
.overlay-gradient-beach-900 {
 --color_start: #625619;
 --color_end: rgba(98, 86, 25, 0);
}
.overlay-gradient-beach-800 {
 --color_start: #6f611c;
 --color_end: rgba(111, 97, 28, 0);
}
.overlay-gradient-beach-800t {
 --color_start: rgba(114, 100, 29, 0.8);
 --color_end: rgba(114, 100, 29, 0);
}
.overlay-gradient-beach-500 {
 --color_start: #f9d452;
 --color_end: rgba(249, 212, 82, 0);
}
.overlay-gradient-beach-300t {
 --color_start: rgba(223, 215, 176, 0.8);
 --color_end: rgba(223, 215, 176, 0);
}
.overlay-gradient-beach-300 {
 --color_start: #f0e6b5;
 --color_end: rgba(240, 230, 181, 0);
}
.overlay-gradient-beach-200t {
 --color_start: rgba(229, 223, 190, 0.8);
 --color_end: rgba(229, 223, 190, 0);
}
.overlay-gradient-beach-200 {
 --color_start: #f0e6b5;
 --color_end: rgba(240, 230, 181, 0);
}
.overlay-gradient-beach-100 {
 --color_start: #ebe6cd;
 --color_end: rgba(235, 230, 205, 0);
}