/*css/components/_backgrounds.scss*/
.background_area {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
 overflow: hidden;
}
.background_area .background_fill {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: var(--background_color);
}
.background_area .background_fill img,
.background_area .background_fill video,
.background_area .background_fill iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 -o-object-fit: cover;
    object-fit: cover;
}

.has-brand-900-background {
 --background_color: #192d62;
}
.has-brand-900-background > * {
 --background_color: #192d62;
}
.has-brand-900-background.background_fill {
 --background_color: #192d62;
}

.has-brand-800-background {
 --background_color: #1c326f;
}
.has-brand-800-background > * {
 --background_color: #1c326f;
}
.has-brand-800-background.background_fill {
 --background_color: #1c326f;
}

.has-brand-800-background {
 --background_color: #213d85;
}
.has-brand-800-background > * {
 --background_color: #213d85;
}
.has-brand-800-background.background_fill {
 --background_color: #213d85;
}

.has-brand-500-background {
 --background_color: #76affe;
}
.has-brand-500-background > * {
 --background_color: #76affe;
}
.has-brand-500-background.background_fill {
 --background_color: #76affe;
}

.has-brand-200-background {
 --background_color: #a9bfeb;
}
.has-brand-200-background > * {
 --background_color: #a9bfeb;
}
.has-brand-200-background.background_fill {
 --background_color: #a9bfeb;
}

.has-brand-100-background {
 --background_color: #bccceb;
}
.has-brand-100-background > * {
 --background_color: #bccceb;
}
.has-brand-100-background.background_fill {
 --background_color: #bccceb;
}

.has-indoor-900-background {
 --background_color: #592817;
}
.has-indoor-900-background > * {
 --background_color: #592817;
}
.has-indoor-900-background.background_fill {
 --background_color: #592817;
}

.has-indoor-800-background {
 --background_color: #662e1a;
}
.has-indoor-800-background > * {
 --background_color: #662e1a;
}
.has-indoor-800-background.background_fill {
 --background_color: #662e1a;
}

.has-indoor-800-background {
 --background_color: #70321d;
}
.has-indoor-800-background > * {
 --background_color: #70321d;
}
.has-indoor-800-background.background_fill {
 --background_color: #70321d;
}

.has-indoor-500-background {
 --background_color: #f16122;
}
.has-indoor-500-background > * {
 --background_color: #f16122;
}
.has-indoor-500-background.background_fill {
 --background_color: #f16122;
}

.has-indoor-200-background {
 --background_color: #f0c4b5;
}
.has-indoor-200-background > * {
 --background_color: #f0c4b5;
}
.has-indoor-200-background.background_fill {
 --background_color: #f0c4b5;
}

.has-indoor-100-background {
 --background_color: #ebd5cd;
}
.has-indoor-100-background > * {
 --background_color: #ebd5cd;
}
.has-indoor-100-background.background_fill {
 --background_color: #ebd5cd;
}

.has-grass-900-background {
 --background_color: #3b520e;
}
.has-grass-900-background > * {
 --background_color: #3b520e;
}
.has-grass-900-background.background_fill {
 --background_color: #3b520e;
}

.has-grass-800-background {
 --background_color: #456010;
}
.has-grass-800-background > * {
 --background_color: #456010;
}
.has-grass-800-background.background_fill {
 --background_color: #456010;
}

.has-grass-800-background {
 --background_color: #4f6e13;
}
.has-grass-800-background > * {
 --background_color: #4f6e13;
}
.has-grass-800-background.background_fill {
 --background_color: #4f6e13;
}

.has-grass-500-background {
 --background_color: #94d13d;
}
.has-grass-500-background > * {
 --background_color: #94d13d;
}
.has-grass-500-background.background_fill {
 --background_color: #94d13d;
}

.has-grass-200-background {
 --background_color: #d1f095;
}
.has-grass-200-background > * {
 --background_color: #d1f095;
}
.has-grass-200-background.background_fill {
 --background_color: #d1f095;
}

.has-grass-100-background {
 --background_color: #e2f5ba;
}
.has-grass-100-background > * {
 --background_color: #e2f5ba;
}
.has-grass-100-background.background_fill {
 --background_color: #e2f5ba;
}

.has-beach-900-background {
 --background_color: #625619;
}
.has-beach-900-background > * {
 --background_color: #625619;
}
.has-beach-900-background.background_fill {
 --background_color: #625619;
}

.has-beach-800-background {
 --background_color: #6f611c;
}
.has-beach-800-background > * {
 --background_color: #6f611c;
}
.has-beach-800-background.background_fill {
 --background_color: #6f611c;
}

.has-beach-500-background {
 --background_color: #f9d452;
}
.has-beach-500-background > * {
 --background_color: #f9d452;
}
.has-beach-500-background.background_fill {
 --background_color: #f9d452;
}

.has-beach-300-background {
 --background_color: #f0e6b5;
}
.has-beach-300-background > * {
 --background_color: #f0e6b5;
}
.has-beach-300-background.background_fill {
 --background_color: #f0e6b5;
}

.has-beach-200t-background {
 --background_color: rgba(229, 223, 190, 0.8);
}
.has-beach-200t-background > * {
 --background_color: rgba(229, 223, 190, 0.8);
}
.has-beach-200t-background.background_fill {
 --background_color: rgba(229, 223, 190, 0.8);
}

.has-beach-200-background {
 --background_color: #f0e6b5;
}
.has-beach-200-background > * {
 --background_color: #f0e6b5;
}
.has-beach-200-background.background_fill {
 --background_color: #f0e6b5;
}

.has-beach-100-background {
 --background_color: #ebe6cd;
}
.has-beach-100-background > * {
 --background_color: #ebe6cd;
}
.has-beach-100-background.background_fill {
 --background_color: #ebe6cd;
}

.overlay-darken-10 {
 --alpha: 0.1;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-20 {
 --alpha: 0.2;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-30 {
 --alpha: 0.3;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-40 {
 --alpha: 0.4;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-50 {
 --alpha: 0.5;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-60 {
 --alpha: 0.6;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-70 {
 --alpha: 0.7;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-80 {
 --alpha: 0.8;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-90 {
 --alpha: 0.9;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-darken-100 {
 --alpha: 1;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: rgba(0, 0, 0, var(--alpha));
}

.overlay-gradient {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 --color_start: #192d62;
 --color_end: rgba(25, 45, 98, 0);
 --direction: 0deg;
 background: linear-gradient(var(--direction), var(--color_start) 10%, var(--color_end) 90%);
}
.overlay-gradient-from_left {
 --direction: 90deg;
}
.overlay-gradient-from_top {
 --direction: 180deg;
}
.overlay-gradient-from_right {
 --direction: 270deg;
}