/*css/utilities/misc.scss*/
.pin-1 {
 -o-object-position: top left;
    object-position: top left;
}
.pin-2 {
 -o-object-position: top center;
    object-position: top center;
}
.pin-3 {
 -o-object-position: top right;
    object-position: top right;
}
.pin-4 {
 -o-object-position: center left;
    object-position: center left;
}
.pin-5 {
 -o-object-position: center center;
    object-position: center center;
}
.pin-6 {
 -o-object-position: center right;
    object-position: center right;
}
.pin-7 {
 -o-object-position: bottom left;
    object-position: bottom left;
}
.pin-8 {
 -o-object-position: bottom center;
    object-position: bottom center;
}
.pin-9 {
 -o-object-position: bottom right;
    object-position: bottom right;
}