@use "../abstracts" as *;

/*css/utilities/misc.scss*/
// pins image so it crops to a point. uses 3x3 grid

// 123
// 456
// 789

.pin- {
	&1 {
		object-position: top left;
	}
	&2 {
		object-position: top center;
	}
	&3 {
		object-position: top right;
	}
	&4 {
		object-position: center left;
	}
	&5 {
		object-position: center center;
	}
	&6 {
		object-position: center right;
	}
	&7 {
		object-position: bottom left;
	}
	&8 {
		object-position: bottom center;
	}
	&9 {
		object-position: bottom right;
	}
}
