@charset "UTF-8";
@import url("https://use.typekit.net/cue8qlh.css");
/*css/components/text_styles.scss*/
h1 {
 font-size: 7.25rem;
 font-size: calc(4.2657vw + 2rem);
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 font-weight: 500;
 line-height: 105%;
 letter-spacing: -0.02em;
 color: #192d62;
 text-wrap: balance;
}
@media (min-width: 1440px) {
 h1 {
  font-size: 5.83913rem;
 }
}

h2 {
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 font-weight: 400;
 font-size: calc(1.439vw + 1.21743125rem);
 line-height: 115%;
 letter-spacing: -0.02em;
 color: var(--theme_color-100);
 text-wrap: balance;
 color: #192d62;
}
@media (min-width: 1440px) {
 h2 {
  font-size: 2.51253125rem;
 }
}

h3 {
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 font-weight: 400;
 font-size: calc(0.9273vw + 0.90845rem);
 line-height: 125%;
 letter-spacing: -0.02em;
 color: #192d62;
 text-wrap: balance;
}
@media (min-width: 1440px) {
 h3 {
  font-size: 1.74302rem;
 }
}

h4 {
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 500;
 font-size: calc(0.8695vw + 0.8899625rem);
 line-height: 125%;
 letter-spacing: -0.02em;
 color: #192d62;
 text-wrap: balance;
}
@media (min-width: 1440px) {
 h4 {
  font-size: 1.6725125rem;
 }
}

h5 {
 font-size: calc(0.6878vw + 0.5184875rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 600;
 line-height: 120%;
 letter-spacing: -0.02em;
 color: #1c326f;
 text-wrap: balance;
}
@media (min-width: 1440px) {
 h5 {
  font-size: 1.1375075rem;
 }
}

h6 {
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-style: italic;
 font-weight: 900;
 line-height: 120%;
 letter-spacing: 0.125em;
 color: #76affe;
 text-transform: uppercase;
}

p {
 font-size: calc(0.344vw + 0.7684875rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 300;
 line-height: 135%;
 letter-spacing: -0.02em;
 color: #1c326f;
 text-wrap: balance;
}
@media (min-width: 1440px) {
 p {
  font-size: 1.0780875rem;
 }
}
p b {
 font-weight: 600;
}
p.small {
 font-size: calc(0.1878vw + 0.7684875rem);
}
@media (min-width: 1440px) {
 p.small {
  font-size: 0.9375075rem;
 }
}
p.jumbo {
 font-size: calc(0.8451vw + 1.1144375rem);
}
@media (min-width: 1440px) {
 p.jumbo {
  font-size: 1.8750275rem;
 }
}
p.large {
 font-size: calc(0.2817vw + 1.05898125rem);
}
@media (min-width: 1440px) {
 p.large {
  font-size: 1.31251125rem;
 }
}
p a {
 color: #76affe;
 display: inline-block;
 position: relative;
 text-decoration: none;
 font-weight: 600;
}
p a:after {
 content: "";
 display: block;
 position: absolute;
 width: 0;
 top: 80%;
 height: 0.09375em;
 left: 0;
 background-color: currentColor;
 transition: all 0.25s ease-in 0s;
}
p a:not(.arrow):hover:after {
 width: 100%;
}
p a.arrow svg {
 margin-left: 0.75em;
 height: 0.75em;
 transition: 300ms all;
}
p a.arrow svg .stroke {
 stroke: currentColor;
 stroke-width: 1.5;
}
p a.arrow:hover svg {
 margin-left: 1.25em;
}

.is-brand-900 {
 color: #192d62;
}

.is-brand-800 {
 color: #1c326f;
}

.is-brand-800t {
 color: rgba(29, 52, 114, 0.8);
}

.is-brand-800 {
 color: #1c326f;
}

.is-brand-800t {
 color: rgba(33, 60, 131, 0.8);
}

.is-brand-500 {
 color: #76affe;
}

.is-brand-200 {
 color: #a9bfeb;
}

.is-brand-100 {
 color: #bccceb;
}

.is-indoor-900 {
 color: #592817;
}

.is-indoor-800 {
 color: #662e1a;
}

.is-indoor-800t {
 color: rgba(105, 47, 27, 0.8);
}

.is-indoor-800 {
 color: #70321d;
}

.is-indoor-800t {
 color: rgba(121, 55, 31, 0.8);
}

.is-indoor-500 {
 color: #f16122;
}

.is-indoor-200 {
 color: #f0c4b5;
}

.is-indoor-100 {
 color: #ebd5cd;
}

.is-grass-900 {
 color: #3b520e;
}

.is-grass-800 {
 color: #456010;
}

.is-grass-800t {
 color: rgba(72, 99, 17, 0.8);
}

.is-grass-800 {
 color: #4f6e13;
}

.is-grass-800t {
 color: rgba(84, 117, 20, 0.8);
}

.is-grass-500 {
 color: #94d13d;
}

.is-grass-200 {
 color: #d1f095;
}

.is-grass-100 {
 color: #e2f5ba;
}

.is-beach-900 {
 color: #625619;
}

.is-beach-800 {
 color: #6f611c;
}

.is-beach-800t {
 color: rgba(114, 100, 29, 0.8);
}

.is-beach-500 {
 color: #f9d452;
}

.is-beach-300t {
 color: rgba(223, 215, 176, 0.8);
}

.is-beach-300 {
 color: #f0e6b5;
}

.is-beach-200t {
 color: rgba(229, 223, 190, 0.8);
}

.is-beach-200 {
 color: #f0e6b5;
}

.is-beach-100 {
 color: #ebe6cd;
}

/*css/components/buttons/button.scss*/
.button {
 --_inital_text: #a9bfeb;
 --_inital_background: #192d62;
 --_active_color: var(--theme_color-500);
 color: var(--_inital_text);
 border: 1px solid var(--_inital_background);
 background-color: var(--_inital_background);
 font-size: 1.125rem;
 display: flex;
 padding: 0.6111111111em 1.1111111111em 0.7222222222em 1.1111111111em;
 align-items: flex-start;
 gap: 0.75em;
 border-radius: 0.25rem;
 position: relative;
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 outline: 0;
 line-height: 1;
 text-align: center;
 box-sizing: border-box;
 text-decoration: none;
 display: inline-flex;
 align-items: center;
 justify-content: center;
 font-weight: 400;
 overflow: hidden;
 isolation: isolate;
 transition: all 300ms;
}
.button:hover, .button:focus {
 color: var(--_inital_background);
 border: 1px solid var(--_active_color);
 background-color: var(--_active_color);
}
.button.secondary {
 color: var(--_inital_background);
 border: 1px solid var(--_inital_background);
 background-color: rgba(0, 0, 0, 0);
}
.button.secondary:hover, .button.secondary:focus {
 color: var(--_active_color);
 border: 1px solid var(--_inital_background);
 background-color: var(--_inital_background);
}

.button-container {
 display: flex;
 gap: 1rem;
 align-items: flex-start;
}

.button.is-theme-500 {
 --_inital_text: #192d62;
 --_inital_background: var(--theme_color-500);
 --_active_color: #192d62;
}

/*css/components/buttons/filters.scss*/
.checkbox_filter--label {
 display: flex;
 padding: 0.625rem 0.9375rem;
 border: 0.0625rem solid #192d62;
 color: #192d62;
 font-size: 0.75rem;
 line-height: 100%;
 font-weight: 500;
 gap: 0.625rem;
 align-items: center;
 border-radius: 0.25rem;
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 transition: 0.125s all;
}
.checkbox_filter--label.echo {
 color: #1c326f;
 border: 0.0625rem solid #1c326f;
}
.checkbox_filter--label.inactive {
 opacity: 0.5;
}
.checkbox_filter--label.inactive:hover, .checkbox_filter--label.inactive:focus-visible, .checkbox_filter--label.inactive:focus {
 color: #192d62;
 background-color: transparent;
 border: 0.0625rem solid #192d62;
}
.checkbox_filter--label:hover, .checkbox_filter--label:focus-visible, .checkbox_filter--label:focus {
 color: #192d62;
 background-color: #76affe;
 border: 0.0625rem solid #76affe;
}
.checkbox_filter--label.current {
 color: #76affe;
 background-color: #192d62;
 border: 0.0625rem solid #192d62;
}
.checkbox_filter--label.current:hover, .checkbox_filter--label.current:focus-visible, .checkbox_filter--label.current:focus {
 color: #192d62;
 background-color: #76affe;
 border: 0.0625rem solid #76affe;
}
.checkbox_filter--input {
 display: none;
}
.checkbox_filter--text {
 flex-grow: 1;
}
.checkbox_filter--ex {
 position: relative;
 height: 0.5em;
 width: 0.5em;
 display: none;
}
.checkbox_filter--ex::before, .checkbox_filter--ex::after {
 content: "";
 display: block;
 width: 0.5em;
 height: 0.0625rem;
 background-color: currentColor;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 transform: translate(-50%, -50%) rotate(45deg);
}
.checkbox_filter--ex::after {
 transform: translate(-50%, -50%) rotate(-45deg);
}
.echo .checkbox_filter--ex {
 display: block;
}
.echo:hover .checkbox_filter--ex {
 transform: scale(1.25);
}

/*css/components/content/inline_alert.scss*/
.inline_alert--container {
 padding: 1.5rem;
 border-radius: 0.25rem;
 border: 1px dashed #192d62;
 display: flex;
 gap: 1.5rem;
 align-items: center;
 background-color: rgba(118, 175, 254, 0.05);
 width: 100%;
}
.inline_alert--container.small {
 padding: 1rem;
}
.inline_alert--icon {
 flex-grow: 0;
 flex-shrink: 0;
 font-family: Times;
 color: #a9bfeb;
 font-size: 1.25rem;
 background-color: #192d62;
 width: 1.875rem;
 height: 1.875rem;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
}
.small .inline_alert--icon {
 font-size: 1rem;
 width: 1.5rem;
 height: 1.5rem;
}
.inline_alert--text_content {
 flex-grow: 1;
}
.inline_alert--text_content p {
 color: #192d62;
 font-weight: 500;
}
.inline_alert--text_content p.small {
 color: #1c326f;
 font-weight: 300;
}

/*css/components/content/intro_area.scss*/
.intro_area {
 gap: var(--gap);
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 grid-column: 2/-2;
 position: relative;
}
.intro_area.inset {
 grid-column: 3/-3;
}
@media (max-width: 991px) {
 .intro_area.inset {
  grid-column: 2/-2;
 }
}
.intro_area.narrow {
 grid-column: 4/-4;
}
@media (max-width: 991px) {
 .intro_area.narrow {
  grid-column: 3/-3;
 }
}
@media (max-width: 767px) {
 .intro_area.narrow {
  grid-column: 2/-2;
 }
}

/*css/components/content/list_styles.scss*/
.text_content ul {
 display: flex;
 flex-direction: column;
 gap: 0.75rem;
}
.text_content ul li p {
 display: flex;
 gap: 0.25em;
 color: var(--theme_color-200);
 margin-left: 1.25em;
 max-width: 60ch;
}
.text_content ul li p::before {
 content: "";
 display: block;
 height: 0.75em;
 width: 0.75em;
 margin-top: 0.25em;
 color: inherit;
 flex-shrink: 0;
 border-radius: 50%;
 margin-right: 0.5rem;
 background: currentColor;
 box-shadow: inset 0 0 0 0.75em var(--theme_color-900), 0 0 0 1px var(--theme_color-100);
}
.text_content ul.no-decoration li p {
 max-width: 70ch;
}
.text_content ul.no-decoration li p::before {
 display: none;
}

.list_type--hightlight_numbers {
 counter-reset: li;
}
.list_type--hightlight_numbers li {
 counter-increment: li;
 display: flex;
 gap: 1rem;
 align-items: center;
}
.list_type--hightlight_numbers li::before {
 content: counter(li);
 color: var(--theme_color-500);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-size: 1.5em;
 font-style: italic;
 font-weight: 800;
 line-height: 115%;
 position: relative;
 z-index: 1;
 margin-left: 0.5em;
}
.list_type--hightlight_numbers li::after {
 content: "";
 display: block;
 position: inherit;
 width: 1.75em;
 height: 1.75em;
 background-color: #1c326f;
 border-radius: 50%;
 position: absolute;
 left: 0;
}

/*css/components/content/media_area.scss*/
.media_area {
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}

.media_content {
 border-radius: var(--corner);
 position: relative;
 overflow: hidden;
 width: 100%;
}
.media_content img,
.media_content video {
 width: 100%;
 height: auto;
 display: block;
}
.media_content.cover {
 --ratio: 9/16;
 padding-top: calc(var(--ratio) * 100%);
}
.media_content.cover img,
.media_content.cover video {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.media_content .faux-mask {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: var(--theme_color-900);
 height: 105%;
 width: 105%;
}

/*css/components/content/person_profile.scss*/
.person_profile--item {
 display: flex;
 flex-direction: column;
 gap: 1.25rem;
}
.person_profile--media_area {
 position: relative;
}
.person_profile--media_content {
 width: 100%;
 overflow: hidden;
 position: relative;
 padding-top: 100%;
 border-radius: 0.75rem;
}
.person_profile--media_content img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.person_profile--locations {
 position: absolute;
 inset: 0;
 padding: 0.75rem;
 align-items: flex-end;
 z-index: 1;
 background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
 color: #ffffff;
 font-size: 0.875rem;
 padding: 0.75rem;
 display: none;
}
.organizers .person_profile--locations {
 display: flex;
}
.person_profile--text_content {
 display: grid;
 grid-template-columns: 1fr auto;
 gap: 0.375rem;
}
@media (max-width: 767px) {
 .person_profile--text_content {
  grid-template-columns: 1fr;
 }
}
.person_profile--title {
 font-size: 0.8125rem;
 grid-column: 1/-1;
 display: none;
}
.board_members .person_profile--title {
 display: block;
}
.person_profile--name {
 align-self: end;
}
.person_profile--pronouns {
 font-size: 0.8125rem;
 align-self: end;
}

/*css/components/content/team_profile.scss*/
.team_profile--item {
 display: flex;
 flex-direction: column;
 gap: 1.25rem;
}
.team_profile--media_area {
 position: relative;
}
.team_profile--media_content {
 width: 100%;
 overflow: hidden;
 position: relative;
 padding-top: 100%;
 border-radius: 0.75rem;
}
.team_profile--media_content img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.team_profile--locations {
 position: absolute;
 inset: 0;
 padding: var(--gap);
 display: flex;
 align-items: flex-end;
 z-index: 1;
 background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
 display: none;
}
.team_profile--locations p {
 color: #ffffff;
}
.organizers .team_profile--locations {
 display: flex;
}
.team_profile--text_content {
 display: flex;
 flex-direction: column;
}
.team_profile--name {
 font-weight: 600;
 margin-top: 0.25rem;
}
.team_profile--event {
 color: var(--theme_color-500);
 font-weight: 600;
 font-size: 0.875rem;
}

/*css/components/content/text_area.scss*/
.text_area {
 gap: 1.5rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: stretch;
 position: relative;
}

.text_content {
 gap: 0.5rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 position: relative;
}

/*css/components/content/location_list.scss*/
.locations--list li {
 display: flex;
 gap: 0.5rem;
}
.locations--list i {
 color: var(--theme_color-900);
 border-radius: 2rem;
 display: none;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 0.25rem 0.625rem;
 gap: 0.375rem;
 font-size: 0.6875rem;
 font-weight: 500;
 margin-bottom: auto;
}

[data-indicator=grass] {
 background: #94d13d;
}
[data-indicator=grass]:after {
 content: "Grass";
}

[data-indicator=indoor] {
 background: #f16122;
}
[data-indicator=indoor]:after {
 content: "Indoor";
}

[data-indicator=beach] {
 background: #f9d452;
}
[data-indicator=beach]:after {
 content: "Beach";
}

[location-data~=grass] i[data-indicator=grass] {
 display: flex;
}

[location-data~=indoor] i[data-indicator=indoor] {
 display: flex;
}

[location-data~=beach] i[data-indicator=beach] {
 display: flex;
}

/*css/components/content/accordian.scss*/
/*css/components/content/location_list.scss*/
.accordion {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 text-align: left;
 gap: var(--spacing);
 border-bottom: 1px solid var(--theme_color-800);
 --spacing: 1.5rem;
}
.accordion:last-child {
 border-bottom: 0px solid var(--theme_color-800);
}
.accordion--trigger {
 border: 0;
 padding: 0;
 margin: 0;
 background: transparent;
 text-align: left;
}
.accordion--trigger h4 {
 display: flex;
 justify-content: space-between;
 gap: var(--spacing);
}
.accordion--content {
 display: grid;
 grid-template-rows: 0fr;
 transition: 0.5s grid-template-rows;
}
.accordion--content > .text_content {
 overflow: hidden;
 padding-bottom: 0rem;
 transition: 0.5s padding;
 gap: 1rem;
}
[aria-expanded=true] + .accordion--content {
 grid-template-rows: 1fr;
}
[aria-expanded=true] + .accordion--content > .text_content {
 padding-bottom: var(--spacing);
}
.accordion--icon::after {
 content: "+";
}
[aria-expanded=true] .accordion--icon::after {
 content: "—";
}

/*css/components/content/accordian.scss*/
/*css/components/content/location_list.scss*/
.toggle {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 text-align: left;
 gap: var(--spacing);
 --spacing: 1.5rem;
}
.toggle--title {
 display: flex;
 gap: var(--gap);
}
.toggle--checkbox {
 display: none;
}
.toggle--thumb {
 background-color: white;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 padding: 0.1875rem;
 border-radius: 2em;
}
.toggle--thumb .indicator {
 display: block;
 grid-column: 1;
 grid-row: 1;
 background-color: red;
 height: 100%;
 width: 100%;
 border-radius: 2em;
 transition: 0.3s all;
}
[data-toggle=indoor-outdoor] .toggle--thumb .indicator {
 background-color: #f16122;
}
.toggle--thumb .option {
 font-size: 0.6875rem;
 grid-column: 1;
 grid-row: 1;
 text-align: center;
 position: relative;
 transition: 0.3s all;
 padding: 0.5rem 0.875rem;
 line-height: 100%;
 display: block;
 color: white;
}
.toggle--thumb .option:last-child {
 grid-column: 2;
 color: var(--theme_color-200);
}
input:checked + .toggle--thumb .option {
 color: var(--theme_color-200);
}
input:checked + .toggle--thumb .option:last-child {
 color: white;
}
input:checked + .toggle--thumb .indicator {
 transform: translateX(100%);
}
[data-toggle=indoor-outdoor] input:checked + .toggle--thumb .indicator {
 background-color: #94d13d;
}
.toggle--content {
 display: grid;
 transition: 0.5s grid-template-rows;
}
.toggle--content > .text_content {
 overflow: hidden;
 padding-bottom: 0rem;
 transition: 0.5s padding;
 gap: 1rem;
}
.toggle--content.initial {
 grid-template-rows: 1fr;
}
[toggle-state=checked] .toggle--content.initial {
 grid-template-rows: 0fr;
}
.toggle--content.toggled {
 grid-template-rows: 0fr;
}
[toggle-state=checked] .toggle--content.toggled {
 grid-template-rows: 1fr;
}

/*css/components/cards/icon_card.scss*/
.icon_card {
 padding: 2rem;
 border-radius: 0.75rem;
 transition: 0.3s all;
}
@media (min-width: 1440px) {
 .icon_card {
  padding: 3rem 2rem;
 }
}
.icon_card--text_area {
 display: flex;
 flex-direction: column;
 gap: 1.5rem;
 align-items: flex-start;
 justify-content: flex-start;
}
.icon_card--text_content {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}
.icon_card--text_content p {
 color: var(--theme_color-200);
 transition: 0.3s all;
}
a:hover .icon_card--text_content p {
 color: var(--theme_color-900);
}
.icon_card--text_content .arrow_button {
 color: var(--theme_color-500);
 transition: 0.3s all;
}
a:hover .icon_card--text_content .arrow_button {
 color: var(--theme_color-900);
 transform: translateX(1rem);
}
.icon_card--text_content .arrow_button svg {
 width: 2rem;
}
.icon_card--text_content .arrow_button svg .stroke {
 stroke: currentColor;
 stroke-width: 2.5;
}
.icon_card--header {
 display: flex;
 gap: 1rem;
 color: var(--theme_color-500);
 transition: 0.3s all;
 align-items: center;
}
.icon_card--header span {
 display: inline-block;
 margin-top: 0.25em;
}
a:hover .icon_card--header {
 color: var(--theme_color-900);
}
.icon_card--header h1,
.icon_card--header h2,
.icon_card--header h3,
.icon_card--header h4,
.icon_card--header h5,
.icon_card--header h6 {
 flex-grow: 1;
 color: inherit;
}
.icon_card--icon {
 width: 1.5em;
 height: 1.5em;
 flex-shrink: 0;
}
.icon_card--icon .fill {
 fill: currentColor;
}

a.icon_card:hover {
 background: var(--theme_color-500);
}
a.icon_card:hover.for-indoor {
 background: #f16122;
}
a.icon_card:hover.for-grass {
 background: #94d13d;
}

/*css/components/cards/resource_card.scss*/
.resource_card {
 padding: 1.5rem;
 border-radius: 0.75rem;
 transition: 0.3s all;
 display: flex;
 flex-direction: column;
 gap: 1rem;
}
.resource_card:hover {
 background: var(--theme_color-500);
}
.resource_card--media_area {
 min-width: 50%;
 max-height: 12.5rem;
 overflow: hidden;
 border-radius: 0.5rem;
}
.resource_card--media_content {
 width: 100%;
 overflow: hidden;
 position: relative;
 padding-top: 50%;
 border-radius: 0.5rem;
}
.resource_card--media_content img {
 transition: 1s all;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 display: block;
}
a:hover .resource_card--media_content img {
 transform: scale(1.1);
}
.resource_card--text_area {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 align-items: flex-start;
 justify-content: flex-start;
}
.resource_card--text_area:last-child {
 flex-grow: 1;
}
.resource_card--text_content {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}
.resource_card--text_content:first-child {
 flex-grow: 1;
 justify-content: flex-start;
}
.resource_card--text_content p {
 color: var(--theme_color-200);
 transition: 0.3s all;
 font-size: 0.875rem;
}
a:hover .resource_card--text_content p {
 color: var(--theme_color-900);
}
.resource_card--text_content h1,
.resource_card--text_content h2,
.resource_card--text_content h3,
.resource_card--text_content h4,
.resource_card--text_content h5,
.resource_card--text_content h6 {
 color: var(--theme_color-100);
 transition: 0.3s all;
}
a:hover .resource_card--text_content h1,
a:hover .resource_card--text_content h2,
a:hover .resource_card--text_content h3,
a:hover .resource_card--text_content h4,
a:hover .resource_card--text_content h5,
a:hover .resource_card--text_content h6 {
 color: var(--theme_color-900);
}

/*css/components/cards/location_card.scss*/
.location_card {
 padding: 1.5rem;
 border-radius: 0.75rem;
 transition: 0.3s all;
 display: flex;
 flex-direction: column;
 gap: 1rem;
}
.location_card--text_area {
 height: 100%;
}
.location_card--text_area:last-child {
 flex-grow: 1;
}
.location_card--text_content {
 width: 100%;
}
.location_card--text_content:first-child {
 flex-grow: 1;
 justify-content: flex-start;
}
.location_card--text_content hr {
 width: 100%;
 display: block;
 color: #1c326f;
 border: 0;
 border-bottom: 1px solid currentColor;
 transition: 0.3s all;
}
.location_card--text_content h1,
.location_card--text_content h2,
.location_card--text_content h3,
.location_card--text_content h4,
.location_card--text_content h5,
.location_card--text_content h6 {
 font-weight: 600;
 flex-grow: 1;
 transition: 0.3s all;
}

a.location_card {
 display: block;
}
a.location_card:hover {
 background: var(--theme_color-500);
}

/*css/components/cards/tournament_card.scss*/
.tournament_card {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 padding: 1.5rem;
 gap: 1rem;
}
.tournament_card--date {
 font-size: 0.875rem;
 line-height: 100%;
 font-weight: trade-gothic-next, "Gothic A1", sans-serif;
 text-transform: uppercase;
 display: flex;
 gap: 0.625rem;
 align-items: justify;
 font-weight: 500;
 display: flex;
 gap: inherit;
 transition: 0.5s color;
}
.tournament_card--description {
 display: grid;
 gap: 1rem;
 grid-template-columns: 1fr 1fr auto;
}
@media (max-width: 767px) {
 .tournament_card--description {
  grid-template-columns: 1fr auto;
 }
}
@media (max-width: 576px) {
 .tournament_card--description {
  grid-template-columns: 1fr;
 }
}
.tournament_card--title {
 display: flex;
 flex-direction: column;
 gap: 0.25rem;
 transition: 0.5s color;
}
.tournament_card--title h1,
.tournament_card--title h2,
.tournament_card--title h3,
.tournament_card--title h4,
.tournament_card--title h5,
.tournament_card--title h6 {
 font-weight: 600;
}
.tournament_card--body p {
 font-size: 0.9375rem;
}
.tournament_card--body .host {
 font-weight: 600;
 text-decoration: underline;
 transition: 0.5s color;
 color: var(--theme_color-100);
}
a:hover .tournament_card--body .host {
 color: var(--theme_color-900);
}
@media (max-width: 767px) {
 .tournament_card--body {
  grid-column: 1;
 }
}
aside .tournament_card--body {
 display: none;
}
@media (max-width: 767px) {
 .tournament_card--location {
  grid-row: 1;
  grid-column: 2;
  margin-top: 0.5rem;
 }
}
@media (max-width: 576px) {
 .tournament_card--location {
  margin-right: auto;
  grid-row: auto;
  grid-column: auto;
  margin-top: auto;
 }
}
aside .tournament_card--location {
 display: none;
}

/*css/components/cards/event_card.scss*/
.event_card {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 padding: 1.5rem;
 gap: 1rem;
}
.event_card--date {
 font-size: 0.875rem;
 line-height: 100%;
 font-weight: trade-gothic-next, "Gothic A1", sans-serif;
 text-transform: uppercase;
 display: flex;
 gap: 0.625rem;
 align-items: justify;
 align-items: center;
}
@media (max-width: 767px) {
 .event_card--date {
  font-size: 0.75rem;
 }
}
.event_card--date .date {
 font-weight: 500;
 display: flex;
 gap: inherit;
 border-right: 1px solid currentColor;
 padding-right: 0.625rem;
}
.event_card--description {
 display: grid;
 gap: 0.75rem;
 grid-template-columns: 1fr auto;
 position: relative;
}
.event_card--title {
 display: flex;
 flex-direction: column;
 gap: 0.25rem;
}
.event_card--title h4 {
 line-height: 110%;
 transition: 0.5s color;
 font-weight: 600;
}
@media (max-width: 767px) {
 .event_card--title h4 {
  transition: 0.5s all;
  font-size: 1.25rem;
 }
}
.event_card--level {
 grid-column: 1;
 align-self: end;
 display: flex;
 gap: 0.5em;
 font-size: 0.875rem;
 line-height: 100%;
}
.event_card--level .rank {
 font-weight: 600;
}
.event_card--location {
 grid-column: 2;
 grid-row: 1/3;
 align-self: end;
}

/*css/components/cards/league_card.scss*/
.league_card {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 padding: 1.5rem;
 gap: 1rem;
}
.league_card--date {
 font-size: 0.875rem;
 line-height: 100%;
 font-weight: trade-gothic-next, "Gothic A1", sans-serif;
 text-transform: uppercase;
 display: flex;
 gap: 0.625rem;
 align-items: justify;
 font-weight: 500;
 display: flex;
 gap: inherit;
 transition: 0.5s color;
}
.league_card--date .expected {
 font-weight: 600;
 transition: 0.5s color;
}
.league_card--description {
 display: grid;
 gap: 1rem;
 grid-template-columns: 1fr 1fr auto;
}
@media (max-width: 767px) {
 .league_card--description {
  grid-template-columns: 1fr auto;
 }
}
@media (max-width: 576px) {
 .league_card--description {
  grid-template-columns: 1fr;
 }
}
.league_card--title {
 display: flex;
 flex-direction: column;
 gap: 0.25rem;
 transition: 0.5s color;
}
.league_card--title h1,
.league_card--title h2,
.league_card--title h3,
.league_card--title h4,
.league_card--title h5,
.league_card--title h6 {
 transition: 0.5s color;
 font-weight: 600;
}
.league_card--title .day {
 transition: 0.5s color;
}
.league_card--body p {
 font-size: 0.9375rem;
}
@media (max-width: 767px) {
 .league_card--body {
  grid-column: 1;
 }
}
@media (max-width: 767px) {
 .league_card--location {
  grid-row: 1;
  grid-column: 2;
  margin-top: 0.5rem;
 }
}
@media (max-width: 576px) {
 .league_card--location {
  margin-right: auto;
  grid-row: auto;
  grid-column: auto;
  margin-top: auto;
 }
}

.card {
 border-radius: calc(0.75 * var(--corner));
 background-color: rgba(255, 255, 255, 0.8);
 -webkit-backdrop-filter: blur(0.5rem);
         backdrop-filter: blur(0.5rem);
 color: #1c326f;
}

a.card {
 text-decoration: none;
 box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0);
 transition: 0.5s all;
 position: relative;
 top: 0;
}
a.card:hover {
 background-color: var(--theme_color-500);
 box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0.08);
 color: #192d62;
 top: -0.2em;
}

.locations--list i {
 color: var(--theme_color-900);
 border-radius: 2rem;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 0.4375rem 0.6875rem;
 gap: 0.375rem;
 font-size: 0.625rem;
}
.locations--list i[data-indicator=grass] {
 content: "grass";
 background: #94d13d;
}