/*css/components/color_themes.scss*/
:root {
 --theme_color-50: #edf0f8;
 --theme_color-500: #76affe;
 --theme_color-51: rgba(118, 175, 254, 0.1);
 --theme_color-100: #bccceb;
 --theme_color-200: #a9bfeb;
 --theme_color-900: #192d62;
 --theme_color-800: #1c326f;
 --theme_color-700: #213d85;
 --theme_color-800t: rgba(29, 52, 114, 0.8);
 --theme_color-700t: rgba(33, 60, 131, 0.8);
 --theme_color-900t: rgba(25, 45, 98, 0.8);
 --theme_fade: linear-gradient(
 	180deg,
 	rgba($brand-900, 0) 0%,
 	rgba($brand-900, 1) 100%
 );
 --white: #ffffff;
 --brand-50: #edf0f8;
 --brand-500: #76affe;
 --brand-100: #bccceb;
 --brand-200: #a9bfeb;
 --brand-900: #192d62;
 --brand-800: #1c326f;
 --brand-700: #213d85;
 --brand_fade: linear-gradient(
 	180deg,
 	rgba($brand-900, 0) 0%,
 	rgba($brand-900, 1) 100%
 );
}

.theme_brand {
 --theme_color-500: #76affe;
 --theme_color-51: rgba(118, 175, 254, 0.1);
 --theme_color-100: #bccceb;
 --theme_color-200: #a9bfeb;
 --theme_color-900: #192d62;
 --theme_color-800: #1c326f;
 --theme_color-700: #213d85;
 --theme_color-800t: rgba(29, 52, 114, 0.8);
 --theme_color-700t: rgba(33, 60, 131, 0.8);
 --theme_color-900t: rgba(25, 45, 98, 0.8);
 --theme_fade: linear-gradient(
 	180deg,
 	rgba($brand-900, 0) 0%,
 	rgba($brand-900, 1) 100%
 );
}

.theme_indoor {
 --theme_color-900: #592817;
 --theme_color-800: #662e1a;
 --theme_color-800t: rgba(105, 47, 27, 0.8);
 --theme_color-700: #70321d;
 --theme_color-700t: rgba(121, 55, 31, 0.8);
 --theme_color-500: #f16122;
 --theme_color-51: rgba(241, 97, 34, 0.1);
 --theme_color-200: #f0c4b5;
 --theme_color-100: #ebd5cd;
 --theme_color-900t: rgba(89, 40, 23, 0.8);
 --theme_fade: linear-gradient(
 	180deg,
 	rgba($indoor-900, 0) 0%,
 	rgba($indoor-900, 1) 100%
 );
}

.theme_grass {
 --theme_color-900: #3b520e;
 --theme_color-800: #456010;
 --theme_color-800t: rgba(72, 99, 17, 0.8);
 --theme_color-700: #4f6e13;
 --theme_color-700t: rgba(84, 117, 20, 0.8);
 --theme_color-500: #94d13d;
 --theme_color-51: rgba(148, 209, 61, 0.1);
 --theme_color-200: #d1f095;
 --theme_color-100: #e2f5ba;
 --theme_color-900t: rgba(59, 82, 14, 0.8);
 --theme_fade: linear-gradient(
 	180deg,
 	rgba($grass-900, 0) 0%,
 	rgba($grass-900, 1) 100%
 );
}

.theme_beach {
 --theme_color-500: #f9d452;
 --theme_color-100: #192d62;
 --theme_color-200: #1c326f;
 --theme_color-51: rgba(249, 212, 82, 0.1);
 --theme_color-900: #f8e99c;
 --theme_color-800: #fbea9b;
 --theme_color-800t: rgba(251, 236, 162, 0.8);
 --theme_color-700: #fbeca9;
 --theme_color-700t: rgba(251, 239, 181, 0.8);
 --theme_color-900t: rgba(248, 233, 156, 0.8);
}
.theme_beach a:hover {
 --theme_color-900: #193fa8;
}

.theme_light {
 --theme_color-500: #3f73d1;
 --theme_color-100: #192d62;
 --theme_color-200: #1c326f;
 --theme_color-900: #edf0f8;
 --theme_color-800: #a9bfeb;
 --theme_color-800t: rgba(172, 192, 230, 0.8);
 --theme_color-51: rgba(118, 175, 254, 0.1);
}