@use "sass:color";
@use "../abstracts" as *;

@import url("https://use.typekit.net/cue8qlh.css");

// @mixin fluid_size_text($scale: 2.5, $floor: 38/16) {
// 	$cap: $scale * 1440 / 100 /16 * 1;
// 	font-size: calc($scale * 1vw + $floor * 1rem);
// 	@include xl() {
// 		font-size: calc($cap * 1rem + $floor * 1rem);
// 	}
// }

// @mixin fluid_line-height($scale: 2.5, $floor: 38/16) {
// 	$cap: $scale * 1440 / 100 /16 * 1;
// 	line-height: calc($scale * 1vw + $floor * 1rem);
// 	@include xl() {
// 		line-height: calc($cap * 1rem + $floor * 1rem);
// 	}
// }

//================================================
/*css/components/text_styles.scss*/
//================================================

h1 {
	font-size: 116/16 * 1rem;
	@include fluid_size_text($scale: 4.2657, $floor: 32/16);
	font-family: $serif_font;
	font-weight: 500;
	line-height: 105%;
	letter-spacing: -0.02em;
	color: $brand-900;
	text-wrap: balance;
}

h2 {
	font-family: $serif_font;
	font-weight: 400;
	@include fluid_size_text(1.839, $floor: 21.47/16);
	line-height: 115%;
	letter-spacing: -0.02em;
	text-wrap: balance;
	color: $brand-900;
}

h3 {
	font-family: $serif_font;
	font-weight: 400;
	@include fluid_size_text($scale: 1.2073, $floor: 17.5352/16);
	line-height: 125%;
	letter-spacing: -0.02em;
	color: $brand-900;
	text-wrap: balance;
}
h4 {
	font-family: $sans_font;
	font-weight: 600;
	@include fluid_size_text($scale: 0.8695, $floor: 14.2394/16);
	line-height: 125%;
	letter-spacing: -0.02em;
	color: $brand-900;
	text-wrap: balance;
}
h5 {
	@include fluid_size_text($scale: 0.6878, $floor: 12.2958/16);
	font-family: $sans_font;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: -0.02em;
	color: $brand-700;
	text-wrap: balance;
}
h6 {
	font-family: $sans_font-condensed;
	font-style: italic;
	font-weight: 900;
	line-height: 120%;
	letter-spacing: 0.05em;
	color: $brand-500;
	text-transform: uppercase;
}

p {
	@include fluid_size_text($scale: 0.384, $floor: 0.8309875);
	font-family: $sans_font;
	font-weight: 300;
	line-height: 135%;
	letter-spacing: -0.02em;
	color: $brand-700;
	text-wrap: balance;

	b {
		font-weight: 600;
	}
	&.small {
		@include fluid_size_text($scale: 0.3264, $floor: 0.706339375);
	}

	&.large {
		@include fluid_size_text($scale: 0.48, $floor: 1.038734375);
	}
	&.jumbo {
		@include fluid_size_text($scale: 0.612, $floor: 1.324386328);
	}
	a {
		color: $brand-500;
		display: inline-block;
		position: relative;
		text-decoration: none;
		font-weight: 600;
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 0;
			top: 80%;
			height: 3/32 * 1em;
			left: 0;
			background-color: currentColor;
			transition: all 0.25s ease-in 0s;
		}
		&:not(.arrow):hover:after {
			width: 100%;
		}
		&.arrow {
			svg {
				margin-left: 0.75em;
				height: 0.75em;
				transition: 300ms all;
				.stroke {
					stroke: currentColor;
					stroke-width: 1.5;
				}
			}
			&:hover {
				svg {
					margin-left: 1.25em;
				}
			}
		}
	}
}

@each $type in $colors_full {
	.is-#{nth($type, 1)} {
		color: #{nth($type, 2)};
	}
}
