@use "sass:color";
@use "../abstracts" as *;

@import url("https://use.typekit.net/cue8qlh.css");

// @mixin fluid_size_text($scale: 2.5, $floor: 38/16) {
// 	$cap: $scale * 1440 / 100 /16 * 1;
// 	font-size: calc($scale * 1vw + $floor * 1rem);
// 	@include xl() {
// 		font-size: calc($cap * 1rem + $floor * 1rem);
// 	}
// }

// @mixin fluid_line-height($scale: 2.5, $floor: 38/16) {
// 	$cap: $scale * 1440 / 100 /16 * 1;
// 	line-height: calc($scale * 1vw + $floor * 1rem);
// 	@include xl() {
// 		line-height: calc($cap * 1rem + $floor * 1rem);
// 	}
// }

//================================================
/*css/components/text_styles.scss*/
//================================================

h1 {
	font-size: 116/16 * 1rem;
	@include fluid_size_text($scale: 4.25, $floor: 34/16);
	font-family: $serif_font;
	font-weight: 500;
	line-height: 105%;

	color: var(--brand-900);
}

h2 {
	font-family: $serif_font;
	font-weight: 400;
	@include fluid_size_text(1.5, $floor: 22/16);
	line-height: 115%;

	color: var(--brand-900);
}

h3 {
	font-family: $serif_font;
	font-weight: 400;
	@include fluid_size_text($scale: 1, $floor: 20/16);
	line-height: 125%;
	color: var(--brand-900);
}
h4 {
	font-family: $sans_font;
	font-weight: 600;
	@include fluid_size_text($scale: 0.875, $floor: 16/16);
	line-height: 125%;
	color: var(--brand-900);
	&.serif {
		font-family: $serif_font;
	}
}
h5 {
	@include fluid_size_text($scale: 0.6875, $floor: 14/16);
	font-family: $sans_font;
	font-weight: 600;
	line-height: 120%;
	color: var(--brand-900);
}
h6 {
	font-family: $sans_font-condensed;
	font-style: italic;
	font-weight: 900;
	line-height: 120%;
	letter-spacing: 0.05em;
	color: var(--brand-900);
	text-transform: uppercase;
	font-size: 1rem;
}

p {
	@include fluid_size_text($scale: 0.375, $floor: 14/16);
	font-family: $sans_font;
	font-weight: 300;
	line-height: 145%;
	color: $brand-700;

	b,
	strong {
		font-weight: 600;
	}
	&.small {
		@include fluid_size_text($scale: 0.25, $floor: 12/16);
	}

	&.large {
		@include fluid_size_text($scale: 0.525, $floor: 16/16);
	}
	&.jumbo {
		@include fluid_size_text($scale: 0.735, $floor: 18/16);
	}
	a {
		color: $brand-500;
		display: inline-block;
		position: relative;
		text-decoration: none;
		font-weight: 600;
		@include hover_underline();

		&:not(.arrow):hover:after {
			width: 100%;
		}
	}
}

a {
	&.arrow {
		svg {
			margin-left: 0.75em;
			height: 0.75em;
			transition: 300ms all;
			.stroke {
				stroke: currentColor;
				stroke-width: 1.5;
			}
		}
		&:hover {
			svg {
				margin-left: 1.25em;
			}
		}
	}
}

@each $type in $colors_full {
	.is-#{nth($type, 1)} {
		color: #{nth($type, 2)};
	}
}

//repeat

.h1 {
	font-size: 116/16 * 1rem;
	@include fluid_size_text($scale: 4.25, $floor: 34/16);
	font-family: $serif_font;
	font-weight: 500;
	line-height: 105%;

	color: var(--brand-900);
}

.h2 {
	font-family: $serif_font;
	font-weight: 400;
	@include fluid_size_text(1.5, $floor: 26/16);
	line-height: 115%;

	color: var(--brand-900);
}

.h3 {
	font-family: $serif_font;
	font-weight: 400;
	@include fluid_size_text($scale: 1, $floor: 20/16);
	line-height: 125%;
	color: var(--brand-900);
}
.h4 {
	font-family: $sans_font;
	font-weight: 600;
	@include fluid_size_text($scale: 0.875, $floor: 16/16);
	line-height: 125%;
	color: var(--brand-900);
	&.serif {
		font-family: $serif_font;
	}
}
.h5 {
	@include fluid_size_text($scale: 0.6875, $floor: 14/16);
	font-family: $sans_font;
	font-weight: 600;
	line-height: 120%;
	color: var(--brand-900);
}
.h6 {
	font-family: $sans_font-condensed;
	font-style: italic;
	font-weight: 900;
	line-height: 120%;
	letter-spacing: 0.05em;
	color: var(--brand-900);
	text-transform: uppercase;
	font-size: 1rem;
}

.blog_content {
	@include header_tags {
		margin-top: 0.5em;
		margin-bottom: 0.25em;
	}
	h5 {
		font-weight: 400;
		line-height: 135%;
	}
	p {
		margin-top: 0.5em;
	}
	ul {
		padding: 0.5rem 1rem;
	}

	li {
		@include fluid_size_text($scale: 0.375, $floor: 14/16);
		font-family: $sans_font;
		font-weight: 300;
		line-height: 135%;
		letter-spacing: -0.02em;
		display: flex;
		align-items: flex-start;
		margin-block: 0.375rem;
		color: var(--brand-700);
		gap: 0.5rem;

		&::before {
			content: "";
			display: block;
			border: 2/16 * 1em solid currentColor;
			border-radius: 50%;
			height: 0.5em;
			width: 0.5em;
			flex-shrink: 0;
			margin-top: 0.375em;
		}

		b,
		strong {
			font-weight: 600;
		}
	}
	blockquote {
		padding: 24/16 * 1rem;
		border-radius: 4/16 * 1rem;
		border: 1px dashed $brand-900;
		display: flex;
		gap: 24/16 * 1rem;
		align-items: center;
		background-color: rgba(118, 175, 254, 0.05);
		width: 100%;
		box-sizing: border-box;
		color: $brand-900;
		@include fluid_size_text($scale: 0.375, $floor: 14/16);

		&::before {
			content: "i";
			display: flex;
			flex-shrink: 0;
			font-family: Times;
			color: $brand-200;
			font-size: 1em;
			background-color: $brand-900;
			width: 20/16 * 1em;
			height: 20/16 * 1em;
			@include f-center;
			border-radius: 50%;
			font-style: italic;
		}
	}
}

html:not(.wf-design-mode) {
	@include text_nodes {
		&:empty {
			display: none;
		}
	}
}

.text-list {
	li {
		@include fluid_size_text($scale: 0.375, $floor: 14/16);
		font-family: $sans_font;
		font-weight: 300;
		line-height: 135%;
		letter-spacing: -0.02em;
		display: flex;
		align-items: flex-start;
		margin-block: 0.375rem;
		color: var(--brand-700);
		gap: 0.5rem;

		&::before {
			content: "";
			display: block;
			border: 2/16 * 1em solid currentColor;
			border-radius: 50%;
			height: 0.5em;
			width: 0.5em;
			flex-shrink: 0;
			margin-top: 0.375em;
		}
	}
}

.text-arrow {
	font-size: 1.25em;
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	font-style: normal;
}
