@import url("https://use.typekit.net/cue8qlh.css");
/*css/components/text_styles.scss*/
h1 {
 font-size: 7.25rem;
 font-size: calc(4.2657vw + 2rem);
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 font-weight: 500;
 line-height: 105%;
 letter-spacing: -0.02em;
 color: #192d62;
 text-wrap: balance;
}
@media (min-width: 1440px) {
 h1 {
  font-size: 5.83913rem;
 }
}

h2 {
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 font-weight: 400;
 font-size: calc(1.839vw + 1.341875rem);
 line-height: 115%;
 letter-spacing: -0.02em;
 text-wrap: balance;
 color: #192d62;
}
@media (min-width: 1440px) {
 h2 {
  font-size: 2.996975rem;
 }
}

h3 {
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 font-weight: 400;
 font-size: calc(1.2073vw + 1.09595rem);
 line-height: 125%;
 letter-spacing: -0.02em;
 color: #192d62;
 text-wrap: balance;
}
@media (min-width: 1440px) {
 h3 {
  font-size: 2.18252rem;
 }
}

h4 {
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 600;
 font-size: calc(0.8695vw + 0.8899625rem);
 line-height: 125%;
 letter-spacing: -0.02em;
 color: #192d62;
 text-wrap: balance;
}
@media (min-width: 1440px) {
 h4 {
  font-size: 1.6725125rem;
 }
}

h5 {
 font-size: calc(0.6878vw + 0.7684875rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 600;
 line-height: 120%;
 letter-spacing: -0.02em;
 color: #213d85;
 text-wrap: balance;
}
@media (min-width: 1440px) {
 h5 {
  font-size: 1.3875075rem;
 }
}

h6 {
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 font-style: italic;
 font-weight: 900;
 line-height: 120%;
 letter-spacing: 0.05em;
 color: #76affe;
 text-transform: uppercase;
}

p {
 font-size: calc(0.384vw + 0.8309875rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 300;
 line-height: 135%;
 letter-spacing: -0.02em;
 color: #213d85;
 text-wrap: balance;
}
@media (min-width: 1440px) {
 p {
  font-size: 1.1765875rem;
 }
}
p b {
 font-weight: 600;
}
p.small {
 font-size: calc(0.3264vw + 0.706339375rem);
}
@media (min-width: 1440px) {
 p.small {
  font-size: 1.000099375rem;
 }
}
p.large {
 font-size: calc(0.48vw + 1.038734375rem);
}
@media (min-width: 1440px) {
 p.large {
  font-size: 1.470734375rem;
 }
}
p.jumbo {
 font-size: calc(0.612vw + 1.324386328rem);
}
@media (min-width: 1440px) {
 p.jumbo {
  font-size: 1.875186328rem;
 }
}
p a {
 color: #76affe;
 display: inline-block;
 position: relative;
 text-decoration: none;
 font-weight: 600;
}
p a:after {
 content: "";
 display: block;
 position: absolute;
 width: 0;
 top: 80%;
 height: 0.09375em;
 left: 0;
 background-color: currentColor;
 transition: all 0.25s ease-in 0s;
}
p a:not(.arrow):hover:after {
 width: 100%;
}
p a.arrow svg {
 margin-left: 0.75em;
 height: 0.75em;
 transition: 300ms all;
}
p a.arrow svg .stroke {
 stroke: currentColor;
 stroke-width: 1.5;
}
p a.arrow:hover svg {
 margin-left: 1.25em;
}

.is-brand-900 {
 color: #192d62;
}

.is-brand-800 {
 color: #1c326f;
}

.is-brand-800t {
 color: rgba(29, 52, 114, 0.8);
}

.is-brand-800 {
 color: #213d85;
}

.is-brand-800t {
 color: rgba(33, 60, 131, 0.8);
}

.is-brand-500 {
 color: #76affe;
}

.is-brand-200 {
 color: #a9bfeb;
}

.is-brand-100 {
 color: #bccceb;
}

.is-indoor-900 {
 color: #592817;
}

.is-indoor-800 {
 color: #662e1a;
}

.is-indoor-800t {
 color: rgba(105, 47, 27, 0.8);
}

.is-indoor-800 {
 color: #70321d;
}

.is-indoor-800t {
 color: rgba(121, 55, 31, 0.8);
}

.is-indoor-500 {
 color: #f16122;
}

.is-indoor-200 {
 color: #f0c4b5;
}

.is-indoor-100 {
 color: #ebd5cd;
}

.is-grass-900 {
 color: #3b520e;
}

.is-grass-800 {
 color: #456010;
}

.is-grass-800t {
 color: rgba(72, 99, 17, 0.8);
}

.is-grass-800 {
 color: #4f6e13;
}

.is-grass-800t {
 color: rgba(84, 117, 20, 0.8);
}

.is-grass-500 {
 color: #94d13d;
}

.is-grass-200 {
 color: #d1f095;
}

.is-grass-100 {
 color: #e2f5ba;
}

.is-beach-900 {
 color: #625619;
}

.is-beach-800 {
 color: #6f611c;
}

.is-beach-800t {
 color: rgba(114, 100, 29, 0.8);
}

.is-beach-500 {
 color: #f9d452;
}

.is-beach-300t {
 color: rgba(223, 215, 176, 0.8);
}

.is-beach-300 {
 color: #f0e6b5;
}

.is-beach-200t {
 color: rgba(229, 223, 190, 0.8);
}

.is-beach-200 {
 color: #f0e6b5;
}

.is-beach-100 {
 color: #ebe6cd;
}