@import url("https://use.typekit.net/cue8qlh.css");
/*css/components/text_styles.scss*/
h1 {
 font-size: 7.25rem;
 font-size: clamp(3.12109375rem, 4.25vw + 2.125rem, 5.525rem);
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 font-weight: 500;
 line-height: 105%;
 color: var(--brand-900);
}

h2 {
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 font-weight: 400;
 font-size: clamp(1.7265625rem, 1.5vw + 1.375rem, 2.575rem);
 line-height: 115%;
 color: var(--brand-900);
}

h3 {
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 font-weight: 400;
 font-size: clamp(1.484375rem, 1vw + 1.25rem, 2.05rem);
 line-height: 125%;
 color: var(--brand-900);
}

h4 {
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 600;
 font-size: clamp(1.205078125rem, 0.875vw + 1rem, 1.7rem);
 line-height: 125%;
 color: var(--brand-900);
}
h4.serif {
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
}

h5 {
 font-size: clamp(1.0361328125rem, 0.6875vw + 0.875rem, 1.425rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 600;
 line-height: 120%;
 color: var(--brand-900);
}

h6 {
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 font-style: italic;
 font-weight: 900;
 line-height: 120%;
 letter-spacing: 0.05em;
 color: var(--brand-900);
 text-transform: uppercase;
 font-size: 1rem;
}

p {
 font-size: clamp(0.962890625rem, 0.375vw + 0.875rem, 1.175rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 300;
 line-height: 145%;
 color: #213d85;
}
p b,
p strong {
 font-weight: 600;
}
p.small {
 font-size: clamp(0.80859375rem, 0.25vw + 0.75rem, 0.95rem);
}
p.large {
 font-size: clamp(1.123046875rem, 0.525vw + 1rem, 1.42rem);
}
p.jumbo {
 font-size: clamp(1.297265625rem, 0.735vw + 1.125rem, 1.713rem);
}
p a {
 color: #76affe;
 display: inline-block;
 position: relative;
 text-decoration: none;
 font-weight: 600;
}
p a::after {
 color: inherit;
 content: "";
 display: block;
 position: absolute;
 bottom: -0.125rem;
 left: 0;
 height: 0.125rem;
 width: 0%;
 transition: 0.15s all;
 background: currentColor;
}
p a:hover::after {
 width: 100%;
}
p a:not(.arrow):hover:after {
 width: 100%;
}

a.arrow svg {
 margin-left: 0.75em;
 height: 0.75em;
 transition: 300ms all;
}
a.arrow svg .stroke {
 stroke: currentColor;
 stroke-width: 1.5;
}
a.arrow:hover svg {
 margin-left: 1.25em;
}

.is-brand-900 {
 color: #192d62;
}

.is-brand-800 {
 color: #1c326f;
}

.is-brand-800 {
 color: #213d85;
}

.is-brand-500 {
 color: #76affe;
}

.is-brand-200 {
 color: #a9bfeb;
}

.is-brand-100 {
 color: #bccceb;
}

.is-indoor-900 {
 color: #592817;
}

.is-indoor-800 {
 color: #662e1a;
}

.is-indoor-800 {
 color: #70321d;
}

.is-indoor-500 {
 color: #f16122;
}

.is-indoor-200 {
 color: #f0c4b5;
}

.is-indoor-100 {
 color: #ebd5cd;
}

.is-grass-900 {
 color: #3b520e;
}

.is-grass-800 {
 color: #456010;
}

.is-grass-800 {
 color: #4f6e13;
}

.is-grass-500 {
 color: #94d13d;
}

.is-grass-200 {
 color: #d1f095;
}

.is-grass-100 {
 color: #e2f5ba;
}

.is-beach-900 {
 color: #625619;
}

.is-beach-800 {
 color: #6f611c;
}

.is-beach-500 {
 color: #f9d452;
}

.is-beach-300 {
 color: #f0e6b5;
}

.is-beach-200t {
 color: rgba(229, 223, 190, 0.8);
}

.is-beach-200 {
 color: #f0e6b5;
}

.is-beach-100 {
 color: #ebe6cd;
}

.h1 {
 font-size: 7.25rem;
 font-size: clamp(3.12109375rem, 4.25vw + 2.125rem, 5.525rem);
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 font-weight: 500;
 line-height: 105%;
 color: var(--brand-900);
}

.h2 {
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 font-weight: 400;
 font-size: clamp(1.9765625rem, 1.5vw + 1.625rem, 2.825rem);
 line-height: 115%;
 color: var(--brand-900);
}

.h3 {
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
 font-weight: 400;
 font-size: clamp(1.484375rem, 1vw + 1.25rem, 2.05rem);
 line-height: 125%;
 color: var(--brand-900);
}

.h4 {
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 600;
 font-size: clamp(1.205078125rem, 0.875vw + 1rem, 1.7rem);
 line-height: 125%;
 color: var(--brand-900);
}
.h4.serif {
 font-family: p22-mackinac-pro, Libre Baskerville, serif;
}

.h5 {
 font-size: clamp(1.0361328125rem, 0.6875vw + 0.875rem, 1.425rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 600;
 line-height: 120%;
 color: var(--brand-900);
}

.h6 {
 font-family: trade-gothic-next-condensed, "Gothic A1", sans-serif;
 font-style: italic;
 font-weight: 900;
 line-height: 120%;
 letter-spacing: 0.05em;
 color: var(--brand-900);
 text-transform: uppercase;
 font-size: 1rem;
}

.blog_content h1,
.blog_content h2,
.blog_content h3,
.blog_content h4,
.blog_content h5,
.blog_content h6 {
 margin-top: 0.5em;
 margin-bottom: 0.25em;
}
.blog_content h5 {
 font-weight: 400;
 line-height: 135%;
}
.blog_content p {
 margin-top: 0.5em;
}
.blog_content ul {
 padding: 0.5rem 1rem;
}
.blog_content li {
 font-size: clamp(0.962890625rem, 0.375vw + 0.875rem, 1.175rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 300;
 line-height: 135%;
 letter-spacing: -0.02em;
 display: flex;
 align-items: flex-start;
 margin-block: 0.375rem;
 color: var(--brand-700);
 gap: 0.5rem;
}
.blog_content li::before {
 content: "";
 display: block;
 border: 0.125em solid currentColor;
 border-radius: 50%;
 height: 0.5em;
 width: 0.5em;
 flex-shrink: 0;
 margin-top: 0.375em;
}
.blog_content li b,
.blog_content li strong {
 font-weight: 600;
}
.blog_content blockquote {
 padding: 1.5rem;
 border-radius: 0.25rem;
 border: 1px dashed #192d62;
 display: flex;
 gap: 1.5rem;
 align-items: center;
 background-color: rgba(118, 175, 254, 0.05);
 width: 100%;
 box-sizing: border-box;
 color: #192d62;
 font-size: clamp(0.962890625rem, 0.375vw + 0.875rem, 1.175rem);
}
.blog_content blockquote::before {
 content: "i";
 display: flex;
 flex-shrink: 0;
 font-family: Times;
 color: #a9bfeb;
 font-size: 1em;
 background-color: #192d62;
 width: 1.25em;
 height: 1.25em;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 font-style: italic;
}

html:not(.wf-design-mode) h1:empty,
html:not(.wf-design-mode) h2:empty,
html:not(.wf-design-mode) h3:empty,
html:not(.wf-design-mode) h4:empty,
html:not(.wf-design-mode) h5:empty,
html:not(.wf-design-mode) h6:empty,
html:not(.wf-design-mode) p:empty {
 display: none;
}

.text-list li {
 font-size: clamp(0.962890625rem, 0.375vw + 0.875rem, 1.175rem);
 font-family: trade-gothic-next, "Gothic A1", sans-serif;
 font-weight: 300;
 line-height: 135%;
 letter-spacing: -0.02em;
 display: flex;
 align-items: flex-start;
 margin-block: 0.375rem;
 color: var(--brand-700);
 gap: 0.5rem;
}
.text-list li::before {
 content: "";
 display: block;
 border: 0.125em solid currentColor;
 border-radius: 50%;
 height: 0.5em;
 width: 0.5em;
 flex-shrink: 0;
 margin-top: 0.375em;
}

.text-arrow {
 font-size: 1.25em;
 font-family: "proxima-nova", sans-serif;
 font-weight: 700;
 font-style: normal;
}