@use "sass:color";
@use "../abstracts" as *;

@import url("https://use.typekit.net/cue8qlh.css");

// @mixin fluid_size_text($scale: 2.5, $floor: 38/16) {
// 	$cap: $scale * 1440 / 100 /16 * 1;
// 	font-size: calc($scale * 1vw + $floor * 1rem);
// 	@include xl() {
// 		font-size: calc($cap * 1rem + $floor * 1rem);
// 	}
// }

// @mixin fluid_line-height($scale: 2.5, $floor: 38/16) {
// 	$cap: $scale * 1440 / 100 /16 * 1;
// 	line-height: calc($scale * 1vw + $floor * 1rem);
// 	@include xl() {
// 		line-height: calc($cap * 1rem + $floor * 1rem);
// 	}
// }

//================================================
/*css/components/text_styles.scss*/
//================================================

h1 {
	font-size: 116/16 * 1rem;
	@include fluid_size_text($scale: 4.25, $floor: 34/16);
	font-family: $serif_font;
	font-weight: 500;
	line-height: 105%;

	color: var(--brand-900);
}

h2 {
	font-family: $serif_font;
	font-weight: 400;
	@include fluid_size_text(1.5, $floor: 26/16);
	line-height: 115%;

	color: var(--brand-900);
}

h3 {
	font-family: $serif_font;
	font-weight: 400;
	@include fluid_size_text($scale: 1, $floor: 20/16);
	line-height: 125%;
	color: var(--brand-900);
}
h4 {
	font-family: $sans_font;
	font-weight: 600;
	@include fluid_size_text($scale: 0.875, $floor: 16/16);
	line-height: 125%;
	color: var(--brand-900);
	&.serif {
		font-family: $serif_font;
	}
}
h5 {
	@include fluid_size_text($scale: 0.6875, $floor: 14/16);
	font-family: $sans_font;
	font-weight: 600;
	line-height: 120%;
	color: var(--brand-900);
}
h6 {
	font-family: $sans_font-condensed;
	font-style: italic;
	font-weight: 900;
	line-height: 120%;
	letter-spacing: 0.05em;
	color: var(--brand-900);
	text-transform: uppercase;
	font-size: 1rem;
}

p {
	@include fluid_size_text($scale: 0.375, $floor: 14/16);
	font-family: $sans_font;
	font-weight: 300;
	line-height: 145%;
	color: $brand-700;

	b {
		font-weight: 600;
	}
	&.small {
		@include fluid_size_text($scale: 0.25, $floor: 12/16);
	}

	&.large {
		@include fluid_size_text($scale: 0.525, $floor: 16/16);
	}
	&.jumbo {
		@include fluid_size_text($scale: 0.735, $floor: 18/16);
	}
	a {
		color: $brand-500;
		display: inline-block;
		position: relative;
		text-decoration: none;
		font-weight: 600;
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 0;
			top: 80%;
			height: 3/32 * 1em;
			left: 0;
			background-color: currentColor;
			transition: all 0.25s ease-in 0s;
		}
		&:not(.arrow):hover:after {
			width: 100%;
		}
		&.arrow {
			svg {
				margin-left: 0.75em;
				height: 0.75em;
				transition: 300ms all;
				.stroke {
					stroke: currentColor;
					stroke-width: 1.5;
				}
			}
			&:hover {
				svg {
					margin-left: 1.25em;
				}
			}
		}
	}
}

@each $type in $colors_full {
	.is-#{nth($type, 1)} {
		color: #{nth($type, 2)};
	}
}

//repeat

.h1 {
	font-size: 116/16 * 1rem;
	@include fluid_size_text($scale: 4.25, $floor: 34/16);
	font-family: $serif_font;
	font-weight: 500;
	line-height: 105%;

	color: var(--brand-900);
}

.h2 {
	font-family: $serif_font;
	font-weight: 400;
	@include fluid_size_text(1.5, $floor: 26/16);
	line-height: 115%;

	color: var(--brand-900);
}

.h3 {
	font-family: $serif_font;
	font-weight: 400;
	@include fluid_size_text($scale: 1, $floor: 20/16);
	line-height: 125%;
	color: var(--brand-900);
}
.h4 {
	font-family: $sans_font;
	font-weight: 600;
	@include fluid_size_text($scale: 0.875, $floor: 16/16);
	line-height: 125%;
	color: var(--brand-900);
	&.serif {
		font-family: $serif_font;
	}
}
.h5 {
	@include fluid_size_text($scale: 0.6875, $floor: 14/16);
	font-family: $sans_font;
	font-weight: 600;
	line-height: 120%;
	color: var(--brand-900);
}
.h6 {
	font-family: $sans_font-condensed;
	font-style: italic;
	font-weight: 900;
	line-height: 120%;
	letter-spacing: 0.05em;
	color: var(--brand-900);
	text-transform: uppercase;
	font-size: 1rem;
}
