/*css/blocks/basic_hero.scss*/
.basic_hero--section {
 min-height: clamp(50vh, 28.125rem, 90vh);
 overflow: hidden;
 padding: 0;
 --background_color: var(--brand-900);
}
.nav-transparent .basic_hero--section {
 padding-top: 5rem;
}
.basic_hero--section .background_area .ring {
 opacity: 0.3;
 position: absolute;
 bottom: 0;
 left: 0;
 translate: -30% 30%;
 width: clamp(12.5rem, calc(20rem + 10vw), 31.25rem);
}
.basic_hero--section .background_area .ring circle {
 stroke: var(--brand-500);
 stroke-width: 90;
}
.basic_hero--section .background_area img + .ring {
 mix-blend-mode: soft-light;
 opacity: 1;
}
.basic_hero--section .background_area img + .ring circle {
 stroke: var(--white);
}
.basic_hero--text_area {
 grid-column: 2/span 9;
 justify-content: flex-end;
 padding-inline: var(--rp);
 padding-block: var(--fr_unit);
}
@media (max-width: 991px) {
 .basic_hero--text_area {
  padding-inline: 0rem;
  grid-column: 2/span 12;
 }
}
@media (max-width: 767px) {
 .basic_hero--text_area {
  padding-block: 1.5rem;
 }
}
.basic_hero--text_area h1,
.basic_hero--text_area h2,
.basic_hero--text_area h3,
.basic_hero--text_area h4,
.basic_hero--text_area h5,
.basic_hero--text_area h6,
.basic_hero--text_area p {
 color: var(--brand-100);
}
.basic_hero--section:has(.background_area img) .basic_hero--text_area h1,
.basic_hero--section:has(.background_area img) .basic_hero--text_area h2,
.basic_hero--section:has(.background_area img) .basic_hero--text_area h3,
.basic_hero--section:has(.background_area img) .basic_hero--text_area h4,
.basic_hero--section:has(.background_area img) .basic_hero--text_area h5,
.basic_hero--section:has(.background_area img) .basic_hero--text_area h6,
.basic_hero--section:has(.background_area img) .basic_hero--text_area p {
 color: var(--brand-50);
}

.graphic_hero--section {
 height: clamp(50vh, 35.3125rem, 90vh);
 overflow: hidden;
 padding: 0;
}
.nav-transparent .graphic_hero--section {
 padding-top: 5rem;
}
.graphic_hero--text_area {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 gap: 1rem;
 grid-column: 2/span 9;
 margin-block: var(--fr_unit);
}
.graphic_hero--text_content {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
 align-items: flex-start;
}
.graphic_hero--text_content .eyebrow {
 color: var(--theme_color-500);
}
.graphic_hero--text_content h1,
.graphic_hero--text_content p {
 color: #ffffff;
 max-width: 80ch;
}
.graphic_hero--media_area {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.graphic_hero--layer_1 {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.graphic_hero--layer_1::after {
 content: "";
 display: block;
 background-color: black;
 opacity: 0.25;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.graphic_hero--layer_1 img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.graphic_hero--layer_1 .faux_mask {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background: #a9bfeb;
 z-index: 2;
}
.graphic_hero--layer_2 {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 height: calc(100% - 0px);
 aspect-ratio: 1;
 transform: translate(-50%, -50%) rotate(35deg);
 border-radius: 50%;
 overflow: hidden;
}
.graphic_hero--layer_2 img {
 min-height: 100%;
 -o-object-fit: cover;
    object-fit: cover;
}
.graphic_hero--layer_3 {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 height: calc(100% - 200px);
 aspect-ratio: 1;
 border-radius: 50%;
 overflow: hidden;
}
.graphic_hero--layer_3::after {
 content: "";
 display: block;
 background-color: black;
 opacity: 0.15;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.graphic_hero--layer_3 img {
 min-height: 100%;
 -o-object-fit: cover;
    object-fit: cover;
}

.call_to_action--section {
 --top: 3rem;
 isolation: isolate;
 padding: 0;
}
.call_to_action--action {
 padding: 3.75rem 0;
 display: grid;
 grid-template-columns: var(--grid_layout);
 gap: var(--gap);
 position: relative;
 grid-column: 1/-1;
 margin-top: var(--top);
 --columns: 14;
 text-decoration: none;
}
.call_to_action--action .background_fill {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: var(--brand-900);
 overflow: hidden;
}
.call_to_action--action .background_fill::after {
 content: "";
 display: block;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background-color: black;
 opacity: 0.4;
 transition: 1s all;
}
.call_to_action--action .background_fill img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 transition: 1s all;
}
.call_to_action--action:hover .background_fill img {
 transform: scale(1.125);
}
.call_to_action--action:hover .background_fill::after {
 opacity: 0.6;
}
.call_to_action--text_area {
 --col_length: 8;
 --start: calc((var(--columns) - var(--col_length)) / 2 + 1);
 grid-column: var(--start)/span var(--col_length);
 align-items: center;
 justify-content: center;
 text-align: center;
 position: relative;
 padding: var(--rp);
}
@media (max-width: 991px) {
 .call_to_action--text_area {
  --col_length: 10;
 }
}
@media (max-width: 767px) {
 .call_to_action--text_area {
  --col_length: 12;
 }
}
.call_to_action--text_area.is-long {
 --col_length: 10;
}
@media (max-width: 991px) {
 .call_to_action--text_area.is-long {
  --col_length: 12;
 }
}
.call_to_action--text_content {
 align-items: center;
 justify-content: center;
 text-align: center;
}
.call_to_action--text_content h1,
.call_to_action--text_content h2,
.call_to_action--text_content h3,
.call_to_action--text_content h4,
.call_to_action--text_content h5,
.call_to_action--text_content h6,
.call_to_action--text_content p {
 color: #ffffff;
}

.column_hero--section {
 min-height: 80vh;
}
.column_hero--section .background_fill {
 background: #192d62;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.column_hero--section .background_fill img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 opacity: 0.25;
}
.column_hero--column {
 grid-column: span 6;
 text-align: center;
 margin-block: auto;
}
@media (max-width: 767px) {
 .column_hero--column {
  grid-column: 3/-3;
 }
}
@media (max-width: 576px) {
 .column_hero--column {
  grid-column: 2/-2;
 }
}
.column_hero--column.center-content {
 display: flex;
 justify-content: center;
 align-items: center;
}
.column_hero--column .text_area h1,
.column_hero--column .text_area h2,
.column_hero--column .text_area h3,
.column_hero--column .text_area h4,
.column_hero--column .text_area h5,
.column_hero--column .text_area h6,
.column_hero--column .text_area p {
 color: #edf0f8;
}
.column_hero--column .text_area h1 {
 font-size: 3.9225rem;
 color: #f9d452;
}
.column_hero--column .text_content {
 display: flex;
 justify-content: center;
 align-items: center;
}

/*css/blocks/offset_block.scss*/
.offset_block--section {
 grid-template-rows: 1fr;
}
.offset_block--media_area {
 grid-column: 2/-2;
 grid-row: 1;
 min-height: 36.25rem;
 justify-content: flex-start;
}
@media (max-width: 767px) {
 .offset_block--media_area {
  min-height: 30rem;
 }
}
.offset_block--media_content {
 width: calc(100% - var(--rp));
 height: calc(100% - var(--rp));
 margin-bottom: var(--rp);
 margin-right: var(--rp);
}
.offset_block--media_content img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.offset_block--text_area {
 margin-top: auto;
 position: relative;
 grid-column: span 6/-2;
 grid-row: 1;
 background-color: var(--brand-900);
 padding: var(--fr_unit) var(--rp);
 gap: var(--gap);
 border-radius: var(--corner);
}
@media (max-width: 991px) {
 .offset_block--text_area {
  grid-column: span 8/-2;
 }
}
@media (max-width: 767px) {
 .offset_block--text_area {
  grid-column: span 10/-2;
  padding: var(--rp) var(--rp);
 }
}
.offset_block--text_area h1,
.offset_block--text_area h2,
.offset_block--text_area h3,
.offset_block--text_area h4,
.offset_block--text_area h5,
.offset_block--text_area h6 {
 color: var(--theme_color-500);
}
.offset_block--text_area p a {
 color: var(--theme_color-500);
}
.offset_block--text_content {
 gap: 0.5rem;
}

/*css/blocks/grid_content.scss*/
.basic_content--section article {
 --span: 10;
 --start: calc((16 - var(--span)) / 2);
 grid-column: var(--start)/span var(--span);
 display: flex;
 flex-direction: column;
 gap: 2rem;
}
.inset .basic_content--section article {
 --span: 8;
}
@media (max-width: 991px) {
 .basic_content--section article {
  --span: 12;
 }
 .inset .basic_content--section article {
  --span: 10;
 }
}
@media (max-width: 767px) {
 .inset .basic_content--section article {
  --span: 12;
 }
}
.basic_content--section article > .text_area {
 gap: var(--gap);
}
.basic_content--section article > .text_area .text_content {
 gap: 0.5rem;
}
.basic_content--section article > .media_area .medio_content img {
 border-radius: 0.25rem;
}

.story_block--section {
 row-gap: 3.75rem;
}
.story_block--grid_area {
 width: 100%;
}
.story_block--row {
 --columns: 12;
 display: grid;
 grid-column: 2/-2;
 grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
 gap: var(--gap);
 --start: calc((14 - var(--columns)) / 2 + 1);
 grid-column: var(--start)/span var(--columns);
 position: relative;
}
.story_block--row.inset {
 --columns: 10;
}
@media (max-width: 991px) {
 .story_block--row.inset {
  --columns: 12;
 }
}
.story_block--row.narrow {
 --columns: 8;
}
@media (max-width: 991px) {
 .story_block--row.narrow {
  --columns: 10;
 }
}
@media (max-width: 767px) {
 .story_block--row.narrow {
  --columns: 12;
 }
}
.story_block--media_area {
 grid-column: span calc(var(--columns) / 2 - 1);
}
[distribute-columns="1:3"] .story_block--media_area {
 grid-column: span calc(var(--columns) / 2 - 2);
}
[distribute-columns="1:1"] .story_block--media_area {
 grid-column: span calc(var(--columns) / 2);
}
[distribute-columns="7:5"] .story_block--media_area {
 grid-column: span calc(var(--columns) / 2 + 1);
}
[distribute-columns="3:1"] .story_block--media_area {
 grid-column: span calc(var(--columns) / 2 + 2);
}
@media (max-width: 767px) {
 .story_block--media_area {
  padding: 0 var(--rp);
 }
 .story_block--media_area, [distribute-columns] .story_block--media_area {
  grid-column: 1/-1;
 }
}
@media (max-width: 576px) {
 .story_block--media_area {
  padding: 0;
 }
}
.story_block--text_area {
 grid-column: span calc(var(--columns) / 2 + 1);
 padding: var(--rp);
}
[distribute-columns="1:3"] .story_block--text_area {
 grid-column: span calc(var(--columns) / 2 + 2);
}
[distribute-columns="1:1"] .story_block--text_area {
 grid-column: span calc(var(--columns) / 2);
}
[distribute-columns="7:5"] .story_block--text_area {
 grid-column: span calc(var(--columns) / 2 - 1);
}
[distribute-columns="3:1"] .story_block--text_area {
 grid-column: span calc(var(--columns) / 2 - 2);
}
@media (max-width: 767px) {
 .story_block--text_area {
  padding: 0.5rem var(--rp);
 }
 .story_block--text_area, [distribute-columns] .story_block--text_area {
  grid-column: 1/-1;
 }
}
@media (max-width: 576px) {
 .story_block--text_area {
  padding: 0;
 }
}
.story_block--text_area.full_width {
 grid-column: 1/-1;
 padding: 0;
}
.story_block--single {
 --span: 10;
 --start: calc((16 - var(--span)) / 2);
 grid-column: var(--start)/span var(--span);
 gap: var(--gap);
 display: flex;
 flex-direction: column;
 align-items: center;
}
.inset .story_block--single {
 --span: 8;
}
@media (max-width: 991px) {
 .story_block--single {
  --span: 12;
 }
 .inset .story_block--single {
  --span: 10;
 }
}
@media (max-width: 767px) {
 .inset .story_block--single {
  --span: 12;
 }
}
.story_block--single > .text_area {
 text-align: center;
 gap: 2.5rem;
}
.story_block--single > .text_area .text_content {
 justify-content: center;
 align-items: center;
 gap: 0.375rem;
}
.story_block--single > .text_area .text_content .button-container {
 justify-content: center;
 align-items: center;
}

.event_list--text_area {
 grid-column: 3/-3;
 display: flex;
 flex-direction: column;
 gap: var(--gap);
}
@media (max-width: 991px) {
 .event_list--text_area {
  grid-column: 2/-2;
 }
}
.event_list--text_area.full_width {
 grid-column: 2/-2;
}
.event_list--text_content {
 display: flex;
 flex-direction: column;
 gap: 0.625rem;
 justify-content: flex-start;
 align-items: flex-start;
}
.event_list--list {
 grid-column: 3/-3;
 display: flex;
 flex-direction: column;
 gap: 1rem;
 position: relative;
 z-index: 1;
}
@media (max-width: 991px) {
 .event_list--list {
  grid-column: 2/-2;
 }
}
.event_list--list.full_width {
 grid-column: 2/-2;
}
.event_list--list .empty_state {
 padding: 1.5rem 1rem;
 color: #213d85;
 text-align: center;
}

/*css/blocks/grid_content.scss*/
.grid_content--text_area, .grid_content--grid_area, .grid_content--flex_area, .grid_content--load_more {
 --columns: 12;
 --start: calc((14 - var(--columns)) / 2 + 1);
 grid-column: var(--start)/span var(--columns);
 position: relative;
}
.grid_content--text_area.inset, .grid_content--grid_area.inset, .grid_content--flex_area.inset, .grid_content--load_more.inset {
 --columns: 10;
}
@media (max-width: 991px) {
 .grid_content--text_area.inset, .grid_content--grid_area.inset, .grid_content--flex_area.inset, .grid_content--load_more.inset {
  --columns: 12;
 }
}
.grid_content--text_area.narrow, .grid_content--grid_area.narrow, .grid_content--flex_area.narrow, .grid_content--load_more.narrow {
 --columns: 8;
}
@media (max-width: 991px) {
 .grid_content--text_area.narrow, .grid_content--grid_area.narrow, .grid_content--flex_area.narrow, .grid_content--load_more.narrow {
  --columns: 10;
 }
}
@media (max-width: 767px) {
 .grid_content--text_area.narrow, .grid_content--grid_area.narrow, .grid_content--flex_area.narrow, .grid_content--load_more.narrow {
  --columns: 12;
 }
}
.grid_content--grid_area {
 display: grid;
 gap: var(--gap);
 --items_per_row: 3;
 grid-template-columns: repeat(var(--items_per_row), minmax(0, 1fr));
}
.grid_content--grid_area.auto_grid {
 grid-template-columns: repeat(auto-fit, minmax(var(--minsize), 1fr));
}
.grid_content--grid_area.arrange-min {
 --min-card-width: 15rem;
 --preferred-value: (
 		(var(--min-card-width) * var(--items_per_row) - var(--gap) * 2) -
 			100%
 	) * 999;
 grid-template-columns: repeat(auto-fit, minmax(min(var(--preferred-value), 100%), 1fr));
}
.grid_content--flex_area {
 display: flex;
 gap: var(--gap);
 flex-wrap: wrap;
 justify-content: stretch;
}
.grid_content--flex_area > * {
 flex: 1 0 0;
 box-sizing: border-box;
 min-width: 15rem;
}
.grid_content--flex_area.set-ipr {
 --items_per_row: 3;
 align-items: stretch;
 justify-content: center;
}
.grid_content--flex_area.set-ipr > * {
 min-width: auto;
 flex: 0 1 auto;
 --distributed_gap: calc(
 	var(--gap) * (var(--items_per_row) - 1) / var(--items_per_row)
 );
 width: calc(100% / var(--items_per_row) - var(--distributed_gap));
}
.grid_content--load_more {
 display: flex;
 justify-content: center;
 align-items: center;
}

/*css/blocks/grid_content.scss*/
.quote_slider--slider_area {
 grid-column: 3/-3;
}
.quote_slider--button-container {
 grid-column: span 2/-3;
 display: flex;
 gap: 1rem;
 justify-content: flex-end;
}
.quote_slider--button {
 padding: 0.625rem;
 border-radius: 0.25rem;
 background: #bccceb;
 position: relative;
 inset: auto;
 height: auto;
}
.quote_slider--button::after {
 display: none;
}
.quote_slider--button svg path {
 stroke: #192d62;
 stroke-width: 1.5;
}
.quote_slider--slide {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: var(--gap);
}
.quote_slider--slide .text_area {
 padding-left: var(--gap);
 box-sizing: border-box;
}
.quote_slider--slide h3 {
 display: inline-block;
 overflow: hidden;
 line-height: 135%;
}
.quote_slider--slide h3 span {
 display: block;
 width: 100%;
 transition: all 400ms ease-in-out;
 transform: translateY(100%);
 opacity: 0;
}
.quote_slider--slide h3 span:nth-child(1) {
 transition-delay: 0.1s;
}
.quote_slider--slide h3 span:nth-child(2) {
 transition-delay: 0.2s;
}
.quote_slider--slide h3 span:nth-child(3) {
 transition-delay: 0.3s;
}
.quote_slider--slide h3 span:nth-child(4) {
 transition-delay: 0.4s;
}
.quote_slider--slide h3 span:nth-child(5) {
 transition-delay: 0.5s;
}
.quote_slider--slide h3 span:nth-child(6) {
 transition-delay: 0.6s;
}
.quote_slider--slide h3 span:nth-child(7) {
 transition-delay: 0.7s;
}
.quote_slider--slide h3 span:nth-child(8) {
 transition-delay: 0.8s;
}
.quote_slider--slide h3 span:nth-child(9) {
 transition-delay: 0.9s;
}
.quote_slider--slide h3 span:nth-child(10) {
 transition-delay: 1s;
}
.quote_slider--slide h3 span .highlight {
 position: relative;
 display: inline;
}
.quote_slider--slide h3 span .highlight::before {
 content: "";
 position: absolute;
 width: 0%;
 height: 100%;
 top: 0;
 left: -0.625rem;
 background: #bccceb;
 z-index: -1;
 padding-right: 1.25rem;
 transition: all 700ms 300ms ease-in-out;
 opacity: 0;
}
.quote_slider--slide.swiper-slide-active {
 transition: all 1000ms ease-in-out;
}
.quote_slider--slide.swiper-slide-active h3 span {
 display: inline-block;
 transition: all 1000ms ease-in-out;
 transform: translateY(0%);
 opacity: 1;
}
.quote_slider--slide.swiper-slide-active h3 span .highlight::before {
 width: 100%;
 left: -0.625rem;
 opacity: 1;
}
.quote_slider--media_area .media_content {
 background: #76affe;
 border-radius: 50%;
 opacity: 1;
 box-shadow: 0px 0px 0px 1px #192d62, 0px 0px 0px 10px #76affe, 0px 0px 0px 11px #192d62;
}