/*css/blocks/grid_content.scss*/
.basic_content--section article {
 --span: 10;
 --start: calc((16 - var(--span)) / 2);
 grid-column: var(--start)/span var(--span);
 display: flex;
 flex-direction: column;
 gap: 2rem;
}
.inset .basic_content--section article {
 --span: 8;
}
@media (max-width: 991px) {
 .basic_content--section article {
  --span: 12;
 }
 .inset .basic_content--section article {
  --span: 10;
 }
}
@media (max-width: 767px) {
 .inset .basic_content--section article {
  --span: 12;
 }
}
.basic_content--section article > .text_area {
 gap: var(--gap);
}
.basic_content--section article > .text_area .text_content {
 gap: 0.5rem;
}
.basic_content--section article > .media_area .medio_content img {
 border-radius: 0.25rem;
}