@use "sass:color";
@use "../abstracts" as *;

// Basic Hero
// Visual: https://www.figma.com/file/oxtfUo8w4dRLkkJmcEBwpA/PHLVB---Website?type=design&node-id=972%3A87817&mode=design&t=swyBTdn00Heee6KC-1
// Dependancy:

/*css/blocks/basic_hero.scss*/
.basic_hero {
	&-- {
		&section {
			min-height: clamp(50vh, 450/16 * 1rem, 90vh);
			overflow: hidden;
			padding: 0;
			--background_color: var(--brand-900);

			.nav-transparent & {
				padding-top: 80/16 * 1rem;
			}

			.background_area {
				.ring {
					opacity: 0.3;
					position: absolute;
					bottom: 0;
					left: 0;
					translate: -30% 30%;
					width: clamp(#{200/16 * 1rem}, calc(20rem + 10vw), #{500/16 * 1rem});
					circle {
						stroke: var(--brand-500);
						stroke-width: 90;
					}
				}
			}
		}

		&text_area {
			grid-column: 2 / span 9;
			justify-content: flex-end;
			padding-inline: var(--rp);
			padding-block: var(--fr_unit);

			@include md {
				padding-inline: 0rem;
				grid-column: 2 / span 12;
			}
			@include sm {
				padding-block: 1.5rem;
			}
			@include text_nodes {
				color: var(--brand-100);
			}
		}

		&section.has-image {
			@include text_nodes {
				color: var(--brand-50);
			}
		}
	} //--
}

//Could use this elsewher but it's currently localized
.mask-circle_corner {
	mask-image: url(../../assets/media/circle_corner.svg);
	mask-repeat: no-repeat;
	@include cover_obj;

	img,
	picture {
		scale: 1.15;
		rotate: 3deg;
	}
}
