.blog_content--section {
 padding-top: 0;
}
.blog_content--text_area {
 --start: calc((14 - var(--columns)) / 2 + 1);
 grid-column: var(--start)/span var(--columns);
 position: relative;
 --columns: 8;
}
@media (max-width: 991px) {
 .blog_content--text_area {
  --columns: 10;
 }
}
@media (max-width: 767px) {
 .blog_content--text_area {
  --columns: 12;
 }
}
.blog_content--text_area hr {
 margin-block: var(--gap);
 width: 100%;
 border: 0;
 border-bottom-color: currentcolor;
 border-bottom-style: none;
 border-bottom-width: 0px;
 border-bottom: 1px solid var(--theme_color-800);
}
.blog_content--text_content {
 align-items: stretch;
}
.blog_content--columns {
 display: grid;
 gap: var(--gap);
 grid-template-columns: repeat(var(--columns), 1fr);
}
.blog_content--columns > * {
 --span: span calc(var(--columns) / 2);
 grid-column: var(--span);
}
@media (max-width: 767px) {
 .blog_content--columns > * {
  grid-column: 1/-1;
 }
}
.blog_content--columns.favor-left > *:first-child {
 --span: span calc(var(--columns) / 2 + 1);
}
.blog_content--columns.favor-left > *:last-child {
 --span: span calc(var(--columns) / 2 - 1);
}
.blog_content--columns.favor-right > *:first-child {
 --span: span calc(var(--columns) / 2 - 1);
}
.blog_content--columns.favor-right > *:last-child {
 --span: span calc(var(--columns) / 2 + 1);
}
.blog_content--columns.v-center > * {
 display: flex;
 justify-content: center;
 align-items: center;
}

.app_promo--media {
 border-radius: 1.25rem;
 overflow: hidden;
 border: 1px solid var(--theme_color-800);
}
.app_promo--media video {
 width: 100%;
 height: auto;
 display: block;
}
.app_promo--links {
 margin-block: 1rem;
 display: flex;
 gap: 1rem;
}