@use "sass:color";
@use "../abstracts" as *;

// Featured Hero
// Visual: https://www.figma.com/file/oxtfUo8w4dRLkkJmcEBwpA/PHLVB---Website?node-id=134%3A20347&t=YZtFunZ3xKrlzhUX-1
// Dependancy: none

.feature_hero {
	&-- {
		&section {
			position: relative;
			overflow: visible;
			padding-block: calc(var(--padding_base) * 1.75);
		}

		&text_area,
		&media_area {
			--columns: 12;
			--start: calc((14 - var(--columns)) / 2 + 1);
			grid-column: var(--start) / span var(--columns);
			position: relative;

			&.inset {
				--columns: 10;
				@include md {
					--columns: 12;
				}
			}
			&.narrow {
				--columns: 8;
				@include md {
					--columns: 10;
				}
				@include sm {
					--columns: 12;
				}
			}
		}

		&text_area {
			@include f-center;
			flex-direction: column;
			gap: var(--gap);
			z-index: 1;
		}
		&text_content {
			@include f-center;
			h1 {
				text-align: center;
				@include f-center;
				flex-direction: column;
				gap: 20/16 * 1rem;
				@include md {
					gap: 0.25em;
				}
			}
			p {
				text-align: center;
			}
		}

		&media_area {
			@include f-center;
			flex-direction: column;
			z-index: 1;
		}
		&media_content {
			border-radius: 0.75rem;
			overflow: hidden;
		}

		&page_nav {
			align-items: center;
			.button-container {
				@include sm {
					gap: 0.5rem;
				}
			}
			.button {
				@include sm {
					font-size: 0.625rem;
				}
			}
		}
		&background_media {
			@include base_grid;
			position: absolute;
			inset: 0;

			&-image {
				--height: 18;
				--width: 9;
				--aspect_ratio: calc(var(--height) / var(--width) * 100%);
				--intial_x: 0%;
				--intial_y: 0%;

				@include cover_container;
				padding-top: var(--aspect_ratio);
				height: 0;
				top: var(--intial_y);
				left: var(--intial_x);

				&::after {
					content: "";
					display: block;
					inset: 0;
					position: absolute;

					background: linear-gradient(
							0deg,
							rgba(25, 45, 98, 0.3),
							rgba(25, 45, 98, 0.3)
						),
						linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
					background-blend-mode: multiply, normal;

					.theme_indoor & {
						background: linear-gradient(
								0deg,
								rgba(89, 40, 23, 0.5),
								rgba(89, 40, 23, 0.5)
							),
							linear-gradient(
								360deg,
								rgba(0, 0, 0, 0.4) 0%,
								rgba(0, 0, 0, 0) 100%
							);
					}
					.theme_grass & {
						background: linear-gradient(
								0deg,
								rgba(74, 98, 25, 0.5),
								rgba(74, 98, 25, 0.5)
							),
							linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
					}
					.theme_beach & {
						/* image 35 */

						background: linear-gradient(
								0deg,
								rgba(255, 222, 54, 0.3),
								rgba(255, 222, 54, 0.3)
							),
							linear-gradient(
								0deg,
								rgba(255, 255, 255, 0.3),
								rgba(255, 255, 255, 0.3)
							);
					}
				}
				img {
					@include image_cover;
				}

				&[data-side="left"] {
					--start: 1;
					--span: span 5;
					grid-column: var(--start) / var(--span);
					border-radius: 0px 20/16 * 1rem 20/16 * 1rem 0px;
				}
				&[data-side="right"] {
					--start: -1;
					--span: span 5;
					grid-column: var(--span) / var(--start);
					border-radius: 20/16 * 1rem 0px 0px 20/16 * 1rem;
				}
			} //-image
		}
	} //--
}

.sticky_nav {
	padding: 1rem 0;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	top: 0;
	background: rgba($brand-900, 0.75);
	backdrop-filter: blur(0.5rem);
	transform: translateY(-100%);
	z-index: 201;

	.scroll_past {
		transform: translateY(0);
	}
}
