.feature_hero--section {
 position: relative;
 overflow: visible;
 padding-bottom: calc(var(--padding_base) * 3 / 5);
 padding-top: calc(var(--padding_base) * 5 / 5);
}
@media (max-width: 767px) {
 .feature_hero--section.has-background_media {
  padding-bottom: calc(var(--padding_base) * 15 / 5);
  padding-top: calc(var(--padding_base) * 15 / 5);
 }
}
.feature_hero--text_area, .feature_hero--media_area {
 --columns: 12;
 --start: calc((14 - var(--columns)) / 2 + 1);
 grid-column: var(--start)/span var(--columns);
 position: relative;
}
.feature_hero--text_area.inset, .feature_hero--media_area.inset {
 --columns: 10;
}
@media (max-width: 991px) {
 .feature_hero--text_area.inset, .feature_hero--media_area.inset {
  --columns: 12;
 }
}
.feature_hero--text_area.narrow, .feature_hero--media_area.narrow {
 --columns: 8;
}
@media (max-width: 991px) {
 .feature_hero--text_area.narrow, .feature_hero--media_area.narrow {
  --columns: 10;
 }
}
@media (max-width: 767px) {
 .feature_hero--text_area.narrow, .feature_hero--media_area.narrow {
  --columns: 12;
 }
}
.feature_hero--text_area {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: var(--gap);
 z-index: 1;
}
.feature_hero--text_content {
 display: flex;
 justify-content: center;
 align-items: center;
}
.feature_hero--text_content h1 {
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 1.25rem;
}
@media (max-width: 991px) {
 .feature_hero--text_content h1 {
  gap: 0.25em;
 }
}
.feature_hero--text_content p {
 text-align: center;
}
.feature_hero--media_area {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 z-index: 1;
}
.feature_hero--media_content {
 border-radius: 0.75rem;
 overflow: hidden;
}
.feature_hero--page_nav {
 align-items: center;
}
@media (max-width: 767px) {
 .feature_hero--page_nav .button-container {
  gap: 0.5rem;
 }
}
@media (max-width: 767px) {
 .feature_hero--page_nav .button {
  font-size: 0.625rem;
 }
}
.feature_hero--background_media {
 display: grid;
 grid-template-columns: var(--grid_layout);
 gap: var(--gap);
 position: absolute;
 inset: 0;
}
.feature_hero--background_media-image {
 --height: 18;
 --width: 9;
 --aspect_ratio: calc(var(--height) / var(--width) * 100%);
 --intial_x: 0%;
 --intial_y: 0%;
 width: 100%;
 overflow: hidden;
 position: relative;
 padding-top: var(--aspect_ratio);
 height: 0;
 top: var(--intial_y);
 left: var(--intial_x);
}
.feature_hero--background_media-image::after {
 content: "";
 display: block;
 inset: 0;
 position: absolute;
 background: linear-gradient(0deg, rgba(25, 45, 98, 0.3), rgba(25, 45, 98, 0.3)), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
 background-blend-mode: multiply, normal;
}
.theme_indoor .feature_hero--background_media-image::after {
 background: linear-gradient(0deg, rgba(89, 40, 23, 0.5), rgba(89, 40, 23, 0.5)), linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}
.theme_grass .feature_hero--background_media-image::after {
 background: linear-gradient(0deg, rgba(74, 98, 25, 0.5), rgba(74, 98, 25, 0.5)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.theme_beach .feature_hero--background_media-image::after {
 /* image 35 */
 background: linear-gradient(0deg, rgba(255, 222, 54, 0.3), rgba(255, 222, 54, 0.3)), linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}
.feature_hero--background_media-image img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.feature_hero--background_media-image[data-side=left] {
 --start: 1;
 --span: span 5;
 grid-column: var(--start)/var(--span);
 border-radius: 0px var(--corner) var(--corner) 0px;
}
.feature_hero--background_media-image[data-side=right] {
 --start: -1;
 --span: span 5;
 grid-column: var(--span)/var(--start);
 border-radius: var(--corner) 0px 0px var(--corner);
}

.sticky_nav {
 padding: 1rem 0;
 position: fixed;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 top: 0;
 background: rgba(25, 45, 98, 0.75);
 -webkit-backdrop-filter: blur(0.5rem);
         backdrop-filter: blur(0.5rem);
 transform: translateY(-100%);
 z-index: 201;
}
.sticky_nav .scroll_past {
 transform: translateY(0);
}