footer {
 background: #000000;
 display: grid;
 grid-template-columns: var(--grid_layout);
 gap: var(--gap);
 row-gap: 0;
 margin-top: 3rem;
}
.call_to_action--section + footer {
 margin-top: 0rem;
}

.footer--top {
 grid-column: 2/-2;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 2rem 0;
 gap: var(--gap);
}
@media (max-width: 767px) {
 .footer--top {
  flex-direction: column;
 }
}
.footer--branding {
 width: 12.5rem;
}
.footer--navigation {
 flex-grow: 1;
 grid-column: 5/span 8;
 max-width: 50rem;
 display: grid;
 gap: 1.5rem;
 grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 767px) {
 .footer--navigation {
  grid-template-columns: repeat(2, 1fr);
 }
}
.footer--play {
 grid-column: 1/-1;
 display: flex;
 flex-wrap: wrap;
 --min_width: calc(40rem - 100%);
}
.footer--play_link {
 min-width: 33%;
 max-width: 100%;
 flex-grow: 1;
 flex-basis: calc(var(--min_width) * 999);
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 text-decoration: none;
}
.footer--end {
 --columns: 12;
 display: grid;
 grid-column: 2/-2;
 grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
 gap: var(--gap);
 padding: 2rem 0;
}
.footer--social_nav {
 grid-column: span 6;
}
.footer--credit, .footer--copyright {
 grid-column: span 3;
 color: #484a50;
}
.footer--credit p, .footer--copyright p {
 color: inherit;
 font-size: 0.625rem;
}
.footer--credit {
 text-align: right;
}

.footer_nav--column {
 display: flex;
 flex-direction: column;
 gap: 0.75rem;
}
.footer_nav--item {
 color: var(--theme_color-100);
 font-size: 0.875rem;
 font-weight: 300;
}
.footer_nav--item a {
 color: inherit;
 text-decoration: none;
}
.footer_nav--item.header {
 font-weight: 500;
}

.play_link--media {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 overflow: hidden;
}
.play_link--media img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 transition: 0.3s all;
}
a:hover .play_link--media img {
 scale: 1.125;
}
.play_link--media::after {
 display: block;
 content: "";
 background: rgba(0, 0, 0, 0.6);
 mix-blend-mode: multiply;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 transition: 0.3s all;
}
a:hover .play_link--media::after {
 background: rgba(0, 0, 0, 0.8);
}
.play_link--text {
 position: relative;
 padding: 4rem 0;
 text-align: center;
 color: #fff;
}
.play_link--text h3 {
 text-transform: uppercase;
 color: inherit;
 font-size: calc(0.9273vw + 2.3345rem);
}

.social_nav--list {
 display: flex;
 gap: 3.75rem;
 justify-content: center;
}
.social_nav--link {
 color: #fff;
 opacity: 0.6;
 transition: 0.3s all;
}
.social_nav--link:hover {
 opacity: 1;
}
.social_nav--icon {
 color: inherit;
}
.social_nav--icon * {
 fill: currentColor;
}