.graphic_hero--section {
 height: clamp(50vh, 35.3125rem, 90vh);
 overflow: hidden;
 padding: 0;
}
.nav-transparent .graphic_hero--section {
 padding-top: 5rem;
}
.graphic_hero--text_area {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 gap: 1rem;
 grid-column: 2/span 9;
 margin-block: var(--fr_unit);
}
.graphic_hero--text_content {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
 align-items: flex-start;
}
.graphic_hero--text_content .eyebrow {
 color: var(--theme_color-500);
}
.graphic_hero--text_content h1,
.graphic_hero--text_content p {
 color: #ffffff;
 max-width: 80ch;
}
.graphic_hero--media_area {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.graphic_hero--layer_1 {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.graphic_hero--layer_1::after {
 content: "";
 display: block;
 background-color: black;
 opacity: 0.25;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.graphic_hero--layer_1 img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.graphic_hero--layer_1 .faux_mask {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background: #a9bfeb;
 z-index: 2;
}
.graphic_hero--layer_2 {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 height: calc(100% - 0px);
 aspect-ratio: 1;
 transform: translate(-50%, -50%) rotate(35deg);
 border-radius: 50%;
 overflow: hidden;
}
.graphic_hero--layer_2 img {
 min-height: 100%;
 -o-object-fit: cover;
    object-fit: cover;
}
.graphic_hero--layer_3 {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 height: calc(100% - 200px);
 aspect-ratio: 1;
 border-radius: 50%;
 overflow: hidden;
}
.graphic_hero--layer_3::after {
 content: "";
 display: block;
 background-color: black;
 opacity: 0.15;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.graphic_hero--layer_3 img {
 min-height: 100%;
 -o-object-fit: cover;
    object-fit: cover;
}