@use "sass:color";
@use "../abstracts" as *;

// Featured Hero
// Visual: https://www.figma.com/file/oxtfUo8w4dRLkkJmcEBwpA/PHLVB---Website?node-id=134%3A20347&t=YZtFunZ3xKrlzhUX-1
// Dependancy: /js/setCustomAttr.js  = $(".reel--wrapper").each(function(){});

.graphic_hero {
	&-- {
		&section {
			height: clamp(50vh, 625/16 * 1rem, 90vh);
			overflow: hidden;
			padding: 0;
		}

		&text_area {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			gap: 1rem;
			grid-column: 2 / span 9;
			margin-block: var(--fr_unit);
		}
		&text_content {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			align-items: flex-start;

			.eyebrow {
				color: var(--theme_color-500);
			}
			h1,
			p {
				color: $white;
				max-width: 80ch;
			}
		}

		&media_area {
			@include cover_obj;
		}
		&layer_1 {
			&::after {
				content: "";
				display: block;
				background-color: black;
				opacity: 0.25;
				@include cover_obj;
			}
			img {
				@include cover_obj;
			}
		}
		&layer_2 {
			@include t-center;
			height: calc(100% - 0px);
			aspect-ratio: 1;
			transform: translate(-50%, -50%) rotate(35deg);
			border-radius: 50%;
			overflow: hidden;
			img {
				min-height: 100%;
				object-fit: cover;
			}
		}
		&layer_3 {
			@include t-center;
			height: calc(100% - 200px);
			aspect-ratio: 1;
			border-radius: 50%;
			overflow: hidden;
			&::after {
				content: "";
				display: block;
				background-color: black;
				opacity: 0.15;
				@include cover_obj;
			}
			img {
				min-height: 100%;
				object-fit: cover;
			}
		}
	} //--
}
