@use "sass:color";
@use "../abstracts" as *;

// Call to Action
// Visual:https://www.figma.com/file/oxtfUo8w4dRLkkJmcEBwpA/PHLVB---Website?type=design&node-id=279%3A41938&t=hDouzfnbvM1Nsxym-1
// Dependancy:

.header_nav {
	&-- {
		&container {
			position: sticky;

			top: 0;
			z-index: 100;
			width: 100%;
			padding: 0 calc(var(--page_margin) + var(--gap));
			@include xl {
				--page_margin: 5rem;
			}
			display: flex;
			color: var(--brand-100);
			font-family: $sans_font;
			font-size: 16/16 * 1rem;
			@include md {
				font-size: 15/16 * 1rem;
			}
			@include sm {
				font-size: 14/16 * 1rem;
			}
			font-weight: 500;
			align-items: center;
			transition: background-color 0.3s;
			&.nav_open {
				background: var(--brand-900);
			}
		} //container
		&branding {
			flex-grow: 1;
			padding: 0.5rem 0;
			@include sm {
				padding: 1rem 0;
			}
			@include xs {
				padding: 0.5rem 0;
			}
		}
		&logo {
			svg {
				height: 42/16 * 1rem;
				@include md {
					height: 36/16 * 1rem;
				}
				.logo-ball_color {
					fill: $white;
				}
				.logo-text_color {
					fill: var(--brand-200);
				}
			}
		}

		&actions {
			display: flex;
			gap: 1rem;
			align-items: stretch;
		}
	}
}

.primary_nav {
	&-- {
		&wrapper {
			display: contents;

			@include sm {
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				display: grid;
				grid-template-rows: 0fr;
				transition: grid-template-rows 0.5s;
				box-shadow: 0px 1.375rem 1.75rem rgba(0, 0, 0, 0.4);

				.nav_open & {
					grid-template-rows: 1fr;
				}
			}
		}
		&list {
			display: flex;
			padding: 6px 0;
			transition: padding 0.5s;

			@include md {
				//removes extra height
				padding: 0rem;
			}

			@include sm {
				//sets inline padding so it doens't change when opened
				padding: 0 2rem;
				overflow: hidden;
				flex-direction: column;
				background: var(--brand-900);
				// border-top: 1px solid var(--brand-700);
				gap: 24/16 * 1rem;
				.nav_open & {
					//adds padding to hte the top when animated out
					padding: 2rem;
					max-height: 80svh;
					// overflow: scroll;
				}
			}
			&:hover {
				> .primary_nav--item {
					opacity: 0.5;
					transition: 0.3s all;
					@include sm {
						opacity: 1;
					}
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		&item {
			position: relative;
			letter-spacing: 0.05em;
			@include sm {
				display: flex;
				flex-direction: column;
				gap: 6/16 * 1rem;
			}
		}
		&link {
			display: block;
			padding: 24/16 * 1rem 20/16 * 1rem;
			color: inherit;
			text-decoration: none;
			font-family: $sans_font-condensed;
			text-transform: uppercase;
			font-weight: 700;

			&:hover,
			&[hover="true"] {
				color: $brand-500;
				// font-style: italic;
			}

			@include md {
				padding: 20/16 * 1rem 20/16 * 1rem;
			}
			@include sm {
				// font-style: italic;
				font-size: 1.325rem;
				letter-spacing: 0.05em;
				margin-bottom: 0.5rem;
				color: var(--brand-200);
				padding: 0;
				margin-right: auto;
			}
		}

		&text {
			position: relative;
			letter-spacing: 0.05em;
		}
		&item &text::after {
			color: inherit;
			content: "";
			display: block;
			position: absolute;
			bottom: -0.25rem;
			left: 0;
			height: 0.125rem;
			width: 0%;
			transition: 0.15s all;
			background: currentColor;
		}
		&item:hover &text::after,
		&item[hover="true"] &text::after {
			width: 100%;
		}

		&dropdown {
			padding: 24/16 * 1rem;
			border-radius: var(--corner);
			display: flex;
			gap: 1rem;
			background-color: var(--brand-800);
			backdrop-filter: blur(2px);
			position: absolute;
			top: 70%;
			transition: 0.3s all;
			opacity: 0;
			transform-style: preserve-3d;
			transform: rotateX(-60deg);
			transform-origin: top center;
			pointer-events: none;
			.primary_nav--item:hover &,
			.primary_nav--item[hover="true"] & {
				opacity: 1;
				top: 90%;
				transform: rotateY(0) skewY(0);
				pointer-events: auto;
			}
			@include sm {
				position: relative;
				top: 0;
				transform: translate(0);
				opacity: 1;
				background: transparent;
				padding: 0;
				pointer-events: auto;
				.primary_nav--item:hover &,
				.primary_nav--item[hover="true"] & {
					top: 0;
					transform: translate(0);
					opacity: 1;
				}
			}
		}
	}
}

.secondary_nav {
	&-- {
		&list {
			display: flex;
			flex-direction: column;
			gap: 12/16 * 1rem;
			@include sm {
				gap: 0.5rem;
			}
			&.hide-xs {
				@include xs {
					display: none;
				}
			}
		}

		&item {
			display: flex;
			grid-area: 8/16 * 1rem;
		}
		&link {
			padding: 0.25rem 0;
			.bullet-indicator {
				display: none;
			}
		}
	}
}

.bullet- {
	&link {
		text-decoration: none;
		color: $brand-200;
		display: flex;
		gap: 0.75rem;
		min-width: 140/16 * 1rem;
		transition: 0.3s all;
		align-items: center;
		.current & {
			color: var(--brand-100);
		}
		&[aria-current="page"] {
			color: var(--brand-500);
		}

		&:hover,
		&[hover="true"] {
			color: var(--brand-500);
		}
	}
	&indicator {
		color: inherit;
		background-color: transparent;
		outline: 1/16 * 1rem solid currentColor;
		outline-offset: 3/16 * 1rem;
		width: 10/16 * 1rem;
		height: 10/16 * 1rem;
		border-radius: 50%;
		flex-shrink: 0;
		flex-grow: 0;

		.current & {
			background-color: currentColor;
		}
	}
	&text {
		flex-shrink: 0;
	}
}

.language {
	&-- {
		&selector {
			position: relative;
			@include f-center;
		}
		&button {
			width: 52/16 * 1rem;
			height: 24/16 * 1rem;
			border: 1/16 * 1rem solid currentColor;
			font-size: 13/16 * 1rem;
			color: var(--brand-200);
			background-color: transparent;
			font-family: $sans_font;
			border-radius: 0.25rem;
			@include f-center;
			gap: 4/16 * 1rem;
			line-height: 100%;
			font-weight: 700;
			transition: 0.3s all;
			&::after {
				display: block;
				content: "";
				width: 0;
				height: 0;
				border-left: 6/16 * 1em solid transparent;
				border-right: 6/16 * 1em solid transparent;
				border-top: 6/16 * 1em solid currentColor;
				margin-top: 0.125rem;
				transition: 0.3s all;
			}
		}
		&selector:hover &button {
			border: 1/16 * 1rem solidvar(--brand-500);
			color: var(--brand-500);
		}
		&selector.active &button {
			color: var(--brand-900);
			background-color: var(--brand-200);
			border: 2/16 * 1rem solid var(--brand-200);
			&::after {
				border-bottom: 0.25rem solid currentColor;
				border-top: 0rem solid currentColor;
			}
		}
		&current {
			// padding-top: 1/16 * 1rem;
		}
		&dropdown {
			padding: 24/16 * 1rem;
			border-radius: 12/16 * 1rem;
			display: flex;
			gap: 1rem;
			background-color: var(--brand-700);
			backdrop-filter: blur(2px);
			position: absolute;
			top: 70%;
			transition: 0.3s all;
			opacity: 0;
			transform-style: preserve-3d;
			transform: rotateX(-60deg);
			transform-origin: top center;
			right: 0;
		}

		&selector.active &dropdown {
			opacity: 1;
			top: 90%;
			transform: rotateY(0) skewY(0);
		}
		&list {
			display: flex;
			flex-direction: column;
			gap: 12/16 * 1rem;
		}
	}
}

.burger-- {
	&button {
		display: none;
		@include sm {
			display: block;
		}

		margin: auto 0;
		--size: #{26/16 * 1rem};
		background-color: transparent;
		border: 0;
		outline: 0;
		height: var(--size);
		width: var(--size);
		position: relative;
		flex-shrink: 0;
		color: $brand-100;
		padding: 0;

		span {
			height: calc(3 / 26 * var(--size));
			width: var(--size);
			@include t-center;
			background-color: currentColor;

			&:nth-child(1) {
				top: calc(50% - (8 / 26 * var(--size)));
				.nav_open & {
					top: 50%;
					transform: translate(-50%, -50%) rotate(45deg);
				}
			}
			&:nth-child(2) {
				.nav_open & {
					transform: translate(-50%, -50%) rotate(-135deg);
				}
			}
			&:nth-child(3) {
				top: calc(50% + (8 / 26 * var(--size)));
				.nav_open & {
					top: 50%;
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}
	}
}

#navigation--background {
	background-color: var(--brand-900);
	// backdrop-filter: blur(0.25rem);
	@include image_cover;
	z-index: -1;
	opacity: 1;
}

#close_nav {
	font-family: $sans_font-condensed;
	font-style: normal;
	font-weight: 800;
	font-style: italic;
	font-size: 20/16 * 1rem;
	line-height: 115%;
	// letter-spacing: -0.02em;
	text-transform: uppercase;
	color: $brand-500;

	background-color: transparent;
	border: 0;
	display: none;
	margin: 0 auto;
	position: relative;
	@include sm {
		display: inline-block;
	}

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 0.125em;
		background-color: currentColor;
		transition: 0.3s all;
	}
}

#nav_resources {
	.primary_nav--dropdown {
		right: 0;
	}
}

.header_nav--container[overlap="true"] {
	position: fixed;
	#navigation--background {
		background: var(--nav_color);
	}
}
