@use "sass:color";
@use "../abstracts" as *;

// Offset Block
// Visual:https://www.figma.com/file/oxtfUo8w4dRLkkJmcEBwpA/PHLVB---Website?type=design&node-id=984%3A90065&mode=design&t=swyBTdn00Heee6KC-1
// Dependancy:

/*css/blocks/offset_block.scss*/
.offset_block {
	&-- {
		&section {
			grid-template-rows: 1fr;
		} //section

		&media_area {
			grid-column: 2 / -2;
			grid-row: 1;
			min-height: 580/16 * 1rem;
			justify-content: flex-start;
			@include sm {
				min-height: 480/16 * 1rem;
			}
		} //media

		&media_content {
			width: calc(100% - var(--rp));
			height: calc(100% - var(--rp));
			margin-bottom: var(--rp);
			margin-right: var(--rp);
			img {
				@include cover_obj;
			}
		}

		&text_area {
			margin-top: auto;
			position: relative;
			grid-column: span 6 / -2;
			grid-row: 1;
			background-color: var(--brand-900);
			padding: var(--fr_unit) var(--rp);
			gap: var(--gap);
			border-radius: var(--corner);
			@include md {
				grid-column: span 8 / -2;
			}

			@include sm {
				grid-column: span 10 / -2;
				padding: var(--rp) var(--rp);
			}

			@include header_tags {
				color: var(--theme_color-500);
			}
			// p,
			// li {
			// 	color: $brand-50;
			// }
			p a {
				color: var(--theme_color-500);
			}
		} //text
		&text_content {
			gap: 0.5rem;
		}
	}
}
