.offset_block--section {
 grid-template-rows: 1fr auto;
}
.offset_block--media_area {
 grid-column: 2/span 12;
 grid-row: 1/span 2;
 min-height: 36.25rem;
 justify-content: flex-start;
}
.offset_block--media_content {
 width: calc(100% - var(--rp));
 margin-bottom: var(--rp);
 height: calc(100% - var(--rp));
}
.offset_block--media_content img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.offset_block--text_area {
 position: relative;
 grid-column: span 6/-2;
 grid-row: span 1/-1;
 background-color: #192d62;
 padding: var(--fr_unit) calc(var(--fr_unit) * 0.75);
 gap: var(--gap);
}
.offset_block--text_area h1,
.offset_block--text_area h2,
.offset_block--text_area h3,
.offset_block--text_area h4,
.offset_block--text_area h5,
.offset_block--text_area h6 {
 color: var(--theme_color-500);
}
.offset_block--text_area p,
.offset_block--text_area li {
 color: #edf0f8;
}
.offset_block--text_area p a {
 color: var(--theme_color-500);
}
.offset_block--text_content {
 gap: 1rem;
}