@use "sass:color";
@use "../abstracts" as *;

/*css/blocks/partners.scss*/
// Visual:
// Dependancy:

.partners {
	&-- {
		&section {
		}
		&text_area {
			grid-column: 2/-2;
		}
		&row {
			grid-column: 2/-2;
			position: relative;
			@include f-center;
			flex-wrap: wrap;
			gap: calc(var(--gap) * 2);
			border: 1px solid var(--theme_color-200);
			padding: 40/16 * 1rem;
			border-radius: 12/16 * 1rem;
		}
		&logo {
			img {
				max-height: 50/16 * 1rem;
				max-width: 250/16 * 1rem;
				mix-blend-mode: screen;

				.theme_light & {
					mix-blend-mode: multiply;
				}
			}
		}
	}
}
