@use "sass:color";
@use "../abstracts" as *;

/*css/blocks/quote_slider.scss*/
// Visual:
// Dependancy: text_area, media_area

.quote_slider-- {
	&slider {
		grid-column: 3 / -3;
		margin-bottom: auto;
		overflow: hidden;
	}

	&controls {
		grid-column: 3/-3;
		display: flex;
		gap: 10/16 * 1rem;
		justify-content: flex-end;
	}
	&button-next,
	&button-prev {
		display: flex;
		padding: 0.66819rem;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.66819rem;
		border-radius: 0.26725rem;
		background: var(--brand-100);
		border: 0;
		transition: 0.3s all;

		&:hover {
			background: var(--brand-500);
		}
		svg {
			* {
				stroke: var(--brand-900);
				stroke-width: 1.625;
			}
		}
	}

	&image_area {
		position: absolute;
		width: calc(var(--fr_unit) * 3);
		height: calc(var(--fr_unit) * 3);
		border-radius: 50%;
		overflow: hidden;
		top: 0;
		left: var(--rp);
		scale: 0;
		//transition out timing
		transition: 500ms all;

		background: #76affe;
		opacity: 0.3;

		.swiper-slide-active & {
			scale: 1;
			//transition in timing
			transition: 500ms 500ms all;
		}
		img {
			@include cover_obj;
			opacity: 0.8;
		}
	}
	&text_area {
		margin-top: var(--fr_unit);
		display: grid;
		@include inner_grid($c: 10);
		.text_content {
			grid-column: span 8 / -1;
			translate: 0 100%;
			opacity: 0;
			//transition out timing
			transition: 500ms all;

			.swiper-slide-active & {
				translate: 0 0;
				opacity: 1;
				//transition in timing
				transition: 500ms 500ms all;
			}
		}
	}
}
