/*css/blocks/grid_content.scss*/
.quote_slider--slider_area {
 grid-column: 3/-3;
}
@media (max-width: 991px) {
 .quote_slider--slider_area {
  grid-column: 2/-3;
 }
}
@media (max-width: 767px) {
 .quote_slider--slider_area {
  grid-column: 3/-3;
 }
}
.quote_slider--button-container {
 grid-column: span 2/-3;
 display: flex;
 gap: 1rem;
 justify-content: flex-end;
}
@media (max-width: 991px) {
 .quote_slider--button-container {
  grid-column: 2/-3;
 }
}
.quote_slider--button {
 padding: 0.625rem;
 border-radius: 0.25rem;
 background: #bccceb;
 position: relative;
 inset: auto;
 height: auto;
}
.quote_slider--button::after {
 display: none;
}
.quote_slider--button svg path {
 stroke: #192d62;
 stroke-width: 1.5;
}
.quote_slider--slide {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: var(--gap);
 position: relative;
}
.quote_slider--slide .text_area {
 transition: 0.3s all;
 box-sizing: border-box;
 margin-left: calc((var(--gap) + var(--fr_unit) + var(--gap)) * -1);
 margin-top: calc(var(--gap) + var(--fr_unit) + var(--gap));
}
@media (max-width: 767px) {
 .quote_slider--slide .text_area {
  margin: 0;
 }
}
.quote_slider--slide h3 {
 display: inline-block;
 overflow: hidden;
 line-height: 135%;
}
.quote_slider--slide h3 span {
 display: block;
 width: 100%;
 transition: all 400ms ease-in-out;
 transform: translateY(100%);
 opacity: 0;
}
.quote_slider--slide h3 span:nth-child(1) {
 transition-delay: 0.1s;
}
.quote_slider--slide h3 span:nth-child(2) {
 transition-delay: 0.2s;
}
.quote_slider--slide h3 span:nth-child(3) {
 transition-delay: 0.3s;
}
.quote_slider--slide h3 span:nth-child(4) {
 transition-delay: 0.4s;
}
.quote_slider--slide h3 span:nth-child(5) {
 transition-delay: 0.5s;
}
.quote_slider--slide h3 span:nth-child(6) {
 transition-delay: 0.6s;
}
.quote_slider--slide h3 span:nth-child(7) {
 transition-delay: 0.7s;
}
.quote_slider--slide h3 span:nth-child(8) {
 transition-delay: 0.8s;
}
.quote_slider--slide h3 span:nth-child(9) {
 transition-delay: 0.9s;
}
.quote_slider--slide h3 span:nth-child(10) {
 transition-delay: 1s;
}
.quote_slider--slide.swiper-slide-active {
 transition: all 1000ms ease-in-out;
}
.quote_slider--slide.swiper-slide-active h3 span {
 display: inline-block;
 transition: all 1000ms ease-in-out;
 transform: translateY(0%);
 opacity: 1;
}
@media (max-width: 767px) {
 .quote_slider--media_area {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  translate: -50% -50%;
 }
}
.quote_slider--media_area .media_content {
 background: #76affe;
 border-radius: 50%;
 opacity: 0.3;
 transition: 0.3s all;
}
.quote_slider--media_area .media_content img {
 transition: 0.3s all;
 opacity: 0.5;
 filter: grayscale(1);
}