@use "sass:color";
@use "../abstracts" as *;

/*css/blocks/grid_content.scss*/
// Visual:
// Dependancy: text_area, media_area

.quote_slider-- {
	&slider_area {
		grid-column: 3/-3;
		@include md {
			grid-column: 2/-3;
		}
		@include sm {
			grid-column: 3/-3;
		}
	}
	&button-container {
		grid-column: span 2/-3;
		display: flex;
		gap: 1rem;
		justify-content: flex-end;
		@include md {
			grid-column: 2/-3;
		}
	}

	&button {
		padding: 10/16 * 1rem;
		border-radius: 0.25rem;
		background: $brand-100;
		position: relative;
		inset: auto;
		height: auto;
		&::after {
			display: none;
		}
		svg {
			// width: ;
			path {
				stroke: $brand-900;
				stroke-width: 1.5;
			}
		}
	}
	&slide {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--gap);
		position: relative;
		.text_area {
			transition: 0.3s all;

			box-sizing: border-box;
			margin-left: calc((var(--gap) + var(--fr_unit) + var(--gap)) * -1);
			margin-top: calc((var(--gap) + var(--fr_unit) + var(--gap)));
			@include sm {
				margin: 0;
			}
		}

		h3 {
			display: inline-block;
			overflow: hidden;
			line-height: 135%;
			span {
				display: block;
				width: 100%;
				transition: all 400ms ease-in-out;
				transform: translateY(100%);
				opacity: 0;

				@for $i from 1 through 10 {
					&:nth-child(#{$i}) {
						transition-delay: #{$i / 10}s;
					}
				}
			}
		}
	}
	&slide.swiper-slide-active {
		transition: all 1000ms ease-in-out;
		h3 {
			span {
				display: inline-block;
				transition: all 1000ms ease-in-out;
				transform: translateY(0%);
				opacity: 1;
			}
		}
	}

	&media_area {
		@include sm {
			position: absolute;
			top: 0;
			left: 0;
			width: 80/16 * 1rem;
			translate: -50% -50%;
		}
		.media_content {
			background: $brand-500;
			border-radius: 50%;
			opacity: 0.3;
			transition: 0.3s all;

			img {
				transition: 0.3s all;
				opacity: 0.5;
				filter: grayscale(1);
			}
		}
	}
}
