/*css/blocks/quote_slider.scss*/
.quote_slider--slider {
 grid-column: 3/-3;
 margin-bottom: auto;
 overflow: hidden;
}
.quote_slider--controls {
 grid-column: 3/-3;
 display: flex;
 gap: 0.625rem;
 justify-content: flex-end;
}
.quote_slider--button-next, .quote_slider--button-prev {
 display: flex;
 padding: 0.66819rem;
 flex-direction: column;
 align-items: flex-start;
 gap: 0.66819rem;
 border-radius: 0.26725rem;
 background: var(--brand-100);
 border: 0;
 transition: 0.3s all;
}
.quote_slider--button-next:hover, .quote_slider--button-prev:hover {
 background: var(--brand-500);
}
.quote_slider--button-next svg *, .quote_slider--button-prev svg * {
 stroke: var(--brand-900);
 stroke-width: 1.625;
}
.quote_slider--image_area {
 position: absolute;
 width: calc(var(--fr_unit) * 3);
 height: calc(var(--fr_unit) * 3);
 border-radius: 50%;
 overflow: hidden;
 top: 0;
 left: var(--rp);
 scale: 0;
 transition: 500ms all;
 background: #76affe;
 opacity: 0.3;
}
.swiper-slide-active .quote_slider--image_area {
 scale: 1;
 transition: 500ms 500ms all;
}
.quote_slider--image_area img {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 opacity: 0.8;
}
.quote_slider--text_area {
 margin-top: var(--fr_unit);
 display: grid;
 --columns: 10;
 display: grid;
 grid-column: 2/-2;
 grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
 gap: var(--gap);
}
.quote_slider--text_area .text_content {
 grid-column: span 8/-1;
 translate: 0 100%;
 opacity: 0;
 transition: 500ms all;
}
.swiper-slide-active .quote_slider--text_area .text_content {
 translate: 0 0;
 opacity: 1;
 transition: 500ms 500ms all;
}