@use "sass:color";
@use "../abstracts" as *;

// Featured Hero
// Visual: https://www.figma.com/file/oxtfUo8w4dRLkkJmcEBwpA/PHLVB---Website?node-id=134%3A20347&t=YZtFunZ3xKrlzhUX-1
// Dependancy: /js/setCustomAttr.js  = $(".reel--wrapper").each(function(){});

.reel-- {
	&section {
		padding-block: calc(var(--padding_base) * 0.5);
	}
	&label {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		h2 {
			writing-mode: vertical-lr;
			rotate: 180deg;
			font-size: 1.07144rem;
			font-style: normal;
			font-weight: 500;
			line-height: 115%; /* 1.23213rem */
			letter-spacing: -0.02144rem;
			text-transform: uppercase;
		}
	}

	&wrapper {
		grid-column: 1/-1;
		//Fall back value for autoGrid
		//Value set using javascript to allow cards to scale slightly but maintain rendered size between 140px-160px
		//--autoGrid: calc((1000 - (renderedWwidth) +  ) / 12 * 1%);
		--autoGrid_static: 28%;
		display: flex;
		padding-left: var(--gap);
		gap: var(--gap);

		// -webkit-mask-image: linear-gradient(to left, transparent 0%, black 10%);
		// mask-image: linear-gradient(to left, transparent 0%, black 10%);

		// height: 100%;
		// padding: var(--gap) var(--gap) var(--gap) 0;

		/* Hide scrollbar for IE, Edge and Firefox */
	}
	&list {
		display: grid;
		gap: var(--gap);
		grid-auto-flow: column;
		padding: var(--gap);
		grid-auto-columns: var(--autoGrid_static);
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		// min-width: 100%;

		> * {
			scroll-snap-align: start;
			&:last-child {
				margin-right: var(--gap);
			}
		}
		&::-webkit-scrollbar {
			display: none;
		}
		& {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}

		.card.icon_card {
			border-radius: calc(0.5 * var(--corner));
			padding: 1.5rem;
			h3 {
				font-size: calc(0.9273vw + 0.53345rem);
			}
			p {
				font-size: calc(0.244vw + 0.7684875rem);
			}
			.icon_card--text_content:last-child {
				display: none;
			}
		}
	}
}
