@use "sass:color";
@use "../abstracts" as *;

/*css/blocks/slider_hero.scss*/
// Slider Hero
// Visual:
// Dependancy: swiper.js

.slider_hero {
	&-- {
		&section {
		}
		&slider_area {
			@include cover_obj;
			overflow: hidden;
			&::after {
				@include psuedo_el;
				background: black;
				z-index: 1;
				opacity: 0.5;
				mix-blend-mode: multiply;
				pointer-events: none;
			}
		}
		&pagination {
			position: absolute;
			--swiper-pagination-bottom: 0;
			bottom: 0;
			width: 100%;
			left: 0;
			right: 0;
			padding: var(--gap);
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&slide {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&text_area {
			grid-column: 4 / span 8;
			position: relative;
			z-index: 2;
			padding: var(--section_padding) 0;
			align-items: center;
			justify-content: center;
			text-align: center;
			@include header_tags {
				color: #fff;

				&[event-type="grass"],
				[event-type="grass"] & {
					--_theme_color-500: #{$grass-500};
					--_theme_color-200: #{$grass-200};
				}

				&[event-type="indoor"],
				[event-type="indoor"] & {
					--_theme_color-500: #{$indoor-500};
					--_theme_color-200: #{$indoor-200};
				}

				&[event-type="beach"],
				[event-type="beach"] & {
					--_theme_color-500: #{$beach-500};
					--_theme_color-200: #{$beach-200};
				}

				&[event-type="clinic"],
				[event-type="clinic"] & {
					--_theme_color-500: #{$brand-500};
					--_theme_color-200: #{$brand-200};
				}
				&[event-type="sitting"],
				[event-type="sitting"] & {
					--_theme_color-500: #{$brand-500};
					--_theme_color-200: #{$brand-200};
				}
			}

			h6 {
				color: var(--_theme_color-500);
			}
			p {
				color: var(--theme_color-50, #edf0f8);
			}
		}
		&text_content {
			align-items: center;
			justify-content: center;
			text-align: center;
		}
		&overlay {
			pointer-events: none;
			@include image_cover;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
				linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 28.13%);
			mix-blend-mode: multiply;
			z-index: 1;
		}
		&pagination {
			--swiper-pagination-bullet-horizontal-gap: #{10/16 * 1rem};
			--swiper-pagination-bottom: var(--gap);
			transition: 0.3s all;

			.swiper-pagination-bullet {
				transition: 0.3s all;
				--swiper-pagination-bullet-width: #{30/16 * 1rem};
				--swiper-pagination-bullet-height: #{4/16 * 1rem};
				--swiper-pagination-bullet-border-radius: 1rem;
				--swiper-pagination-bullet-inactive-color: var(--theme_color-50);
				--swiper-pagination-bullet-inactive-opacity: 0.5;
				--swiper-pagination-bullet-active-width: #{80/16 * 1rem};
				--swiper-pagination-bullet-active-color: var(--theme_color-500);
			}

			.swiper-pagination-bullet-active {
				background-color: var(--swiper-pagination-bullet-active-color);
				width: var(--swiper-pagination-bullet-active-width);
			}
		}
	} //--
}

// .faux_mask {
// 	@include image_cover;
// 	background-color: var(--theme_color-500);
// 	transition: 0.5s 0.5s all;

// 	.swiper-slide-active & {
// 		transform: translateX(-100%);
// 	}
// }
