/*css/blocks/slider_hero.scss*/
.slider_hero--slider_area {
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 overflow: hidden;
}
.slider_hero--slider_area::after {
 display: block;
 content: "";
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 background: black;
 z-index: 1;
 opacity: 0.5;
 mix-blend-mode: multiply;
 pointer-events: none;
}
.slider_hero--pagination {
 position: absolute;
 --swiper-pagination-bottom: 0;
 bottom: 0;
 width: 100%;
 left: 0;
 right: 0;
 padding: var(--gap);
 display: flex;
 justify-content: center;
 align-items: center;
}
.slider_hero--slide img {
 width: 100%;
 height: 100%;
 -o-object-fit: cover;
    object-fit: cover;
}
.slider_hero--text_area {
 grid-column: 4/span 8;
 position: relative;
 z-index: 2;
 padding: var(--section_padding) 0;
 align-items: center;
 justify-content: center;
 text-align: center;
}
.slider_hero--text_area h1,
.slider_hero--text_area h2,
.slider_hero--text_area h3,
.slider_hero--text_area h4,
.slider_hero--text_area h5,
.slider_hero--text_area h6 {
 color: #fff;
}
.slider_hero--text_area h1[event-type=grass], [event-type=grass] .slider_hero--text_area h1,
.slider_hero--text_area h2[event-type=grass],
[event-type=grass] .slider_hero--text_area h2,
.slider_hero--text_area h3[event-type=grass],
[event-type=grass] .slider_hero--text_area h3,
.slider_hero--text_area h4[event-type=grass],
[event-type=grass] .slider_hero--text_area h4,
.slider_hero--text_area h5[event-type=grass],
[event-type=grass] .slider_hero--text_area h5,
.slider_hero--text_area h6[event-type=grass],
[event-type=grass] .slider_hero--text_area h6 {
 --_theme_color-500: #94d13d;
 --_theme_color-200: #d1f095;
}
.slider_hero--text_area h1[event-type=indoor], [event-type=indoor] .slider_hero--text_area h1,
.slider_hero--text_area h2[event-type=indoor],
[event-type=indoor] .slider_hero--text_area h2,
.slider_hero--text_area h3[event-type=indoor],
[event-type=indoor] .slider_hero--text_area h3,
.slider_hero--text_area h4[event-type=indoor],
[event-type=indoor] .slider_hero--text_area h4,
.slider_hero--text_area h5[event-type=indoor],
[event-type=indoor] .slider_hero--text_area h5,
.slider_hero--text_area h6[event-type=indoor],
[event-type=indoor] .slider_hero--text_area h6 {
 --_theme_color-500: #f16122;
 --_theme_color-200: #f0c4b5;
}
.slider_hero--text_area h1[event-type=beach], [event-type=beach] .slider_hero--text_area h1,
.slider_hero--text_area h2[event-type=beach],
[event-type=beach] .slider_hero--text_area h2,
.slider_hero--text_area h3[event-type=beach],
[event-type=beach] .slider_hero--text_area h3,
.slider_hero--text_area h4[event-type=beach],
[event-type=beach] .slider_hero--text_area h4,
.slider_hero--text_area h5[event-type=beach],
[event-type=beach] .slider_hero--text_area h5,
.slider_hero--text_area h6[event-type=beach],
[event-type=beach] .slider_hero--text_area h6 {
 --_theme_color-500: #f9d452;
 --_theme_color-200: #f0e6b5;
}
.slider_hero--text_area h1[event-type=clinic], [event-type=clinic] .slider_hero--text_area h1,
.slider_hero--text_area h2[event-type=clinic],
[event-type=clinic] .slider_hero--text_area h2,
.slider_hero--text_area h3[event-type=clinic],
[event-type=clinic] .slider_hero--text_area h3,
.slider_hero--text_area h4[event-type=clinic],
[event-type=clinic] .slider_hero--text_area h4,
.slider_hero--text_area h5[event-type=clinic],
[event-type=clinic] .slider_hero--text_area h5,
.slider_hero--text_area h6[event-type=clinic],
[event-type=clinic] .slider_hero--text_area h6 {
 --_theme_color-500: #76affe;
 --_theme_color-200: #a9bfeb;
}
.slider_hero--text_area h1[event-type=sitting], [event-type=sitting] .slider_hero--text_area h1,
.slider_hero--text_area h2[event-type=sitting],
[event-type=sitting] .slider_hero--text_area h2,
.slider_hero--text_area h3[event-type=sitting],
[event-type=sitting] .slider_hero--text_area h3,
.slider_hero--text_area h4[event-type=sitting],
[event-type=sitting] .slider_hero--text_area h4,
.slider_hero--text_area h5[event-type=sitting],
[event-type=sitting] .slider_hero--text_area h5,
.slider_hero--text_area h6[event-type=sitting],
[event-type=sitting] .slider_hero--text_area h6 {
 --_theme_color-500: #76affe;
 --_theme_color-200: #a9bfeb;
}
.slider_hero--text_area h6 {
 color: var(--_theme_color-500);
}
.slider_hero--text_area p {
 color: var(--theme_color-50, #edf0f8);
}
.slider_hero--text_content {
 align-items: center;
 justify-content: center;
 text-align: center;
}
.slider_hero--overlay {
 pointer-events: none;
 position: absolute;
 width: 100%;
 height: 100%;
 inset: 0;
 -o-object-fit: cover;
    object-fit: cover;
 background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 28.13%);
 mix-blend-mode: multiply;
 z-index: 1;
}
.slider_hero--pagination {
 --swiper-pagination-bullet-horizontal-gap: 0.625rem;
 --swiper-pagination-bottom: var(--gap);
 transition: 0.3s all;
}
.slider_hero--pagination .swiper-pagination-bullet {
 transition: 0.3s all;
 --swiper-pagination-bullet-width: 1.875rem;
 --swiper-pagination-bullet-height: 0.25rem;
 --swiper-pagination-bullet-border-radius: 1rem;
 --swiper-pagination-bullet-inactive-color: var(--theme_color-50);
 --swiper-pagination-bullet-inactive-opacity: 0.5;
 --swiper-pagination-bullet-active-width: 5rem;
 --swiper-pagination-bullet-active-color: var(--theme_color-500);
}
.slider_hero--pagination .swiper-pagination-bullet-active {
 background-color: var(--swiper-pagination-bullet-active-color);
 width: var(--swiper-pagination-bullet-active-width);
}